[2021-12-17 22:38] repo-mountie[bot] opened #1 "Lets use common phrasing"
## TL;DR 🏎️

Teams are encouraged to favour modern inclusive phrasing both in their communication as well as in any source checked into their repositories. You'll find a table at the end of this text with preferred phrasing to socialize with your team.

## Words Matter

We're aligning our development community to favour inclusive phrasing for common technical expressions. There is a table below th

[2021-12-17 22:38] repo-mountie[bot] opened #2 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2021-12-17 22:39] repo-mountie[bot] opened #3 "Add project lifecycle badge"
## No Project Lifecycle Badge found in your readme!
Hello! I scanned your readme and could not find a project lifecycle badge. A project lifecycle badge will provide contributors to your project as well as other stakeholders (platform services, executive) insight into the lifecycle of your repository.
## What is a Project Lifecycle Badge?
It is a simple image that neatly describes your project's s

[2021-12-22 19:00] Abuchana opened #5 "Test"
Testing

[2021-12-22 19:04] Abuchana commented on #5
Test, test, test

[2022-01-12 16:35] #5 closed

[2022-01-12 16:36] schuyt opened #6 "As a PSA employee (admin) I can log in to the admin portal"

[2022-01-12 17:14] schuyt opened #7 "As a PSA employee (admin) I can create a new form"

[2022-01-12 17:18] schuyt opened #8 "As a BC Gov Employee I can log in"

[2022-01-12 17:19] schuyt opened #9 "As a BC Gov employee I would like to view a form that has been created"

[2022-01-12 17:21] schuyt opened #10 "As a BC Gov Employee I would like to be able to submit a form"

[2022-01-12 18:49] schuyt commented on #10
- Admin can log in and see the submitted form

[2022-01-13 22:29] schuyt opened #11 "Branded look-and-feel for forms"
As a digital journey user I would like to see a branded consistent look-and-feel for forms

**Acceptance Criteria**
- Styles from the BC Gov Design System:  https://developer.gov.bc.ca/Design-System/Navigation-Bar-Basic are applied to the listed components
- Import and apply government approved BC Sans font as per the BC Gov Design System
- Consider Colours match style guide
- Consider font-size &

[2022-01-17 17:25] schuyt opened #12 "Standup Journeys Platform in a Dev environment"

[2022-01-17 17:53] Stella-Archer opened #13 "Mat/Pat Live content"
Current Live Mat Content:
URL: https://www2.gov.bc.ca/gov/content/careers-myhr/all-employees/leave-time-off/maternity-parental-pre-placement-adoption

GUID: https://www2.gov.bc.ca/gov/content?id=27BAE0639A554944A2F3E234CA35D5D4

[2022-01-17 18:55] schuyt opened #14 "Ability to sign/agree to reviewed material"
As a BC Gov Employee I can sign/agree to reviewed material

**Acceptance Criteria**

For the tele-work journey:

- Employee **Name**
- Employee **Position**
- Employee [**Signature**](https://help.form.io/userguide/forms/form-components#signature)
- **Date** of signature/agreement ([date/time](https://help.form.io/userguide/forms/form-components#date-time) or [day](https://help.form.io/userguide/f

[2022-01-17 18:56] schuyt opened #15 "Tele-work Journey - Submission"

[2022-01-17 18:57] schuyt opened #16 "Re-useable FOIP text element"
As a forms designer I can easily provide info on FOIP in the form

**Acceptance Criteria**

- Can provide information on FOIP on a form where employees are providing personal information

e.g.
`All personal information is collected in accordance with section 26(c) and (e) of the Freedom of Information and Protection of Privacy Act for the purposes identified above.  Any questions or concerns regar

[2022-01-17 18:58] schuyt commented on #16
**Acceptance Criteria**
- Can provide information on FOIP on a form where employees are providing personal information

e.g.
`All personal information is collected in accordance with section 26(c) and (e) of the Freedom of Information and Protection of Privacy Act for the purposes identified above.  Any questions or concerns regarding the collection of your information may be directed by submittin

[2022-01-17 20:34] schuyt opened #17 "Auto-populate user info"
As a BC Gov Employee I can provide my identity information and agree to reviewed material in the form

**Acceptance Criteria**

Auto-populate - Employee name
- Employee email
- Employee position (job title)
- Supervisor name
- Supervisor email
- A checkbox indicating they've reviewed and agree with information
  - _I have reviewed, acknowledge and understand the above criteria as they apply to thi

[2022-01-17 22:20] Stella-Archer commented on #13
Current Live Content:
URL: https://www2.gov.bc.ca/gov/content/careers-myhr/all-employees/leave-time-off/maternity-parental-pre-placement-adoption
GUID: https://www2.gov.bc.ca/gov/content?id=27BAE0639A554944A2F3E234CA35D5D4

Current Live Form:
URL: https://www2.gov.bc.ca/assets/gov/careers/all-employees/leave-and-time-off/mppa_leave_allowance_application.pdf
GUID: https://www2.gov.bc.ca/assets/down

[2022-01-17 22:30] MeghanStothers opened #18 "SME interviews/discovery"

[2022-01-17 22:56] schuyt opened #19 "Ability to provide postal address & phone"
As a BC Gov Employee I can enter a postal address

**Acceptance Criteria**

- BC Gov Employee can provide their **postal address**
- - Street Address
- - City
- - Province
- - Postal Code
- - Ministry (if available)
- Address field has some contextual info on which address to provide (text)
- BC Gov Employee can provide their **phone number**

**Notes**
- Start as a text box, but later we can cons

[2022-01-18 22:44] Stella-Archer commented on #18
test

[2022-01-18 23:11] MeghanStothers commented on #18
received!

From: Stella-Archer ***@***.***>
Sent: January 18, 2022 2:45 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Stothers, Meghan PSA:EX ***@***.***>; Author ***@***.***>
Subject: Re: [bcgov/digital-journeys] SME interviews/discovery (Issue #18)

[EXTERNAL] This email came from an external source. Only open attachments or links that you are expecting from a known sender.

test

—
Reply to th

[2022-01-19 16:42] schuyt opened #20 "Auto-populate user data when logged in"
As a BC Gov Employee my data can auto-populate form fields when I am logged in so that I can save time completing my journey.

[2022-01-19 17:01] schuyt opened #21 "Ability to save a form and complete later"
As a BC Gov Employee I would like to be able to save a partially completed form and return later to complete it without losing information I've already entered.

[2022-01-20 17:30] schuyt opened #22 "Auto-generate PDF on form submission"
_As a BC Gov Employee I would like to receive a PDF copy of the form I submitted so I can reference the form later if needed._

_As a Supervisor I would like to receive a PDF copy of the form that was submitted so that I can review the submission easily and have a copy for my records._

_As a form designer I would like to specify that a PDF copy be generated when a form is designed so that I can u

[2022-01-24 16:59] schuyt opened #24 "As a form submitter I can receive an email confirmation on submission"
As a form submitter,  I would like to be able to receive an email confirmation when I submit a form

**Acceptance Criteria**
- On submission of a form an email is successfully sent to the submitter

**Test Notes**
- Will want to setup a mail trap for now

**Tech Notes:**
- [SMTP setup](https://help.form.io/developers/email-integrations#smtp)

[2022-01-24 17:19] schuyt opened #25 "Tele-work journey- Approvals"

[2022-01-25 20:10] qudsia-khan-fw opened #26 "The non-admin user is able to view submissions from other users"
**Background:** The non-admin user is able to view submissions from other users.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin user with valid credentials.
2. Click on "Applicaitons".
3. Click on "View".

**Actual Behavior:** The non-admin user is able to view submissions from other users.

**Expected Behavior:** The non-admin user should be able to on

[2022-01-25 20:22] qudsia-khan-fw opened #27 "The form title and status is not updated on the "Metrics" screen"
**Background:** The non-admin user is able to view submissions from other users.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Submit an existing form.
3. Edit the title of the submitted form and submit the new version.
4. Fill out the edited form.
5. Submit the form.
6. Click on "Dashboards".
7. Click on the submitted form box.
8. View the

[2022-01-25 20:32] qudsia-khan-fw commented on #27
**Background:** The non-admin user is able to view submissions from other users.

**Steps to Reproduce:**

1. Login to the PSA-Digital-Journey portal on dev with valid credentials.
2. Submit an existing form.
3. Edit the title of the submitted form and submit the new version.
4. Fill out the edited form.
5. Submit the form.
6. Click on "Dashboards".
7. Click on the submitted form box.
8. View the

[2022-01-25 20:34] qudsia-khan-fw commented on #27
![DJ-Metrics2.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/528e83d9-d461-4385-9431-338c25f1b2bb)

[2022-01-25 20:37] qudsia-khan-fw opened #28 "The user should be displayed with a message after form submission"
**Background:** The user should be displayed with the toast message upon form submission

**Actual Behavior:** Currently, after submitting the form, the user is displayed with the toast "Submission Saved".

**Expected Behavior:** The user should be displayed with a more user-friendly message:

"Thank you for your submission. Once your submission has been reviewed by your supervisor, you will recei

[2022-01-25 20:40] qudsia-khan-fw commented on #28
**Background:** The user should be displayed with the toast message "Your form was successfully submitted".

**Actual Behavior:** Currently, after submitting the form, the user is displayed with the toast "Submission Saved".

**Expected Behavior:** The user should be displayed with a more user-friendly message such as "Your form was successfully submitted" or "Thank you for your submission".

[2022-01-25 21:08] schuyt opened #29 "User can login with IDIR"
As a Digital Journeys users I can login to the system using my IDIR

**Acceptance Criteria**
- Can login with IDIR account

**Tech Notes**
- Can we get our own keycloak realm for this (likely)?

**Notes:**
- Roles will applied later via the UI

[2022-01-25 21:10] schuyt opened #30 "Ability to log in to the system"
As a digital journeys user I can login to the system

**A/C**
- User can login with their IDIR

[2022-01-26 15:33] qudsia-khan-fw opened #31 "The user is displayed with the submitted form's data when he clicks on "View/Edit" form"
**Background:** The user is displayed with the submitted form's data when he clicks on "View/Edit" form.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as an admin with valid credentials.
2. Click on "Submit New" on an existing form.
3. Fill it out and submit the form.
4. Click on the "View/Edit" form.

**Actual Behavior:** The user is displayed with the submitted for

[2022-01-26 16:47] #30 closed

[2022-01-26 16:53] qudsia-khan-fw opened #32 "Updating the title of a form does not update its name and path"
**Background**: Updating the title of a form does not update its name and path

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as an admin with valid credentials.
2. Edit the title on an existing form and note its old name.
3. Create a new form and input the "Title" with the name of the old form.

**Actual Behavior:** The user is displayed with name/path error.
Editing

[2022-01-26 18:07] #6 closed

[2022-01-26 18:07] #8 closed

[2022-01-26 18:07] #7 closed

[2022-01-26 18:07] #10 closed

[2022-01-26 18:16] schuyt opened #33 "Test environment"
As a PSA Employee I can access formsflow on a test environment.

**A/C**

- formsflow.ai can be accessed by a PSA employee in a BC Gov test environment

[2022-01-26 18:25] GRGODFREY opened #34 "User Access Matrix"
As the PO I need to be able to easily review our user roles and permissions in a single document.

Acceptance criteria:
- Single table document representative of all actors and permissions
- Clearly defined permission sets

[2022-01-26 18:29] GRGODFREY opened #35 "Onboarding / Off-boarding Process Document"
As the PO I need to be able to review our onboarding and off-boarding process in a single concise document.

Acceptance Criteria:
- Clearly defined document that illustrates end-to-end onboarding and offboarding processes

[2022-01-26 19:01] schuyt opened #36 "Standup Journeys Platform in a Test environment"

[2022-01-27 16:49] qudsia-khan-fw opened #37 "Viewing submissions as a non-admin from the "Applications" tab throws a 502"
**Background:** Viewing submissions as a non-admin from the "Applications" tab throws a 502 error.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin with valid credentials.
2. Click on "Applications".
3. Click on "View" under "Link to Form Submission".

**Actual Behavior:** The user is displayed with a 502.
![DJ502.png](https://images.zenhubusercontent.com

[2022-01-27 16:51] qudsia-khan-fw opened #38 "The user is not displayed with any errors if he does not fill out the required form fields"
**Background:** The user is not displayed with any errors if he does not fill out the required form fields.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Fill out a form that has required fields such as "Telework Agreement Qud". Do not fill in the required fields.
3. Click on "Submit".

**Actual Behavior:** The user is not displayed with an

[2022-01-27 18:25] qudsia-khan-fw opened #39 "The non-admin user is displayed with the deleted form on the list"
**Background:** The non-admin user is displayed with the deleted form on the list.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as an admin with valid credentials.
2. Delete a published form.
3. Log in to the PSA-Digital-Journey portal on dev as a non-admin with valid credentials.
4. Click on the "Submit New" button for the deleted form.

**Actual Behavior:**  The n

[2022-01-27 20:20] schuyt opened #40 "Ability for Supervisor to approve forms"
_As a supervisor/manager, I would like to be able to approve forms after they've been submitted_

**A/C**
- Supervisor section of the form is only editable if you are the supervisor
- Supervisor can see the entire form
- Supervisor can authenticate with IDIR
- Supervisor can load submitted form
- Supervisor can add their info and signature
- Supervisor can add **comments**
- Hide ADM approval sect

[2022-01-27 20:25] schuyt opened #41 "Formsflow.ai can be access in a PRODUCTION environment"

[2022-01-27 20:27] schuyt opened #42 "Standup Journeys platform in a PROD environment"

[2022-01-28 17:07] qudsia-khan-fw opened #44 "Confirmation pop-up when submitting the form"
**Background:** The user is not  displayed with a confirmation pop-up when submitting the form.

**Steps to Reproduce:**
1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Fill out a form.
3. Click "Submit".

**Actual Behavior:** The user is not  displayed with a confirmation pop-up when submitting the form.

**Expected Behavior:** The user should be displayed with a con

[2022-01-28 17:20] qudsia-khan-fw opened #45 "TOOL: Display created at/last edited by name and date on the form"
It will be user-friendly to display the name of the person who created/last edited the form and the date.

Also, on the "Dashboards" > "Metrics" screen, there is a drop-down to select the options "Created Date" and "Modified Date", but the user has no idea on the dates of any of the forms.

[2022-01-28 17:57] schuyt commented on #11
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Digital-Journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/11?planning-poker) with ZenHub @simensma-fresh @qudsia-khan-fw @iman-jamali-fw

[2022-01-28 18:55] qudsia-khan-fw opened #46 "The user is not displayed with a warning pop-up when navigating back from the edit and submit form screen"
**Background:** The user is not displayed with a warning pop-up when navigating back from the edit and submit form screen.

**Steps to Reproduce:**
1. Log in to the PSA-Digital-Journey portal on dev as an admin or designer with valid credentials.
2. Click on "View/Edit" form.
3. Make some changes. Do not click on "Save Form".
4. Click on the blue back arrow on the top left of the edit screen.
5. L

[2022-01-30 21:23] MeghanStothers opened #47 "Mat/paternity sessions with users and business areas"
[Maternity/Paternity Teams channel resources](url):
https://teams.microsoft.com/l/channel/19%3ad6335f6318bb40808b0ca0e79e76db50%40thread.tacv2/Maternity%2520and%2520Paternity?groupId=b4f3d2e7-7ee8-4f52-a981-039d66932eb3&tenantId=6fdb5200-3d0d-4a8a-b036-d3685e359adc

[2022-01-30 21:31] MeghanStothers opened #48 "Salary calculation tool"

[2022-01-30 21:40] MeghanStothers opened #49 "PIA"
[Files in Teams space](https://bcgov.sharepoint.com/:f:/t/03991/EqpSaBTe1TxGmECCAKMykFYBzEqs5wAkSPGsZvcaZ1kjHA?e=JfhXr7): https://bcgov.sharepoint.com/:f:/t/03991/EqpSaBTe1TxGmECCAKMykFYBzEqs5wAkSPGsZvcaZ1kjHA?e=JfhXr7

LINK:
https://bcgov.sharepoint.com/:f:/t/03991/EqpSaBTe1TxGmECCAKMykFYBzEqs5wAkSPGsZvcaZ1kjHA?e=JfhXr7

[2022-01-30 21:45] MeghanStothers opened #50 "Transition/succession plan to PSA"
Transition plan for Freshworks to deliver to PSA

1. Technical work/forms solution on OpenShift
2. Resources required (PSA/TES)
3. Documentation (Freshworks and PSA)

[2022-01-30 21:46] MeghanStothers opened #51 "Form admin"
- [ ] do the checklist like this

[2022-01-31 17:09] #19 closed

[2022-01-31 17:10] #17 closed

[2022-01-31 17:39] #9 closed

[2022-02-01 19:58] qudsia-khan-fw commented on #24
- The email will go to the submitter as well as the appropriate manager
- In the future, we will want to include other third parties

[2022-02-01 20:07] schuyt opened #52 "Maternity Journey"

[2022-02-01 21:39] schuyt opened #53 "Maternity form initial submission email workflow"
As a BC Gov Employee filling out the maternity form I would like the form to be submitted to my supervisor for approval on submission so that I don't have to manually submit a copy

**A/C**
- Maternity form is created/exists
- Form auto-populates if user is authenticated with IDIR
- On any submission of the form a copy is sent to the employee and their supervisor
- Supervisor can come back and upd

[2022-02-01 21:43] schuyt opened #54 "Tooltip styling"

[2022-02-01 21:44] schuyt opened #55 "Tooltip Styling"
As a BC Gov Employee I would like to see tooltips styled in BC Gov branding

A/C
- [Tooltips](https://help.form.io/userguide/forms/form-components#tooltip) are styled as per the BC branding guid / mock-up

[2022-02-01 21:57] schuyt opened #56 "As a supervisor I can receive an email confirmation on submission of the tele-work form"
As a supervisor I can receive an email confirmation on submission of the tele-work form

**A/C**
- When a tele-work form is submitted the submitters supervisor receives an email copy

[2022-02-01 22:10] #54 closed

[2022-02-01 22:22] schuyt commented on #11
@iman-jamali-fw Mock-up of form styles using BC GOV branding is here: https://www.figma.com/file/gQDAaN0lnJJj1xg6NXFEsI/Wireframes?node-id=11%3A194

Ping Jordan if you need access.

[2022-02-01 23:46] MeghanStothers opened #57 "Add notes to PIA - PPLsoft form fields"
- [ ] Add my notes to the PIA draft

[2022-02-01 23:53] #49 closed

[2022-02-02 17:57] schuyt opened #58 "Calculation of days in Tele-work form"
As a BC Gov Employee I would like the tele-work form to automatically calculate the total number of days I am working remote based on my selections so I don't have to fill out that field.

**A/C**
- Telework form automatically calculates the total number of days entered and populated the field.
- If days >= 3 then a message is displayed (see branding doc for message)

![Screen Shot 2022-02-02 at 1

[2022-02-02 18:00] schuyt commented on #58
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Digital-Journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/58?planning-poker) with ZenHub @iman-jamali-fw @qudsia-khan-fw @simensma-fresh @kkapoor-fresh

[2022-02-03 18:32] qudsia-khan-fw opened #60 "The user is displayed with a "Login Error" after logging out from the app"
**Background:** The user is displayed with a "Login Error" after logging out from the app.

**Environment:** Test

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on test with valid credentials.
2. Click on "Logout".

**Actual Behavior:** The user is displayed with a "Login Error" after logging out from the app. The user can not log back in as a different user unless using an

[2022-02-03 21:30] #14 closed

[2022-02-04 13:47] kkapoor-fresh opened #61 "Automated deployment to Dev and Test"

[2022-02-04 13:58] kkapoor-fresh opened #62 "Automate build process"
Acceptance criteria: On the initiation of the Github action, the pipeline is able to build the web and api image and upload it to openshift internal registry

[2022-02-08 16:15] schuyt commented on #60
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Digital-Journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/60?planning-poker) with ZenHub @simensma-fresh @iman-jamali-fw @qudsia-khan-fw

[2022-02-09 15:42] simensma-fresh commented on #38
@qudsia-khan-fw I had a look at the form, and none of the fields are checked off as "Required" (Validation tab). If you do, you're not able to submit the form until the required fields are filled in

[2022-02-09 15:49] simensma-fresh opened #65 "Set up automated backups of MongoDB instance"
**Description**
As a user of the platform, I want my form submissions to be backed up so I don't lose my submissions to the void if for any reason the DB storing them failed.

**Acceptance Criteria**
- Daily backups for the MongoDB instance are set up using the BC Gov backup container: https://developer.gov.bc.ca/Backup-Container
- Alerting is set up to alert a defined list of people if the backup

[2022-02-09 16:37] schuyt commented on #38
@simensma-fresh When there are required fields present, does a validation message appear?

[2022-02-09 16:43] simensma-fresh commented on #38
On that note, I think there's a story here to add validation to the Telework form.
- Making all required fields required
- Validation of email addresses
- Adding max lengths to all fields
... Any other appropriate ones

[2022-02-09 16:43] schuyt commented on #38
Awesome. I think we can close this then.

[2022-02-09 23:16] #29 closed

[2022-02-11 22:38] ghost opened #68 "Architectural Diagrams"
Create Architectural Diagrams to support hand-off in March.

- Create Architectural diagrams for formsflow.ai in the BCGov environment
- Share with Telus team and get feedback

[2022-02-15 00:25] qudsia-khan-fw opened #70 "The user's name is no longer displayed after logging in to the app after branding is applied"
**Background:** The user's name/role is no longer displayed on the right side of the header after logging in to the app.

**Environment:** Dev

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on test with valid credentials.

**Actual Behavior:**  The user's name/role is no longer displayed on the right side of the header after logging in to the app.

**Expected Behavior:** The

[2022-02-15 22:25] schuyt opened #71 "TOOL: PDF branding"
As a Digital Journeys user I would like to have any PDF copy of forms be branded.

**A/C**
- The pdfs need to be branded at every stage of the form:
1) The unfilled Telework form (this one ![MicrosoftTeams-image (6).png](https://images.zenhubusercontent.com/61ddb02eac135d772cfce6ec/04758262-4619-4672-9d18-6b54bec4215b)![MicrosoftTeams-image (5).png](https://images.zenhubusercontent.com/61ddb02eac1

[2022-02-15 22:27] schuyt opened #72 "File Attachments are included in email to supervisor in Tele-work form"
As a BC Gov employee/supervisor I would like file attachments from the form to also be attached to the email confirmation I get on submission.

**A/C**
- Given that a form has attachments, the email that gets sent on submission has those files attached.
- File uploads lives on the platform

**Notes:**
- This happens in Camunda, so will be part of the workflow

[2022-02-15 22:44] qudsia-khan-fw opened #73 "TOOL: Manager's Display "Applicant Name" as a column under the "Applications" tab"
**Description**: As an admin, I want to see who submitted the application without having to open it.

**Acceptance Criteria**:

- Display the "Applicant Name" on the table.

[2022-02-15 22:46] qudsia-khan-fw opened #74 "Add Application statuses to support the tele-work form/tool"
**Description**: As a form manager I would like to be able to see the status of form submissions so that I know where in the process a form is.

Currently all form submissions have the status of "new". Camunda can trigger changes to the status based on progress through a workflow.

**Acceptance Criteria**:

**Tele-work Form:**
- Statuses:
   - Pending
   - Approved
   - Denied

**Maternity Form:**

[2022-02-16 21:16] qudsia-khan-fw opened #76 "The user is not displayed with a warning message when uploading an edited version of an existing form"
**Background:** The user is not displayed with a warning message when uploading an edited version of an existing form.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as an admin with valid credentials.
2. Download a copy of an existing form.
3. Edit some fields in the json file and save.
4. Click on "Upload Form".
5. Select the file.

**Actual Behavior:** The existing

[2022-02-16 21:25] qudsia-khan-fw opened #77 "TOOL: The user is not displayed with any error messages and can upload a form with the same title, name or path of an existing form."
**Background:** The user is not displayed with any error messages and can upload a form with the same title or path of an existing form.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as an admin with valid credentials.
2. Download a copy of an existing form.
3. Edit the name and path, but do not edit the title; save the json file.
4. Click on "Upload Form".
5. Select

[2022-02-16 22:12] qudsia-khan-fw commented on #40
Supervisor will be assigned a task which is created upon form submission
This should also work for supervisors who have not logged in to the system yet. The task should be displayed after first log in.

[2022-02-16 22:14] qudsia-khan-fw commented on #11
@iman-jamali-fw Please find the test results as discussed here:
https://docs.google.com/document/d/1Hjbg-NDL3WRvXPXw8PqDPV9eEvSLO_EEasi0-r6mfrQ/edit?usp=sharing

[2022-02-17 17:30] qudsia-khan-fw opened #78 "Sorting the forms does not generate the proper results"
**Background:** Sorting the forms does not generate the proper results.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Click on the arrow next to the first column "Form" in the "Forms" table.
3. View the results.
4. Click the arrow again and view the results.

**Actual Behavior:** The user is not displayed with the sorted list.

![DJsortForm

[2022-02-17 17:44] #24 closed

[2022-02-18 13:01] kkapoor-fresh opened #82 "Automate deployment to DEV"

[2022-02-18 22:44] schuyt opened #85 "Add validation to the Tele-work form"
As a user of the tele-work form I would like the form to show me what fields are required and notify my if any of my inputs are invalid.

**A/C**

- Required fields added to the form (TBD)
- Validation added to the form (TBD)

[2022-02-18 22:47] schuyt opened #86 "TELEWORK: Link to form from the BC Gov website"
As a BC Gov employee I would like to be able to access the tele-work form from the BC Government website so that I don't have to go to a different place to submit the form.

**A/C**

- Form is linked to from the BC Gov site
- Instructions for how to link to forms is documented/communicated to the PSA

[2022-02-18 22:49] schuyt opened #87 "Create Maternity form"
As a BC Gov employee and PSA form Designer I would like the Maternity form to be created so that I can submit maternity applications.

**A/C**

- Create maternity form on the test site (this can be exported to prod later)

[2022-02-22 16:24] qudsia-khan-fw opened #90 "The user experiences that all fields get closed while filling out the form"
**Background:** The user experiences that all fields get closed while filling out the form.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Click on "Submit New" on the "Maternity, Parental, Pre-Placement Adoption Leave and/or Allowance Application".
3. Start filling out the form.
4. Wait a few minutes.
5. Continue to fill out the form.
**Act

[2022-02-22 21:56] schuyt opened #94 "Ability to upload attachments"
As a BC Gov Employee (or Supervisor) I can upload attachments to forms and have them be saved so that I can provide additional information.

**A/C**

- Can upload a file
- File upload validation:
  - Files Types: _.eml, .pdf, common image formats_ set as defaults (configurable in the form builder for the field)
  - Max File Size: _10 MB_ set as default (configurable in the form builder for the fie

[2022-02-22 22:46] qudsia-khan-fw opened #96 "TOOL: UI fixes"
**Actual Behavior:**

1. Navigation tab bar options are not displayed properly.
![DJtabOptionsNotShowing.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/06ed375e-e5c4-46a1-ba08-42b2e29b9df8)

 ![DJtabOptions2.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/6d6a9cdd-73ab-4669-a2cc-8bc6a201d28f)

2. The cell alignment is not aligned properly.
![DJcellAlignmentOf

[2022-02-22 23:06] #38 closed

[2022-02-22 23:15] #32 closed

[2022-02-23 16:55] schuyt opened #99 "Automate deployment to TEST environment"
As a developer, I would like to be able to automatically push code changes to the test environment.

A/C
- Code deployments to the test environment are automated.

[2022-02-23 19:17] #37 closed

[2022-02-23 20:22] qudsia-khan-fw commented on #20
@iman-jamali-fw Address field is not being populated.
![Screen Shot 2022-02-23 at 3.20.31 PM.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/d801f8ff-0598-43a6-8648-b69d2555c915)

[2022-02-23 21:11] qudsia-khan-fw opened #103 "Manually entered address is not retained in the form"
**Background:** Manually entered address is not retained in the form.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Click on "Submit New" on a form with address fields.
3. Manually enter an address.
4. Tab out or press Enter.

**Actual Behavior:** The address is not retained, and the field is blank.

**Expected Behavior:** Manually entered

[2022-02-24 17:05] qudsia-khan-fw opened #105 "The submitter does not receive an email upon form submission if the email field is updated"
**Background:** The submitter does not receive an email upon form submission if the email field is updated

**Environment:** Dev

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal with valid credentials.
2. Fill out the telework form.
3. Change the submitter email to a different valid email than the one you are logged in with.
4. Submit the form.

**Actual Behavior:**  The user

[2022-02-24 17:07] qudsia-khan-fw commented on #56
Not working.

[2022-02-24 17:38] qudsia-khan-fw opened #106 "Telework form layout/design fixes"
Please address the following issues:

1. More padding is needed on the left side of the logo
2. Spacing between the logo and title on the header should be reduced to match the one on the BC gov site.
3. Upon tab click, the navbar bottom tab border should be underlined in yellow to match the BC gov site.
Please see the screenshot, top view is what we have on dev and bottom is what is on BC Gov site

[2022-02-24 17:54] #58 closed

[2022-02-24 17:55] #82 closed

[2022-02-24 17:55] #62 closed

[2022-02-24 18:15] qudsia-khan-fw commented on #40
@matbusby-fw
Please address the following:
1. After approving or rejecting the application, the diagram highlight does not get updated.
![diagramWorkflow.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/cfdf4dbd-5916-4bc2-82c2-58aa5f3f5ce8)
2. There is no section for the supervisor to add comments

[2022-02-24 18:42] simensma-fresh commented on #40
4. This would be expected, seeing as the manager will have the same client role as the form submittor. Or do you mean if you specify the same employee and manager email?
5. Think the search feature might only return results for the users of the group that's assigned to the form and if you're part of that group. So this would expected behaviour for the Telework form where the task is not assigned t

[2022-02-24 18:55] qudsia-khan-fw commented on #40
4. Yes same employee and manager email, or employee email in the manager email field.
5. Ok thanks.

[2022-02-24 20:49] qudsia-khan-fw opened #108 "The user is displayed with populated data on submit after editing"
**Background:** After editing the auto-populated fields and clicking submit on the "Auto-populate test" form, the old data is shown but is not actually submitted.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin user with valid credentials.
2. Click on "Submit New".
3. Edit the auto-populated data.
4. Click on "Submit".

**Actual Behavior:** After editing

[2022-02-24 22:20] matbusby-fw commented on #90
Having difficulty consistently reproducing this.
The fields are cleared sometimes, but I haven't been able to figure out which actions specifically are causing this to happen, but I don't think it's tied specifically to the checkboxes.
Placing this back into the backlog for now and will monitor the issue

[2022-02-24 23:03] simensma-fresh commented on #40
Re. 1. and 4. Can we add these as requirements for the Validation ticket? Think it would be best done together with the rest of the validation

[2022-02-25 16:54] qudsia-khan-fw commented on #40
Added 1 and 4 to validation ticket #85. Thanks

[2022-02-25 17:02] qudsia-khan-fw opened #109 "SL Review: User is able to edit a form after submission"
**User Story**
As a senior leader, I want to edit my information to the SL Review form after I have submitted it so that I can go back to the submission and make changes to it alongside the conversations I am having with my supervisor.

**Acceptance Criteria**
- [x] I can can come into the SL Review after submission and edit the form for resubmission to my manager
- [x] I can see my submission in

[2022-02-25 20:30] qudsia-khan-fw opened #110 "Upon clicking Submit, the user is not displayed with the entered data"
**Background:** Upon clicking Submit, the user is not displayed with the entered data.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Click on "Submit New".
3. Fill out the fields.
4. Click "Submit".

**Actual Behavior:** Upon clicking Submit, the user is not displayed with the entered data. The data does get submitted. This way, the user fe

[2022-02-25 21:47] simensma-fresh commented on #94
**Result of spike into storage options**
By default, files are stored as base64 encoded strings on the Submission object itself, which means that any uploaded files will be loaded when a submission is viewed - which can cause significant lag when loading a submission.

Form.io has provided a compatible Open Source upload server we can spin up in order to support file uploads outside the DB: https:

[2022-02-25 22:31] qudsia-khan-fw opened #111 "Telework: CSS style tweaks"
Please change the following on the Telework form:

1. For each panel heading, make it bigger like the title "Telework Agreement" and bold.
2. Make the checkboxes and radio buttons more prominent.
3. Signature (Sign Above) colour contrast should be better.

[2022-02-25 23:09] schuyt opened #112 "Follow up / Due Dates send reminder emails"
_As a digital journey designer I would like be able to set a follow-up date and/or due date on form applications so that I can remind myself when action is required._

**A/C**

Given `Follow up Date` is set, the system generates a reminder email to the individual who set the follow-up date.

Given `Due Date` is set, the system generates a reminder email to the individual who set the due date.

[2022-02-28 19:13] qudsia-khan-fw commented on #103
It is fixed now. Thanks.

[2022-02-28 22:11] simensma-fresh commented on #109
@schuyt This will have to built into the workflow of the given form, so we'll have to dig into exactly what cases we need to account for here, for each form figure out when you should be able to edit the form, and who should have the ability.

[2022-02-28 22:31] schuyt opened #115 "Apply Styles to Admin/Designer tables & experience"
As a formsflow.ai Designer I would like a clear, easy to understand administrative experience so that the tasks of creating and managing forms is clearer and easier.

**A/C**

See [Figma design (Option #2)](https://www.figma.com/file/gQDAaN0lnJJj1xg6NXFEsI/Wireframes?node-id=462%3A9796)

- Table styling
- Update Applications tab to match design
- Clean up task tab (mostly just the header)

[2022-03-02 17:30] iman-jamali-fw commented on #90
I was not able to reproduce the issues. Moving it back to the backlog.

[2022-03-02 20:15] qudsia-khan-fw commented on #85
@iman-jamali-fw The following is not working:

The manager can submit the decision without signing it and/or choosing a decision.

[2022-03-02 20:26] qudsia-khan-fw opened #119 "Add validation on required fields to the Telework form"
**Description:** As a user, I want to know which fields are required and which are optional.

**Acceptance Criteria:**
- Proper error messages should populate if the user tries to submit the form without filling in the required fields.
- User should not be able to submit the form without filling in the following required fields:
 ![Screen Shot 2022-03-02 at 3.06.29 PM.png](https://images.zenhubuse

[2022-03-02 23:50] qudsia-khan-fw commented on #85
ADM approval section needs to be mandatory if teleworking days >=3 days. Currently, the supervisor can submit the decision without filling that section.

[2022-03-03 14:43] qudsia-khan-fw opened #120 "(Maternity form) Automatically calculate the end date based on the start date + number of weeks values"

[2022-03-03 18:06] freshjwarren opened #121 "Automated deployment to Prod"

[2022-03-03 21:18] qudsia-khan-fw opened #122 "Include Telework Agreement's submitted form link in submitter's email"
**Description**: As a user, I want to see a link to my submission in the e-mail I receive after submitting my application.

**Acceptance Criteria**
- The form submitter should receive an e-mail (entered in the Employee E-mail field while filling out the form) upon form submission that includes a link to the submitted application.

[2022-03-03 21:38] freshjwarren opened #123 "Create a build template for Prod"

[2022-03-03 21:38] freshjwarren opened #124 "Set up service account authentication for GitHub actions"

[2022-03-03 21:38] freshjwarren opened #125 "Create a deployment template for Prod"

[2022-03-03 21:39] freshjwarren opened #126 "Set up GitHub Actions for deployment to Prod"

[2022-03-03 21:39] freshjwarren opened #127 "Set up environment variables for Prod"

[2022-03-03 21:39] freshjwarren opened #128 "Test automated deployment to Prod"

[2022-03-03 23:28] Abuchana opened #130 "TOOL: Non-IDIR (unauthenticated) users"
_As a BC Gov Employee without an IDIR account, I would like to be able to fill out and submit forms so that I can submit forms when I am on leave or waiting for an IDIR account.

**Business requirements for this still feature needs discovery**

**Tasks**

- [ ] TBD

**A/C**
- All forms should accessible for non-IDIR users as well as authenticated ones
- If user is not logged in: support for **view

[2022-03-03 23:38] Abuchana opened #131 "Export of submissions to CSV"
As the business area I would like the output of my form to be a CSV file

[2022-03-04 14:43] qudsia-khan-fw opened #133 "Trigger an e-mail notification to the submitter upon application status change"
**Description:** As a user, I would like to receive an e-mail notification when the status of my application changes.

**Acceptance Criteria:**
- Send an e-mail to the submitter (e-mail specified on form field) once his application status changes
- A link to his application should be included in the e-mail body.
- E-mail subject and body text (TBD

[2022-03-04 17:02] #123 closed

[2022-03-04 17:02] #125 closed

[2022-03-04 19:40] qudsia-khan-fw opened #134 "The client is displayed with "No Resource Found" for a deleted form"
**Background:** The client is displayed with "No Resource Found" for a deleted form.

**Steps to Reproduce:**
1. Log in to the PSA-Digital-Journey portal as an admin with valid credentials.
2. Delete a form, e.g. "Test".
3. Upload a new version of "Test".
4. Log in to the PSA-Digital-Journey portal as a client with valid credentials.
5. Click on the old "Test" form that is still displayed.

**Actu

[2022-03-07 16:45] #2 closed

[2022-03-08 21:25] schuyt opened #135 "Tele-work journey pushes data to ODS on approval/rejection"
_As a BC Gov I would like to be able to report on the tele-work form submissions so that I can have greater insights into staff working from home._

- Given the supervisor has **approved** a tele-work submissions, the from data is sent to and ODS endpoint
- Given the supervisor has **rejected** a tele-work submissions, the from data is sent to and ODS endpoint
- Given a user has logged in with the

[2022-03-08 21:33] schuyt opened #136 "Maternity: The journey pushes data to ODS on approval/rejection"
_As a BC Gov I would like to be able to report on the maternity form submissions so that I can have greater insights into staff working from home._

- Given the supervisor has **approved** a maternity submissions, the from data is sent to and ODS endpoint
- Given the supervisor has **rejected** a maternity submissions, the from data is sent to and ODS endpoint
- Given a user has logged in with the

[2022-03-08 21:40] schuyt opened #137 "Extend the expiry time for keyclock token"
As a form designer I would like to have a reasonable session length when logged in so that I don't get logged out too quickly when building and managing forms.

- Update the expiry time to a reasonable amount of time

[2022-03-08 23:29] #11 closed

[2022-03-08 23:29] #55 closed

[2022-03-08 23:29] #40 closed

[2022-03-08 23:29] #99 closed

[2022-03-08 23:29] #34 closed

[2022-03-08 23:31] #133 closed

[2022-03-09 19:11] qudsia-khan-fw commented on #87
@simensma-fresh
Here are the screenshots as discussed:
![tooltipSelectBoxes.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/a6bb3f42-89bb-4651-91b9-8fa0840be5a1)

![textFieldCheckbox.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/d0d84af9-5ad2-4c47-b1f6-6d2cba6827cb)

[2022-03-09 19:19] qudsia-khan-fw opened #139 "Maternity: Add validation on required fields"
**Description:** As a user, I want to know which fields are required and which are optional.

**Acceptance Criteria:**
- Proper error messages should populate if the user tries to submit the form without filling in the required fields.
- User should not be able to submit the form without filling in the following required fields.
- The following validations also need to be added for the start and e

[2022-03-09 20:18] simensma-fresh commented on #87
@qudsia-khan-fw I left some initial feedback in this document: https://docs.google.com/document/d/1qU3tLwO3Q5ElkvGwCvIcyiptiE-oS79nE8Yfg-oflGg/edit?usp=sharing including answers to 1. / 2. above

[2022-03-09 21:27] jchow11 commented on #71
https://www.figma.com/file/gQDAaN0lnJJj1xg6NXFEsI/Wireframes?node-id=581%3A13242

[2022-03-11 18:58] schuyt opened #141 "Create custom ODS extension for formsflow.ai"
_As a developer I would like to have an easy way to specify an ODS API for a given form, so we can more easily update field mappings between formsflow.ai and the ODS...and so we can reduce the risk of field name or logic changes in formsflow.ai impacting data transfer._

- Allow specifying an "ODS API Name" for all the fields when building a form.

[2022-03-11 19:00] schuyt commented on #141
_As a developer I would like to have an easy way to specify an ODS API for a given form, so we can more easily update field mappings between formsflow.ai and the ODS...and so we can reduce the risk of field name or logic changes in formsflow.ai impacting data transfer._

- Allow specifying an "ODS API Name" for all the fields when building a form.

[2022-03-14 14:32] qudsia-khan-fw commented on #90
@iman-jamali-fw I have updated this ticket according to what we both were able to reproduce.

[2022-03-15 17:04] qudsia-khan-fw opened #143 "Test end-to-end workflow of Telework Agreement"

[2022-03-16 15:19] simensma-fresh commented on #41
Databases that needs to be created:

![image.png](https://images.zenhubusercontent.com/61df28f84562db4e4d8e63d1/4bc075c3-4070-4f27-953e-a91391346585)

[2022-03-16 15:36] iman-jamali-fw commented on #90
Taking another look at this bad boy!

[2022-03-17 12:59] kkapoor-fresh commented on #41
@simensma-fresh Patroni database is setup in production with the required databases.
![image.png](https://images.zenhubusercontent.com/603e7d017ac89a48774c4630/d925645d-8299-4101-bf94-cd1b0090de29)

[2022-03-17 18:32] kkapoor-fresh opened #147 "Deploy formflow databases in Prod"

[2022-03-18 12:38] qudsia-khan-fw commented on #22
@matbusby-fw

1. According to the Acceptance Criteria, a PDF should be generated on submission. Currently, this is not happening.
2. After the supervisor approves or rejects the application, the PDF in the email is blank. Please see the attached pdf.
[Reference Submission](https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/61e9f5286dd5b367312d9c2e/submission/62347c88b6fef0bf7ed32ad9)
[

[2022-03-18 13:12] qudsia-khan-fw commented on #53
@iman-jamali-fw
The manager does not receive an e-mail upon form submission and it does not appear in his task list to approve or reject the application.

[2022-03-18 13:30] qudsia-khan-fw commented on #119
@schuyt On the sheet in the ticket, we have fields "personal phone" and "business phone"; however, those fields are not currently on the telework form. What is the requirement?

[2022-03-18 14:23] kkapoor-fresh commented on #147
The following database services have been deployed to Prod
1. Patroni
2. Redis
3. Mongo

[2022-03-18 15:34] schuyt commented on #119
This sheet was based on the Orbeon form they trialed last year.

Let's ask Don in standup today. I'm thinking we either ignore those fields, or add them to the Tele-work form if they're required.

[2022-03-18 17:23] jchow11 commented on #130
![Log in Portal.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/7e17e222-84f7-4aca-ba3d-759e6a20bece)

[2022-03-18 17:24] jchow11 commented on #71
![Generated Form PDF.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/cbe48de3-29d6-4d97-8fcc-be227ea4219e)

[2022-03-18 17:52] kkapoor-fresh opened #150 "Setup Keycloak in Prod"

[2022-03-18 17:52] #147 closed

[2022-03-21 14:10] qudsia-khan-fw commented on #22
1. According to the Acceptance Criteria, a PDF should be generated on submission. Currently, this is not happening.
2. Long comments up to 255 characters are not fully visible in the PDF
![Screen Shot 2022-03-21 at 10.09.46 AM.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/6bf66334-2171-4c6f-86f7-ad57cffb8928)

[2022-03-21 16:31] #150 closed

[2022-03-21 16:32] kkapoor-fresh opened #153 "Setup Camunda and Formsflow in Prod"

[2022-03-21 18:50] qudsia-khan-fw commented on #53
1. For maternity option:
Currently, a pdf is generated on form submission. We see the updated dates section. PDF should not be generated and updated dates section should not be displayed.
 The following message should be displayed: “Please submit their approved application via an AskMyHR service request immediately.”

2.  For maternity + parental option :
Currently, Section 2 parental field dates

[2022-03-22 15:25] qudsia-khan-fw opened #155 "TOOL: CSS style tweaks"
1. There is a hover effect when you mouse over any of the Section headers, bullets or check boxes. Can we remove this? It indicates they are clickable, when they are not.

2. Info callouts should have a background.

3. Font sizes are inconsistent– checkbox font size is larger than bullet points.
Call-outs, bullet points, checkboxes, radio buttons, tool tips, should be:
BC Sans Regular 15pt with 21

[2022-03-22 15:33] qudsia-khan-fw opened #156 "Telework: Display only the selected option from the two required options under the "Teleworking Schedule" section"
**Actual Behavior:**
If the user selects "I am requesting to telework on an occasional basis, with no formal schedule", then the checkboxes for telework schedule days section is not displayed.  If any checkboxes are selected, the user is displayed with the checkbox "I am requesting to telework on an occasional basis, with no formal schedule".

**Expected Behavior:**  If the user selects any Mon-Su

[2022-03-22 21:56] qudsia-khan-fw opened #157 "SERVER SIDE PDF: fields are cut-off and manager's section not present in the generated email PDF"
**Background:** Some fields are cut-off in the EMAIL-generated PDF. In the final email sent to the employee and manager after a decision has been made, the attachment in that email does not have the manager's section visible.

**Steps to Reproduce:**
1. Log in to the PSA-Digital-Journey portal on dev with valid credentials.
2. Fill out the telework form.
3. Click "Submit".
4. Approve/Reject the fo

[2022-03-22 22:24] qudsia-khan-fw opened #158 "File uploads should support .msg, .docx file types"
The client wants to add the following file formats to the upload file functionality:
 .msg, .docx

[2022-03-22 22:28] qudsia-khan-fw commented on #22
Created [bug ticket](https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/157) for the content cut-off issue.

[2022-03-23 17:06] #22 closed

[2022-03-23 17:06] #90 closed, assigned to iman-jamali-fw, matbusby-fw

[2022-03-23 17:06] #120 closed

[2022-03-23 17:06] #94 closed

[2022-03-23 17:06] #26 closed

[2022-03-23 17:06] #60 closed

[2022-03-23 17:07] #103 closed

[2022-03-24 15:48] qudsia-khan-fw commented on #119
New requirement for clients: Only comments are optional and from section 5, both fields are required but only the one that is selected by the user should be displayed

[2022-03-24 21:21] qudsia-khan-fw opened #161 "After manager reviews the application, the e-mail with PDF is not being sent"
**Background:** After manager reviews the application, the e-mail with PDF is not being sent; hence, the application status is not updated from "New" to "Approved" or "Rejected".

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin user with valid credentials.
2. Click on "Submit New" on the telework form.
3. Fill in all the required fields.
4. Click on "Subm

[2022-03-24 21:22] qudsia-khan-fw opened #162 "Fix keycloak mapping issue of username"
**Background:** The username in keycloak is not mapped correctly to the IDIR e-mail; hence, the supervisor is unable to review the application.

**Actual Behavior:** The username in keycloak is not mapped correctly to the IDIR e-mail; hence, the supervisor is unable to review the application.

**Expected Behavior:** The supervisor should be able to review the application.

**Environment :** dev

[2022-03-24 21:23] qudsia-khan-fw opened #163 "TELEWORK: Dates/Time-zone issue: The user is displayed with the wrong dates than what was entered"
**Background:** The user is displayed with the wrong dates than what was entered.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin user with valid credentials.
2. Click on “Submit New” on the telework form.
3. Enter the Telework schedule date implemented on as today's date: 3/24
4. Enter the Date signed as today's date: 3/24
![Screen Shot 2022-03-24 at 4.

[2022-03-24 21:24] qudsia-khan-fw opened #164 "Change formsflow.ai + logo on browser to "Digital Journeys" instead of formsflow.ai"
As per the client's requirements, we need to change formsflow.ai  + logo on browser to "Digital Journeys" instead of formsflow.ai.

*Acceptance Criteria*
- The browser tab name when visiting the application in the dev + test environment is "Digital Journeys" instead of Formsflow.ai
![image.png](https://images.zenhubusercontent.com/61df28f84562db4e4d8e63d1/52c67faf-edcd-4d27-9d1b-f5b8f7ce07ae)

[2022-03-24 21:25] qudsia-khan-fw opened #165 "Telework: Hide the Comments/Sign-off section for the client view"
**Background:** The Comments/Sign-off section should be hidden for the client view.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev as a non-admin user with valid credentials.
2. Click on “Submit New” on the telework form.
3. Scroll to the last section of the form.

**Actual Behavior:** The Comments/Sign-off section is not hidden for the client view.

**Expected Behavi

[2022-03-24 21:27] qudsia-khan-fw opened #166 "Telework: Add anchor to the task list to directly navigate the manager to the Comments/Sign-off section"
**Description:** Add anchor to the task list to directly navigate the manager to the Comments/Sign-off section.

**Acceptance Criteria:**

Given the supervisor has received the "For Action" e-mail after a client has submitted his application
When he clicks on the link provided in the e-mail
Then he should be navigated to the Comments/Sign-off section

[2022-03-24 21:40] schuyt opened #167 "[TASK] Update all environments with the latest code on March 31st"
**A/C**
- All environments are updated with the latest code (DEV, TEST, PROD)

[2022-03-24 22:00] schuyt opened #168 "Apply BC Gov branding to the emails"
As a BC Gov Employee or supervisor, I would like to receive branded emails from the system so that I'm confident the emails are legitimate.

**A/C**

- Emails have BC Gov branding appled

[2022-03-24 22:01] qudsia-khan-fw opened #169 "The ODS data does not auto populate on dev"
**Background:** The ODS data does not auto populate on dev.

**Steps to Reproduce:**

1. Log in to the PSA-Digital-Journey portal on dev with with IDIR using your real BC gov ID.
2. Click on “Submit New” on the telework form.
3. The data for the Section 1 fields does not auto populate.

**Actual Behavior:** The ODS data does not auto populate on dev.

**Expected Behavior:** The user should not be

[2022-03-25 17:33] schuyt commented on #53
Sent a message to Meghan and Stella to get confirmation on messaging. We can move that to another story and just focus on getting the PDF behaviour correct in this story.

[2022-03-25 18:43] qudsia-khan-fw opened #170 "After the submission of a form, the user should be navigated to a proper landing page"
**Description:** After the submission of a form, the user should be navigated to a proper landing page.

**Acceptance Criteria:**
Given the user is filling out a form such as the Maternity, Parental one
When the user clicks the "Submit" button
Then he should be displayed with the proper toast message and navigated to the proper landing page as below:

![landingPage.png](https://images.zenhubuserco

[2022-03-26 17:26] qudsia-khan-fw opened #173 "Deploy latest build to test"
Deploy the latest build to the test environment.
Verify the app is working as expected before the business demo on April 8, 2022.

[2022-03-28 14:45] #153 closed

[2022-03-28 15:11] kkapoor-fresh opened #174 "Create Sysdig alerts for Application montitoring"

[2022-03-28 19:02] qudsia-khan-fw commented on #163
Still showing as yesterday's date

[2022-03-28 19:16] qudsia-khan-fw commented on #161
@simensma-fresh Please address the following:
The client should not get the file attachments that the supervisor uploaded.
Also, when the client views his application status updates, he should not be able to download the ADM files.
![Screen Shot 2022-03-28 at 3.13.58 PM.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/acfc7b56-8530-4750-9ff7-464b31982013)

[2022-03-28 20:08] jchow11 commented on #115
**Forms**
[https://app.zenhub.com/files/439477060/1380dd56-14e4-4c79-ac0c-196fdf40e9f6/download](https://app.zenhub.com/files/439477060/1380dd56-14e4-4c79-ac0c-196fdf40e9f6/download)

**Applications**
[https://app.zenhub.com/files/439477060/12adb608-d8c9-44c5-956a-110b1eefd794/download](https://app.zenhub.com/files/439477060/12adb608-d8c9-44c5-956a-110b1eefd794/download)

**Tasks**
[https://app.ze

[2022-03-28 20:14] jchow11 commented on #115
**Forms**
![Forms.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/2abe26d5-4568-4efe-b830-31eb89db96ff)

**Applications**
![Applications.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/4f40b2d6-745f-4594-a892-bdc6bcea4985)

**Tasks**
![Tasks-Applications tab.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/92851725-bf4a-4af5-8f09-3cc739933208

[2022-03-28 20:16] qudsia-khan-fw commented on #161
@simensma-fresh Not receiving the email with pdf for both the client and supervisor.
Reference Applications:
https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/61e9f5286dd5b367312d9c2e/submission/624213d0b6fef0bf7ed37347

https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/61e9f5286dd5b367312d9c2e/submission/62421737b6fef0bf7ed3743a

[2022-03-28 20:28] jchow11 commented on #46
![Exit Page Modal.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/3d3d8dc3-6241-48c4-b8a3-77f76f72b8c7)

[2022-03-28 22:18] DonMoffatt opened #176 "ERIP - PDF submission to hidden email address and submitter"
The submission of the form fields and PDF should go to both the submitter and the business owner. We want the email address for the business owner to be hidden from the submitter (the submitter is an employee). I started the workflow on this and emailed Simen about it on Monday, March 28. We would like to set the hidden email address on the formsflow side.

[2022-03-28 22:23] jchow11 opened #177 "Maternity: End Date Auto-Population"
**Background:**
End date auto-populating logic needs to be adjusted for Maternity/Parental form.

**Environment:**
Dev

**Steps to Reproduce:**
Log in to the PSA-Digital-Journey portal with valid credentials.
Fill out the start date section for leave (section 1) or allowances (section 2).
Input number of weeks to take.
End date is auto-populated based on the above.

**Actual Behavior:**
If you sel

[2022-03-28 22:24] jchow11 commented on #177
@qudsia-khan-fw

[2022-03-29 14:59] kkapoor-fresh opened #178 "Setup CI/CD pipeline for Camunda"

[2022-03-29 17:04] #162 closed

[2022-03-29 17:04] #158 closed

[2022-03-29 17:04] #119 closed

[2022-03-29 22:20] iman-jamali-fw commented on #163
The issue is rooted in displaying dates in the viewer's time zone. If submitter and viewer/supervisor timezones are different, then dates might be one day off when viewed by the supervisor.

The standard solution is through the form builder, in the `Display in Timezone` option as shown in the attached image. Unfortunately, this feature is not working as expected at the moment. It's a bug in Formio

[2022-03-30 16:56] #68 closed, assigned to simensma-fresh

[2022-03-30 21:43] qudsia-khan-fw opened #184 "The user is displayed with the error "network request failed""
Sometimes, the user is suddenly displayed with "network request failed" after a few minutes once he is logged in.

![Screen Shot 2022-03-30 at 3.37.59 PM.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/2eec657e-8cad-4225-ab63-80541369098a)

[2022-03-30 21:50] qudsia-khan-fw opened #185 "The manager e-mail does not auto-populate"
**Actual Behavior:** The manager email does not auto-populate.

**Expected Behavior:** The manager email should auto-populate after the user has logged in with IDIR.

[2022-03-30 23:58] qudsia-khan-fw commented on #53
@iman-jamali-fw
The supervisor is not receiving any emails after submission and hence no tasks are being created. I am further blocked from testing the end to end workflow.
Maternity option:
Supervisor did not get email
No task is created
Can not further test
Reference: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/620ea51af5f0b5e2b6bdfd34/submission/6244e61d5302ccaf00002f67

Pare

[2022-03-31 02:39] #184 closed

[2022-03-31 12:34] qudsia-khan-fw commented on #53
@iman-jamali-fw retested and for parental option, after supervisor submits initial decision, then, the updated dates link sent in email is not working. The user is navigated to the blank screen. Please address this
https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/task/$TASK_ID

![Screen Shot 2022-03-31 at 8.33.32 AM.png](https://images.zenhubusercontent.com/61e82c601695e01db6cd7a01/509f0e

[2022-03-31 21:21] jchow11 opened #190 "Add # of weeks fields to "Partner Info" of Maternity/Parental Form"
1. Add 2 text fields to "Please enter your partner's information" section (see wireframe below)
2. Fields should have data validation – the combined number from both fields cannot exceed 35 if standard allowance is selected, or cannot exceed 61 if extended allowance is selected (see wireframe for error messages)

![Screen Shot 2022-03-31 at 3.17.23 PM.png](https://images.zenhubusercontent.com/61e9

[2022-04-01 00:16] iman-jamali-fw commented on #165
***Updated AC for Maternity form***
- When client filling the form:
  - Sign-off section => hidden
  - Update date section => hidden
- When supervisor review form
   - Sign-off section => enabled and visible
   - Update date section => visible but disabled
- When supervisor updates dates if form is parental leave
   - Sign-off section => visible but disabled
   - Update date section => enabled and

[2022-04-01 15:18] #72 closed

[2022-04-01 15:18] #87 closed

[2022-04-01 15:18] #161 closed

[2022-04-01 15:18] #169 closed

[2022-04-01 15:18] #135 closed

[2022-04-01 15:18] #53 closed

[2022-04-01 15:18] #185 closed

[2022-04-01 15:18] #143 closed

[2022-04-01 15:18] #167 closed

[2022-04-01 15:18] #173 closed

[2022-04-01 18:46] HasanSifat opened #192 "Mat/Pat testing"

[2022-04-01 18:50] alexandralloyd opened #193 "Mat Leave Employee Email Pre-population"
Background: Testing the Mat Leave form and found that the employee email field did not pre-populate.

Steps to Reproduce:
1. Log into formsflow in test environment
2. Open Mat Leave form
3. Email for employee will not be pre-populated

Actual Behavior:

Expected Behaviour:
It should be pre-populating with PeopleSoft daata

Environment:
Test

![Telework.PNG](https://images.zenhubusercontent.com/61e

[2022-04-01 18:55] HasanSifat opened #194 "Telework Testing"

[2022-04-01 18:58] Stella-Archer opened #195 "Manager Name not auto-populating"
As a manager when I go into a form submitted by my employee to review and approve/deny a submission, my name in the Manager Name field is not auto-populating at all. This will lead to data integrity issues as the form goes live and real submissions start filling in.

![MicrosoftTeams-image (2).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/14b057d5-a259-4d7d-b7ce-5a247a19530e)

[2022-04-01 20:00] #18 closed

[2022-04-01 20:01] #13 closed

[2022-04-01 20:01] #47 closed

[2022-04-01 20:01] #51 closed

[2022-04-01 20:02] #57 closed

[2022-04-01 20:11] HasanSifat commented on #194
Complete UAT testing for handover

[2022-04-01 20:27] HasanSifat opened #196 "Separate message sent to submitter confirming approval/denial of the telework agreement submitted to the manager"
- The submitter currently gets the same message as the manager/supervisor- "Hello, This is a pdf copy of the form submitted by [submitter email address ] for your records."

- The submitter needs to get a separate message that confirms the approval/denial of their submitted telework agreement. For example- Hello, your telework agreement has been [Approved or denied] and this is a pdf copy for your

[2022-04-01 20:46] HasanSifat opened #197 "Links opening on same tab as form"
All the links present in the form, when clicked upon, goes on to open in the same tab. Which requires the user to reload the form and possibly losing parts of the form that were filled out.

The links need to open in a tab for the user when using a web browser.

[2022-04-01 21:55] MeghanStothers opened #198 "Telework: update manager's notification email language"
**Acceptance Criteria**
- Email copy is replaced with new language (see comments).
- Insert managers name into the copy

[2022-04-01 22:01] MeghanStothers commented on #198
As a manager receiving the email from my employee with a request to review and approve my Telework agreement, I would like to see the following direction/language in the email:

PLEASE UPDATE THE CURRENT EMAIL TEXT WITH THE FOLLOWING
Hello (manager's name),

A new Telework Agreement has been submitted by Meghan Stothers (meghan.stothers@gov.bc.ca).

Please review this submission in the Manager/Sup

[2022-04-01 22:22] jchow11 commented on #71
![Generated Form PDF.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/6758b233-0011-4618-9931-2d31683a68fe)

[2022-04-01 22:26] HasanSifat opened #199 "Update email message for manager/supervisor"
As a manager receiving the email from my employee with a request to review and approve my Telework agreement, I would like to see the following direction/language in the email:

PLEASE UPDATE THE CURRENT EMAIL TEXT WITH THE FOLLOWING
Hello (manager's name),

A new Telework Agreement has been submitted by Meghan Stothers (meghan.stothers@gov.bc.ca).

Please review this submission in the Manager/Sup

[2022-04-01 22:33] jchow11 commented on #71
### UPDATED AC FOR @jizhaogit

As a Digital Journeys user I would like to have any PDF copy of forms be branded.

A/C

The pdfs need to be branded at every stage of the form:
before the form is filled out
When the employee wants to preview or print a partially completed form (that is not yet been approved by manager)
as a completed form (pdf) that is emailed to the manager
as a completed form (pdf

[2022-04-01 22:33] jchow11 commented on #71
Wireframe for reference.

![Generated Form PDF.jpg](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/9a08c164-439a-41f8-8e6d-f4ff469719e6)

[2022-04-01 22:36] jchow11 commented on #71
WIW Logo

![wiwlogo.png](https://images.zenhubusercontent.com/61e98ff375d0505e601dd00e/a6023167-030e-4ca6-a7ee-fb121219b80c)

[2022-04-04 18:44] MeghanStothers opened #202 "Bug: Incorrect data pulled from PeopleSoft: Postal Code and City"
The field is currently pulling the **office** postal code and city, but it should be pulling the applicants **home** postal code and city.

-Two of the "Telework Location" fields on the telework form have the wrong labels (see screenshots). They have _officeCity_ and _officePostal_, so they're pulling the users office location info instead of their home location.

- I don't see the home postal or

[2022-04-04 18:46] MeghanStothers commented on #202
As a user/employee filling out a Telework form, I start by login in with my IDIR. I see the PeopleSoft information has been pulled. The postal code pulled into the form from Peoplesoft is incorrect and does not match the one in my personal information in Peoplesoft

[2022-04-04 19:14] MeghanStothers opened #203 "Telework: Styling of Breadcrumbs"
When a user/employee logins to to complete their Telework agreement, the breadcrumbs are overly large and distract users from the form name.

Styling needed to make font consistent and smaller so they look more like breadcrumbs

[2022-04-04 19:14] MeghanStothers opened #204 "Telework: Styling of Breadcrumbs"
When a user/employee logins to to complete their Telework agreement, the breadcrumbs are overly large and distract users from the form name.

Styling needed to make font consistent and smaller so they look more like breadcrumbs

[2022-04-04 19:17] MeghanStothers opened #205 "Telework: Jump down link to manager's sign off section"
When the manager follows the email link to review and approve the employee's submission, they will need a jump down link to avoid scrolling to the manager's sign off section

[2022-04-04 19:26] MeghanStothers opened #206 "Telework: Sign-in for Employee/user interface changes"
As an employee with an IDIR signing on to complete my Telework form, I want to be clear about how to sign on (using the "IDIR") lin rather than "Google" or "password" etc.

See the link:  https://digital-journeys-test.apps.silver.devops.gov.bc.ca/form/6222539f0977ecf1ba31b62a

[2022-04-04 22:12] schuyt commented on #202
Simen created a PR to fix this [here](https://github.com/bcgov/digital-journeys/pull/207).

Here's some additional details on how to perform the mapping of ODS variables on our side. I've made a Pull Request to add mapping for the postal / city fields which were missing: https://github.com/bcgov/digital-journeys/pull/207. Once this is deployed to dev/test, you can go in and change the property nam

[2022-04-04 22:23] schuyt opened #208 "Telework: Send manager's IDIR and GUID to the ODS on submission"
I would like to send the manager's IDIR and GUID to the ODS on the submission of the telework form, so that I have the info available for reporting later.

**Acceptance Criteria**

- When the Telework form is approved by a supervisor (and submitted) both the managers IDIR and GUID get sent to the ODS.

**Notes:**
- Currently only the submitters IDIR and GUID are sent.
- See: https://github.com/bcg

[2022-04-04 22:28] schuyt commented on #205
I think this is a duplicate of this story:

https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/166

[2022-04-04 22:29] schuyt commented on #204
Looks like this is a duplicate of https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/203

[2022-04-06 00:06] MeghanStothers commented on #202
From: Ian S ***@***.***>
Sent: April 4, 2022 3:13 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Stothers, Meghan PSA:EX ***@***.***>; Assign ***@***.***>
Subject: Re: [bcgov/digital-journeys] Bug: Incorrect data pulled from PeopleSoft: Postal Code and City (Issue #202)

[EXTERNAL] This email came from an external source. Only open attachments or links that you are expecting from a known sender.

[2022-04-06 21:25] schuyt commented on #198
@simensma-fresh Do you know to add newlines characters into the email body in the Camunda modeller?

[2022-04-06 21:34] schuyt opened #209 "Create an easier method to edit email content"
As a forms designer I would like to be able to edit email content easily, so that I don't have to reach out to a developer resource and I can make changes more quickly and with less potential errors.

**Acceptance Criteria**
- Forms designers can edit email text easily without having to use the Camunda modeller
- Forms designers can easily find and use the form's values in the email text

[2022-04-06 21:49] schuyt opened #210 "Hide Comments/Sign-off from client in the Maternity form"
For the **Maternity, Parental form**, the Comments/Sign-off and Updated Dates sections should be hidden from client view.
AC:
1. Updated dates section should not be displayed for the employee
2. For the supervisor, we display the updated dates section but disable it before he submits decision.
3. For the supervisor, we display and enable the updated dates section after he submits his decision.

[2022-04-06 21:52] schuyt commented on #165
@simensma-fresh Is there a value in the form object already that lets us know if the user is an employee or manager?

[2022-04-07 18:36] #35 closed

[2022-04-07 19:06] schuyt commented on #165
@jizhaogit `task.assignedToMe` which indicates whether or not you are assigned to the task.

By looking at that and maybe `managerEmail` we should be able to determine if the person viewing the form is a manager or now.

[2022-04-08 16:52] HasanSifat opened #211 "Wrong city being pulled for an employee from the ODS"
Background: When an employee goes into a new telework agreement, the section under: The Employer and the Employee Agree to the Following, has auto-populated data fields. The "City" field is pulling wrong information from the ODS. It is being filled out with the wrong city.

Steps to Reproduce:
1. Go into a new telework agreement using the link- https://digital-journeys-test.apps.silver.devops.gov.

[2022-04-12 16:43] MeghanStothers opened #212 "Telework: Remove Digital Signature"
PIE/Policy team decided that the IDIR login would suffice for ID, and the digital signature is not needed

Remove the signature box in the formsflow tool

Acceptance criteria
- test the form as an employee filling out the form - ensure the box is not visible/removed
- ideally the box will be removed not hidden
- confirm with TES Patrick/Justin data saving and reporting are not affected

[2022-04-12 16:57] MeghanStothers opened #213 "Telework - Add text box to "Costs" section on digital form"
PIE/Policy team has requested we add an text box to the digital form

Questions to ask Policy/Sean:
1) Is it a text field (more limited) of a text area

2) Text or numbers wanted in this field?

2) What language do they want?:
Example "Please add the items and costs of the items you have at..."

3) Please describe what they want here

4)  Business will get all requirements before estimating this t

[2022-04-12 17:03] MeghanStothers commented on #198
To complete this ticket, we will need to
- Kamunda modeler editor (Don, Hasan)
- also needs Postman API deployment (
- Don to share documentation when he is back from hols April 19

Ji noted we will need to find an easier way to update the interface to use the email content language

[2022-04-12 17:04] MeghanStothers commented on #198
See ticket #209 as good way for Don, Stella, Hasan to update the language

[2022-04-12 21:49] MeghanStothers opened #214 "Telework: Make a direct link to the IDIR login (not via KeyCloak)"
As a user, I want to go directly from the Telework link on the Careers & MyHR page to the IDIR login page (rather than having to click "IDIR" on the Keycloak page: "PSA-DIGITAL-JOURNEY-TEST" page.

Link to test page on Careers & MyHR- https://www2.qa.gov.bc.ca/gov/content/careers-myhr/all-employees/work-arrangements/flexible-workplaces/get-started-with-flexible-work-in-the-bc-public-service-clone-

[2022-04-13 21:18] schuyt commented on #214
Need to get Keycloak admin credentials to Warren and Ji

[2022-04-13 21:29] MeghanStothers commented on #198
Ji - updated language for you to add:

Hello (manager's name),

A new Telework Agreement has been submitted by Meghan Stothers (meghan.stothers@gov.bc.ca).

Please review and submit the submission in the Manager/Supervisor sign-off section of the Agreement (PLEASE EMBED the URL in "Manager/Supervisor sign-off section"
URL: https://digital-journeys-test.apps.silver.devops.gov.bc.ca/task/9d327b61-b2

[2022-04-13 21:56] schuyt opened #215 "Limit emails allowed to BC Government emails only"
As PSA I would like the option to only allow the Employee Emails to be used in some forms. This should be a validation option a Forms Designer can apply to specific forms.

**Acceptance Criteria**

- Only valid BC Government emails can be entered in the "Email" field.
- Forms Designer has the ability to use this feature selectively on certain forms

[2022-04-13 21:57] schuyt commented on #215
@MeghanStothers To determine a list of valid BC Gov email domains, or considering making this field read-only.

[2022-04-13 23:39] HasanSifat commented on #105
Update- Carried one round of testing.

- The employee email was changed from what was prepopulated for my work email to my personal email.

- filled out the rest of the form and made a submission.

- Received confirmation email of submission in personal email address

- Also received an attachment alongside a confirmation email of the filled-out form after manager approval was granted.
![SS3.JPG](

[2022-04-13 23:47] HasanSifat opened #216 "TOOL: Dashboard Interface: for Form Submitters"
Relooking at what the user interface for form submitters will look like to manage new/previous submissions.
- Business Requirements will be needed to be sketched out to translate to technical requirements
- Part of Phase 2 of product development for formsflow
- Ticket#112 could possibly be wrapped with this development piece
- Ask managers questions about the dashboard

[2022-04-13 23:53] HasanSifat opened #217 "TOOL: Dashboard Interface: For Form Reviewers"
Relooking at what the user interface for form reviewers will look like to incoming submissions for approval/rejection.

[2022-04-14 14:51] schuyt commented on #71
For the email PDF's, we put the form/submission values into [this](https://github.com/bcgov/digital-journeys/blob/main/forms-flow-bpm/src/main/resources/templates/form.html) template and render it as a PDF using Playwright.

The "Download" button, however, is rendering it in the browser as a list of Key/Value pairs using [this page](https://github.com/AOT-Technologies/forms-flow-ai/tree/master/for

[2022-04-14 15:43] #121 closed

[2022-04-14 15:43] #61 closed

[2022-04-14 17:05] jizhaogit commented on #212
both manager signature and employee signature are removed from telework form in DEV site.

[2022-04-18 20:56] warrenchristian1telus commented on #214
I have updated KeyCloak admin to use IDIR (ocio) as the defaut authentication provider.

![image](https://user-images.githubusercontent.com/70002196/163875491-caeff6ab-328d-4c6f-8b4c-cb2ff13f920e.png)

Changes are in dev: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/

@schuyt Do we have a procedure in place for tracking and migrating admin / DB config changes? Not sure if/how we can g

[2022-04-18 21:01] warrenchristian1telus commented on #214
Changes are in test: https://digital-journeys-test.apps.silver.devops.gov.bc.ca/

[2022-04-20 17:07] Stella-Archer commented on #208
@DonMoffatt could you fill out the employee portion of the tele work in test so we can get a test to Patrick?

[2022-04-20 17:47] DonMoffatt commented on #208
I hope to do that before the 11 a.m. meeting.

[2022-04-20 17:55] DonMoffatt commented on #208
I sent a submission. I was puzzled why I saw the manager's portion below the submit button. Shouldn't that be hidden?

[2022-04-20 20:28] MeghanStothers commented on #111
This ticket falls into Ji's court

[2022-04-20 20:30] MeghanStothers commented on #157
Ticket #71 to be completed before this one

[2022-04-20 22:56] MeghanStothers opened #218 "Telework: Add a text box to cost section"
As a user, I want to record any costs my Employer has agreed to pay for as part of my Agreement.

Requirements:
1. Add a text box with character limit of approximately 500

2) Please the box at the bottom of the "costs" (section 11)

3) add the following language to the top of the box
Optional: Employees and supervisors have agreed the Employer will pay the for the following:

Include an estimated

[2022-04-21 15:51] #202 closed

[2022-04-21 15:54] #212 closed

[2022-04-21 15:55] #211 closed

[2022-04-21 16:09] DonMoffatt commented on #214
I tested it and it works for me.

[2022-04-21 17:15] DonMoffatt commented on #218
I've added the text box. Please test it to confirm that it meets the needs.

[2022-04-21 18:19] MeghanStothers commented on #218
Great, although I cannot see the box/language, so assume it needs to be pushed to test next by Ji:

TEST LINK: https://www2.qa.gov.bc.ca/gov/content/careers-myhr/all-employees/work-arrangements/flexible-workplaces/get-started-with-flexible-work-in-the-bc-public-service-clone-62682

[2022-04-21 18:23] jizhaogit commented on #218
Get a 403 error when i try to touch the page that Meghan included.  Don would you please let me know what is the details?  thanks.

[2022-04-21 20:54] DonMoffatt commented on #218
I think the link was incorrect and I forwarded instructions on where to find the form.

[2022-04-21 21:28] DonMoffatt commented on #218
Ji asked if the contents of this box need to go to the ODS. I thought the answer was no, but I am not sure. @MeghanStothers do you know?

[2022-04-21 22:30] DonMoffatt commented on #165
I think @jizhaogit has fixed this but it hasn't been pushed to TEST yet from DEV. I see the correct conditional logic in manager portion and the manager portion does not show when the employee fills out the form now. @Stella-Archer @MeghanStothers

[2022-04-21 22:34] jizhaogit commented on #165
yes @DonMoffatt, i just made a fix in dev telework form and we can check it tomorrow.

[2022-04-21 22:39] DonMoffatt commented on #165
I tested it and it looks good to me.

Don

From: jizhaogit ***@***.***>
Sent: April 21, 2022 3:35 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Moffatt, Don PSA:EX ***@***.***>; Mention ***@***.***>
Subject: Re: [bcgov/digital-journeys] Telework: Hide the Comments/Sign-off section for the client view (Issue #165)

[EXTERNAL] This email came from an external source. Only open attachments or links

[2022-04-21 22:46] MeghanStothers commented on #218
You are right @DonMoffatt - the info will not go to the ODS

[2022-04-21 23:25] DonMoffatt commented on #218
@MeghanStothers Could Ji and I have a list of what goes to the ODS please?

[2022-04-21 23:27] DonMoffatt commented on #218
@MeghanStothers and @Stella-Archer Would you please look at the text box I've added to the "Telework Agreement - Copy" version of the form in DEV? If you approve of the change Ji will push it to TEST.

[2022-04-21 23:34] DonMoffatt commented on #198
@jizhaogit Let's discuss this Friday April 22.  I need to change the message in the model. I might need your help downloading a copy of the model that is in use. I will see if I can do it on my own first. If I can it should be an easy modification.

[2022-04-21 23:36] Stella-Archer commented on #218
@MeghanStothers the fix is in dev still here's the link https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/6245258a5302ccaf000035e7
@DonMoffatt ![image.png]
(https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/9ab61955-87d3-4109-b35c-ea00908c4f2a)

[2022-04-21 23:45] MeghanStothers commented on #130
ERIP form set up in Orbeon following a discussion from Ian/FW about:
-	Security concerns for access by non-IDIR uses
-	A higher technical estimate than anticipated (complete overhaul of the formsflow page
-	A few ideas proposed 1) creating a blanket user name and password sent to all clients – has security concerns sent to lultiple users, and not able to track who is filling out forms.
-	Hasan rea

[2022-04-22 18:20] DonMoffatt commented on #198
I've made a change in the model and have uploaded it. I will test it to see if the changes work. I may need to collaborate with Ji on this if it doesn't.

[2022-04-22 23:36] DonMoffatt commented on #198
Changes completed and ready for testing. I changed the first line from "Hello Stothers,Meghan" to "To: Stothers, Meghan" in keeping with the more formal way the name is presented. The name is drawn from the autofilled field in the form. Beware: on the modeling side some of the variables reference variables defined in Camunda while others reference the form field names. @MeghanStothers  @Stella-Arc

[2022-04-22 23:41] Stella-Archer commented on #198
@MeghanStothers  message has been updated there are some limitations due to how fields have been populates see attached email message
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/466766a0-d5df-45ed-8a01-6f972ae16f85)

[2022-04-22 23:57] DonMoffatt commented on #198
I will need to look at embedding the url on Monday. Hard coding in html didn't work but there is a workaround, I think.

________________________________
From: Stella-Archer ***@***.***>
Sent: April 22, 2022 4:41:35 PM
To: bcgov/digital-journeys
Cc: Moffatt, Don PSA:EX; Assign
Subject: Re: [bcgov/digital-journeys] Telework: update manager's notification email language (Issue #198)

[EXTERNAL] This

[2022-04-25 16:24] DonMoffatt opened #222 "Create Production Environment"
As a forms designer, I need to be able to push the form to an environment where it can be seen by the wider government in order to test and use it by end users.

[2022-04-25 23:09] #50 closed

[2022-04-26 13:22] jizhaogit commented on #165
merged to test site

[2022-04-26 15:50] #165 closed

[2022-04-26 16:56] Stella-Archer commented on #208
Correct version in dev: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/6245258a5302ccaf000035e7

[2022-04-26 17:08] Stella-Archer opened #226 "telework test sends wrong links to manager"

[2022-04-26 17:11] Stella-Archer commented on #226
As a manager I receive a email telework submission from and employee. The link in the email goes to 'my tasks' not the specific form to approve. This makes it impossible to know what to approve.

[2022-04-26 17:15] Stella-Archer commented on #226
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/ca3d8e23-8653-4304-aad3-a41d58849b05)

[2022-04-26 17:16] Stella-Archer commented on #226
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/69c2b109-da8b-4708-8d8f-c9aa7bcf348b)

[2022-04-26 20:56] DonMoffatt commented on #198
@MeghanStothers This appears to be done. Do you want me to close the issue or do you want a final look?

[2022-04-26 21:18] DonMoffatt commented on #198
@MeghanStothers Hi Meghan - after discussing it with Stella I decided to  close it on my own. We think the issues have been addressed.

[2022-04-26 21:18] #198 closed

[2022-04-26 21:20] DonMoffatt commented on #218
@MeghanStothers I made the changes and they look fine in TEST. I am closing the ticket.

[2022-04-26 21:20] #218 closed

[2022-04-26 21:40] DonMoffatt commented on #156
Hello @jizhaogit : I will work on this one then update you, unless you are close to being done with it. Stella wants you to focus on the #222 (the production environment). Is that ok?

[2022-04-27 14:22] jizhaogit commented on #208
has some issues while doing form submission. turn back to check the API calling

[2022-04-27 17:08] Stella-Archer commented on #214
this works correctly in test; https://digital-journeys-test.apps.silver.devops.gov.bc.ca/form goes directly  to ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/cc5607fc-d1be-4833-a74e-db515377ec4a)
in Dev https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form goes to ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/61cc8f5f-f14f-4b40-8cb

[2022-04-27 17:08] #214 closed

[2022-04-27 17:51] Stella-Archer commented on #28
this worked perfect in DEV ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/56676f09-e4d7-4e0b-bb3e-7cede82b59a1)

[2022-04-27 17:54] Stella-Archer commented on #105
Changing the email address of either the Employee(Submitter) or the Supervisor worked in DEV the updated email was received by the new recipient

[2022-04-27 18:02] Stella-Archer commented on #28
Worked well in test as well and message persisted long enough for me to read and understand the instructions
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/0f4906c3-a2f8-4294-b1a8-ce2315b3c1b6)

[2022-04-27 18:02] #28 closed

[2022-04-27 18:11] Stella-Archer commented on #105
This works in test as well sending to the address of whom ever it's addressed and using the 'name' in the email as it it left (or not)
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/f63dab95-6e0f-4689-a263-fb7ca3b11e4e)

[2022-04-27 18:25] #105 closed

[2022-04-27 19:58] warrenchristian1telus commented on #214
Just a note there there is a "part b" to the process (Identity Providers > IDIR) that was initially missed in dev. This has been resolved, and I added the step to my earlier comment: https://github.com/bcgov/digital-journeys/issues/214#issuecomment-1101761097

[2022-04-27 22:43] #3 closed

[2022-04-27 22:44] #1 closed

[2022-04-27 22:57] Abuchana commented on #213
Duplicate ticket with #218

[2022-04-27 22:57] #213 closed

[2022-04-28 00:05] DonMoffatt commented on #156
I've got this half done. If the user selects the "no formal schedule" checkbox then the specific day options disappear (and reappear if the box is deselected). Getting the "no formal schedule" tickbox and text to disappear is proving more difficult.  I am wondering if there is an issue with the hide() function or if I need to set show() to false.

[2022-04-28 16:01] jizhaogit opened #232 "Deployment problem for Digital Journey"
I tried to do deployment for Digital Journey today and get errors for some cases.

Issue status:

1.	 DEV
        a.	            Web app/api deployment                            Success
        b.	            Camunda deployment                                 Failed
2.	TEST
        a.	            Web app/api deployment                            Failed
        b.	            Camunda deployment

[2022-04-28 18:45] DonMoffatt commented on #156
@Stella-Archer Can you please test this? It works for me. Go to the Telework form in TEST.

[2022-04-28 20:11] Abuchana commented on #156
- [ ] test

- [ ] test

- [ ] 3

[2022-04-28 20:11] Abuchana commented on #156
- [ ] test 4

- [ ] test 5

- [ ] test 6

[2022-04-28 20:28] Abuchana commented on #222
Aim for May 20th
Warren inquiring with Phill

[2022-04-28 20:33] Abuchana commented on #226
- [ ] Stella to check which environment(s) this occurs in

[2022-04-28 20:46] jizhaogit commented on #166
Added anchor in middle of telework form <a href="#manager"> and tested with formurl#manager, but does not work as expected.

[2022-04-28 21:17] warrenchristian1telus commented on #232
@jizhaogit The Service account issue should be fixed now.  The latest changes have been deployed to Dev and Test. Please review and let me know if there is any further issue.

[2022-04-28 21:22] #12 closed

[2022-04-28 21:22] #36 closed

[2022-04-28 21:27] Stella-Archer commented on #156
**Q/A Actions DEV Env.**
- [ ] when 'No formal schedule' is checked schedule day options is hidden

- [ ] when a 'schedule day' is checked  'No formal schedule'  option is hidden

- [ ] when a 'schedule day' is checked the day is added to the # of days a week field

- [ ] when 3 or more days are checked in 'schedule day' the day(s) are totaled in the # of days a week field and the 'ADM Alert messa

[2022-04-28 21:29] Abuchana commented on #156
I LOVE IT, Stella!!!! 😊

Alison Buchanan
Scrum Master, Project Manager
Corporate Services Division | BC Public Service Agency
810 Blanshard St | Victoria BC | Tel 778.698.2133

From: Stella-Archer ***@***.***>
Sent: April 28, 2022 2:27 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Buchanan, Alison L PSA:EX ***@***.***>; Comment ***@***.***>
Subject: Re: [bcgov/digital-journeys] Telework: Display

[2022-04-28 22:45] Stella-Archer commented on #156
### Test test

[2022-04-28 23:30] DonMoffatt commented on #156
There is an issue executing javascript in DEV. The solution works in TEST. Let's separate out the checklist issue from this ticket, as that is not related.

[2022-04-28 23:30] DonMoffatt commented on #156
There is an issue executing javascript in DEV. The solution works in TEST. Let's separate out the checklist issue from this ticket, as that is not related.

[2022-04-28 23:30] #156 closed

[2022-04-29 16:00] jizhaogit commented on #232
@warrenchristian1telus  i still get error for doing dev Camunda deployment.  ![deployment_Issue_camunda_dev_20220429.png](https://images.zenhubusercontent.com/620163b737f8d3386467e70d/a4b4bca2-89db-46b2-b865-61f78e8ca90a)

[2022-04-29 16:22] jizhaogit opened #233 "TOOL: Form version control - Exploratory"
Use GitHub repo to do forms version control

[2022-04-29 16:53] warrenchristian1telus commented on #232
@jizhaogit The namespace issue has been resolved. Deployment looks good on my end now. Please review and let us know if you have any further issues.

![image.png](https://images.zenhubusercontent.com/5f6b6e00c344a38c20855fad/117ccbfb-d069-4f46-a3b2-74898f3ad767)

[2022-04-29 17:16] jizhaogit commented on #232
@warrenchristian1telus   yes the deployment to Camnuda dev is working now!  i will do more testing for web app/api deployment for dev and test site once after they finish the demo. so will hold this ticket till next Monday.
thank you very much!

[2022-04-29 17:32] warrenchristian1telus commented on #222
The production environment is live. I'm looking into any outstanding transfers / migrations that may be required. There is currently no content, but it otherwise seems to be functioning as expected.

https://digital-journeys.apps.silver.devops.gov.bc.ca

[2022-04-29 18:21] warrenchristian1telus commented on #214
Redirect added to production login as well.

[2022-04-29 18:59] jizhaogit commented on #232
@kkapoor-fresh @warrenchristian1telus   i just tried Camnuda deployment for test and got error message![deployment_Issue_camunda_test_20220429.png](https://images.zenhubusercontent.com/620163b737f8d3386467e70d/873ec8d0-a341-4575-b40b-fa9f98db56e7)

[2022-04-29 19:21] kkapoor-fresh commented on #232
The deployment is successfull in TEST now but as a permannet solution the "limit.CPU" needs to be increased in the camunda_dc.yaml . I changed it to "1500m" in the pod for deployment to go through. But this needs to be changed in deployment template file so that the value persists in the next build.

[2022-04-29 19:50] jizhaogit commented on #232
@kkapoor-fresh   thanks Kunal, i applied the cpu_limit changes from 250m to 1500m in  **.github\workflows\deploy.yaml**.  should that work? please advise. thanks.

[2022-04-29 20:58] jizhaogit commented on #232
Hi Kunal, i still get errors for deploying web app/api and Camunda.

[2022-05-02 10:57] kkapoor-fresh commented on #232
For camunda you need to modify the deployment templates under /openshift/app for camunda and change the CPU there.
For web , it seems like there is something wrong in this secret BUILD_NAMESPACE: ${{ secrets.BUILD_NAMESPACE }}
Because in TEST, i am seeing the image value being pointed to below in the Deployment configuration resource on openshift
          image: >-
            image-registry.open

[2022-05-02 23:18] warrenchristian1telus commented on #232
@jizhaogit @kkapoor-fresh for the above "in TEST, i am seeing the image value being pointed to below in the Deployment configuration resource on openshift
image: >-
image-registry.openshift-image-registry.svc:5000/test/forms-flow-web:latest
it should be d89793-test instead, i reckon."

I agree, and that's why I tried prepending it in the deployment config earlier. I had also tried updating the sec

[2022-05-03 18:22] kkapoor-fresh commented on #232
@warrenchristian1telus  to answer your question on camunda builds being built to which namespace. They are being build in tools namespace. I see the last GA run for camunda deployment happened 4 days back only
![image.png](https://images.zenhubusercontent.com/603e7d017ac89a48774c4630/b2d0d38a-1d32-4b7e-b372-4ed924b181fa)

[2022-05-03 18:33] warrenchristian1telus commented on #232
Thanks @kkapoor-fresh. I was just wondering because none of the pods for the workflow were showing up. Now I know it's because of the Replication Controller failing to build due to CPU limits.

[2022-05-03 18:59] kkapoor-fresh commented on #232
I did a quick filter to get the cpu limits requested for each pod in test namespace.  If we add the individual values, the total comes out to close 7600 m which is in synct with the metrci that we see in the "compute-long-running-quotas" metric on the web console.

[2022-05-03 20:07] warrenchristian1telus commented on #232
Sounds good @kkapoor-fresh - let's give that a try then.

Does that mean we just need to adjust CPU_LIMIT in https://github.com/bcgov/digital-journeys/blob/main/.github/workflows/deploy.yaml ?

Should all the pods have the same CPU_LIMIT?

I don't see CPU_LIMIT implemented in: https://github.com/bcgov/digital-journeys/blob/main/.github/workflows/camunda-deploy.yaml - shouldn't it be there as well?

[2022-05-04 13:43] kkapoor-fresh commented on #232
@warrenchristian1telus CPU_LIMIT for camunda is implemented in https://github.com/bcgov/digital-journeys/blob/main/deployment/openshift/camunda_dc.yaml

It is not necessary to have the CPU_limit same for all the pods. But at least if we can go with the default limits and without facing issues, I am thinking of Production where we are bound to have more than one replicas of the application pods, ho

[2022-05-04 16:16] T854236 commented on #208
Hi, can you confirm if this is ready for testing or testing has already been done?  To confirm, there are no new records in ODS in May.

[2022-05-05 20:35] Abuchana commented on #233
Archive published versions
Internal copies of forms being built

[2022-05-05 20:49] jizhaogit commented on #226
Please use the following email body content:

To: ${supervisorName},

A new Telework Agreement has been submitted by ${name}  (${email}).

Please review this submission in the Manager/Supervisor Sign-Off section of the Agreement at $BASE_URL/task/$TASK_ID to complete and submit this form.

*If this request is for 3 or more Telework days, you must get approval from your ADM or delegate.

Thank you.

[2022-05-05 21:15] Abuchana commented on #226
Thanks, Ji! Just checking… were you just updating the ticket to capture what to do or did someone need to action it? You are the only one assigned to the ticket so if you need someone to action it, we need to reassign it to them.

Alison Buchanan
Scrum Master, Project Manager
Corporate Services Division | BC Public Service Agency
810 Blanshard St | Victoria BC | Tel 778.698.2133

From: jizhaogit *

[2022-05-06 00:16] jizhaogit commented on #226
Hi Alison, it is more like a knowledge sharing.  no more action need to be taken. the content is already be deployed in dev.   Thanks

[2022-05-06 15:09] Abuchana commented on #226
Ok, thank you for the clarification! 😊

Alison Buchanan
Scrum Master, Project Manager
Corporate Services Division | BC Public Service Agency
810 Blanshard St | Victoria BC | Tel 778.698.2133

From: jizhaogit ***@***.***>
Sent: May 5, 2022 5:16 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Buchanan, Alison L PSA:EX ***@***.***>; Comment ***@***.***>
Subject: Re: [bcgov/digital-journeys] telework t

[2022-05-06 18:47] DonMoffatt commented on #222
We will only know whether this is functioning when we have tested forms in it.

[2022-05-09 15:57] Stella-Archer commented on #222
Monday May 9th - still getting 'No forms found'

[2022-05-09 17:57] warrenchristian1telus commented on #222
@Stella-Archer @DonMoffatt - I'm seeing the Telework form in production. Maybe this is due to a permissions issue. I'll see if I can spot a discrepancy in KeyCloak.

![image](https://user-images.githubusercontent.com/70002196/167469198-50050849-6bb1-4ede-b384-388ca7f45f7b.png)

[2022-05-09 18:07] jizhaogit commented on #208
Listener  ExtractManagerGuid.java is created in https://github.com/bcgov/digital-journeys/tree/main/forms-flow-bpm/src/main/java/org/camunda/bpm/extension/hooks/listeners

need bpmn workflow updates

[2022-05-09 18:34] jizhaogit commented on #71
next step:
1. fit A4 paper scape
2. page break

[2022-05-09 18:37] warrenchristian1telus commented on #222
@Stella-Archer @DonMoffatt I think I've found and resolved the permissions issue in production. Please test again and let me know if you can now see the Telework Agreement form.

[2022-05-09 20:31] Abuchana commented on #106
Needs to be reviewed on the current version as these screen shots are dated, waiting for the blockers to be be removed first

[2022-05-09 22:39] warrenchristian1telus commented on #222
Found an issue with forms-flow-bpm-85-z4xpf: CrashLoopBackOff

Investigating the root cause.

Moving this back to in progress until resolved.

[2022-05-10 20:02] Stella-Archer commented on #226
The issue is resolved in DEV & PROD, currently not receiving messages from TEST so can not confirm for that environment

[2022-05-10 20:07] Stella-Archer commented on #233
Have begun exploration in Miro, need input from Developers on Issues and Ideas on versioning in dev/test/prod and Input form Meghan/Alison on PIA around versioning of individual applications of telework (retention/expiry time best practices) before we consult with experts like Jennifer O

[2022-05-11 15:54] Stella-Archer commented on #208
Iman working on supervisor approval block

[2022-05-12 15:52] Stella-Archer commented on #232
split into six steps to take CPU load off process
checking this will work then re-automate

[2022-05-12 15:57] Stella-Archer commented on #208
Iman working with Simon to solve issue on local then moving dev

[2022-05-12 21:41] iman-jamali-fw commented on #208
My local issue was fixed thanks to Simen. I had to reload `Formio Access Token Cache (Internal)` from the Camunda dashboard.

 ![Screen Shot 2022-05-12 at 2.41.11 PM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/0e6c89c5-6ab4-4771-b5f7-0d813b532682)

[2022-05-12 21:54] Abuchana opened #267 "Technical Preparation for Production"

[2022-05-13 16:02] iman-jamali-fw commented on #208
@Stella-Archer Ticket is ready for testing on dev.

[2022-05-13 16:04] iman-jamali-fw commented on #208
@T854236 Two fields are send to ODS are name under `managerGuid` and `managerIdir`.

[2022-05-13 16:17] T854236 commented on #208
Hi, I saw some tests this morning.  Unfortunately the values are still missing.

![image.png](https://images.zenhubusercontent.com/626979332cf51c6ab3c77983/60797f3d-d003-4dea-8caa-a6bb760daa3d)

[2022-05-13 16:19] T854236 commented on #208
The field names in the endpoint can be found here: https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_app_telework_info/

They are manager_guid and manager_idir.

[2022-05-13 21:01] Stella-Archer commented on #208
I tried this a couple of times today.
1/ I was able to 'approve' and 'submit' in DEV but
2/ there was no validation message to and as a manager i was send to a blank space in 'tasks'
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/bc2f2dc4-dda8-4785-8491-75be771ceffb)
2/didn't receive a copy of the uploaded approval file in my manager email

[2022-05-13 21:09] iman-jamali-fw commented on #208
Hi @T854236 , Thanks for the note on field names. I updated them to manager_guid and manager_idir. Can you try again to see if values are received on ODS end? Thank you

[2022-05-13 21:24] warrenchristian1telus commented on #232
Deployments have been completed to dev and test environments.

@iman-jamali-fw Can you please verify. If everything looks good, feel free to deploy to production, or let me know and I can run the deployment.

Dev: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form
Test: https://digital-journeys-test.apps.silver.devops.gov.bc.ca/form
Prod: https://digital-journeys.apps.silver.devops.gov

[2022-05-13 21:28] warrenchristian1telus commented on #222
@iman-jamali-fw Once the deployment is completed with #232, please ensure that the latest Telework Agreement form updates are in production, then we can move this to QA for review.

[2022-05-13 23:05] warrenchristian1telus commented on #232
@kkapoor-fresh I've identified a couple of issues in the deployment. Test namespace is using images built/deployed there (d89793-test/imagestreams) instead of in tools, and it's out of date, as the builds are going to /tools.

![image.png](https://images.zenhubusercontent.com/5f6b6e00c344a38c20855fad/9567308c-bcce-4545-9a3f-3e94296e0d2b)

I've manually updated the image to the tools version for th

[2022-05-13 23:49] Stella-Archer commented on #208
tested again with Meghan @ 4:30pm PST same results

[2022-05-16 12:24] kkapoor-fresh commented on #232
@warrenchristian1telus I am suspecting the secret BUILD_NAMESPACE for TEST env in github is pointing to the "test" namespace rathe than the "tools" namespace. We can't see the current secret value but that it seems to be different from the DEV and Prod env. Can we try upda

[2022-05-16 14:52] T854236 commented on #208
Reviewed the test that you've done @Stella-Archer, in the data warehouse we see the manager information as per below.  I noticed that on some tests, you approved your own submission.

![image.png](https://images.zenhubusercontent.com/626979332cf51c6ab3c77983/dc10edc5-c31a-48b6-8899-98ecaac6e2d0)

[2022-05-16 15:35] warrenchristian1telus commented on #232
@kkapoor-fresh Yes, the BUILD_NAMESPACE likely needs to be updated, but what about the image tags? Right now, dev, test and prod all share an image, so we effectively just have one build possible. TAG_NAME = latest in all builds. Shouldn't TAG_NAME = $NAMESPACE ?

[2022-05-16 15:56] kkapoor-fresh commented on #232
@warrenchristian1telus this was the intial design when we started working on Digital journeys. We can work in near future on that and I believe that is one of the items in the backlog for PSA.

[2022-05-16 16:31] iman-jamali-fw commented on #208
Looking into the issue with "uploaded file is missing from supervisor email".

[2022-05-16 19:29] warrenchristian1telus commented on #232
@kkapoor-fresh Yes, builds are all now going to tools namespace. I think we need to update the DeploymentConfigs for each image to reflect the environment, and avoid images being automatically promoted from dev through to production without approval.

Such as here, in the web_bc.yaml (objects: spec: output: to: name):

https://github.com/bcgov/digital-journeys/blob/064d9ff6186edbbc4ae9190216e90f80

[2022-05-16 23:30] iman-jamali-fw commented on #208
@Stella-Archer
The issue with the missing uploaded file in the email is fixed :)
The supervisor
![Screen Shot 2022-05-16 at 4.28.45 PM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/0c363d43-483f-44f2-a722-1f644bb6df1c)should be able to see the uploaded file as an attachment in the email.

[2022-05-17 10:59] kkapoor-fresh commented on #232
@warrenchristian1telus I also was trying to think of ways to incorporate the tag in the build config. The problem with the above code snippet is that build config will be building buidls to the same namespace which is "tools".  The Secrets.Namepace secret is only available at deployment time as is it gives the namespace where the application will be deployed.

[2022-05-17 12:43] kkapoor-fresh commented on #232
@warrenchristian1telus I think we might be able to make use of the github.event.inputs.environment which takes on the value dev , test or prod. We can plug  this expressions in the BUILD_TAG environment variable and pass it as a parameter in the build configuration.
@freshjwarren

[2022-05-17 15:41] warrenchristian1telus commented on #232
@kkapoor-fresh @freshjwarren That sounds good to me. In this case, we don't have branches to work with other than main and feature branches. Will we need dev and test branches to make this work? I'd be a bit concerned about having test and prod in different branches, as they could stray from each other and then test won't be a good proxy for testing prod. As long as we can avoid that type of pitfa

[2022-05-17 15:59] T854236 opened #270 "Ability to track tests by environment"
Have ability to separate test submissions from different environment.

[2022-05-17 16:06] T854236 commented on #270
There are 2 non-prod environments:  PROD and non-PROD.  The API server tracks source IP of every call made.  Sample below.

![image.png](https://images.zenhubusercontent.com/626979332cf51c6ab3c77983/2c23ad26-1747-48f7-95f7-34d25f6c16b7)

@warrenchristian1telus I have enabled GET on that endpoint.

[2022-05-17 16:40] MeghanStothers opened #271 "Security Vulnerabilities of Application"

[2022-05-17 16:42] MeghanStothers commented on #271
As a program area leads, we need to have an established approach and someone with security/technical skills to maintain and update the OpenShift application.

[2022-05-17 16:49] MeghanStothers commented on #271
May 16 - Igor sent email message noting 37 security vulnerabilities
May 17 - consulted with Warren who noted two possible approaches 1) scheduled updates (weekly or monthly) or 2) Repo/alert system, almost daily updates
In short term, our team will ask Warren/someone to review the vulnerabilities
In the longer term, we will need to have a resource to address this essential work to keep the applica

[2022-05-17 17:34] alexandralloyd opened #272 "eSkill Testing Request Form Updates"
**New Forms Request**
**Form Owner**: Erin Williams, Project Coordinator at HR Services and Solutions
**Form**: eSkill Testing Form
**Format of Form**: Orbeon
 **Original Request**:
"Alex and Stella thank you in advance for your help! I’ll answer some of Meghan’s questions here but I’ll of course reiterate any important bits of info in a CRM ticket as soon as you let me know the correct process fo

[2022-05-17 17:52] alexandralloyd commented on #272
Made a CRM ticket reflecting this request. Updated form with requested changes. Sent to Form Owner for review.

[2022-05-17 17:56] alexandralloyd commented on #272
Changes approved by Form Owner. Email confirmation of approval of changes attached.
[https://app.zenhub.com/files/439477060/cfa30020-b4b2-4ba8-a38d-31e94a60f047/download](https://app.zenhub.com/files/439477060/cfa30020-b4b2-4ba8-a38d-31e94a60f047/download)

[2022-05-17 17:57] #272 closed

[2022-05-17 20:18] MeghanStothers commented on #199
I tested this today and noted the following:
- the message/wording needs spacing/paragraph breaks  as requested above
- the word "Please" has been linked incorrectly to the Stella/sender's email address

sthat appears is not the same as the one above
- To: Stothers,Meghan, A new Telework Agreement has been submitted by Archer,Stella  (stellaanne.archer@gov.bc.ca).Please review this submission in t

[2022-05-17 20:24] #16 closed

[2022-05-17 20:37] #195 closed

[2022-05-17 20:39] #196 closed

[2022-05-18 14:33] Abuchana commented on #71
@iman-jamali-fw @Stella-Archer @MeghanStothers
Is there a way to have the break in a better spot so it's not cutting off the boxes?
![image.png](https://images.zenhubusercontent.com/6005ca03d883b372a058fe50/17a61fac-67ce-48b6-bf8e-b3e0d938ba3b)

[2022-05-18 15:23] iman-jamali-fw commented on #71
@Abuchana
An easy but manual way is to adjust the form at the form designer level (this should be done for each form) to leave the break spot empty to prevent cut-off. The good thing about this you won't need a developer, and a designer can easily achieve this.

And there should be a dynamic way at the pdf generation logic level. So far I did not find an easy way and think this should be hard to i

[2022-05-18 15:56] #226 closed

[2022-05-18 15:58] #222 closed

[2022-05-18 15:59] Abuchana commented on #233
The Enterprise version has built-in versioning $250/month

[2022-05-18 18:31] alexandralloyd opened #273 "Platform Development General Epic"
Epic for all issues that don't fit into a specific Epic within the Platform Development Project.

[2022-05-18 18:55] alexandralloyd opened #274 "[UX Testing] Telework Form"
Create individual issues related to each step of the process. You don't need to create tickets for each

**Steps**
1. Planning
- Goals, timeline, audience identification
- Accessibility

2. Map Out Process
- How will we test?
- Roles and responsibilities

3. Script
- Scripts for different scenarios

4. Recruitment
- Accessibility considerations
- Demographics match personas (people, organizations,

[2022-05-18 20:01] warrenchristian1telus opened #275 "TOOL Security: Update formflow.ai to Latest Version 4.0.5"
Update composer dependencies in the repository to eliminate any unnecessary security vulnerabilities.

This is in relation to Igor's report, and Dependabot security Alerts:

https://github.com/bcgov/digital-journeys/security/dependabot

I think we have two main options to resolve at least the majority of these issues. Some vulnerabilities likely do not yet have a fix available, so may need to be m

[2022-05-18 23:51] alexandralloyd opened #276 "Dashboard Interface"
For all issues related to the dashboard interface.

[2022-05-19 15:48] MeghanStothers opened #277 "Bug: Key Cloak"

[2022-05-19 15:51] MeghanStothers commented on #277
During a recent demo, I got the following message asking me to confirm my account

[2022-05-19 16:37] MeghanStothers opened #278 "TES: Telework loading testing consult"

[2022-05-19 16:39] MeghanStothers opened #279 "Telework: TES consult about load testing"

[2022-05-19 16:50] MeghanStothers commented on #279
For the Telework corporate roll-out, BP/TES/PSA Product teams will need to set up a consult with Patrick TES about ODS and any plans and/or requirements for testing and high-load situations.  We will want to talk about: timing, our understanding of server limits and requirements for concurrent connections.  The PSA product team advised form owners (PIE) to consider a staggered rollout for employee

[2022-05-19 16:51] warrenchristian1telus opened #280 "Add Production CDATA API Endpoint"
In preparation for production release, we need to add the production CDATA API Endpoint to the production environment.

We need to ensure that the method used allows for dev and test namespaces to use the dev and/or test endpoints, and that backups, migrations, etc. will not be negatively impacted.

@kkapoor-fresh or @iman-jamali-fw Can you please comment on a solution / options? I'm not yet sure

[2022-05-19 18:10] warrenchristian1telus opened #281 "Deployment Pipeline Enancements"
This epic will contain all issues pertaining to deployment pipeline enhancements.

[2022-05-19 18:12] warrenchristian1telus opened #282 "Add Tags to Differentiate Environments"
Add build tags to pipeline builds to distinguish dev, test and prod deployment images.

Please use these check-boxes to verify as each step is verified. Once all three environments have been successfully deployed and validated to be using the appropriate image tags, this issue will be considered resolved.

**Dev**
- [x] Deployed with :dev tag
    -  [x] Verified by @kkapoor-fresh

**Test**
- [x] D

[2022-05-19 18:20] #42 closed

[2022-05-19 18:20] warrenchristian1telus commented on #282
Add build tags to pipeline builds to distinguish dev, test and prod deployment images.

Note: This should be done after the same is implemented in the Performance Development environment.

This is to ensure that deployments to dev or test can't unintentionally be used in production due to cluster upgrades or other events which may trigger pod recycling.

Rather than building to :latest, all images

[2022-05-19 18:36] MeghanStothers opened #283 "Bug: Telework Form Key Cloak Access"

[2022-05-19 18:38] MeghanStothers commented on #283
As an employee going into the formsflow tool in the prod environment, I cannot access the tool as I get a Key Cloak error message "

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAk4AAAKJCAYAAABNtKb5AAAgAElEQVR4Aey975cV1Zn33e/zD/S89F6+ybqz1iTzo5fEVgZazKCixkALmg6jmDyKZoKLIOOtBMOgeeghIoyGG3XQSUNPWho6jTZpBVobhA42AdKN0EqglRZphXOT4LPkZmSt61nfOlzn7LNPVZ2qc+r8qDrfXqtWnT6nav/47l17f+raV13V8IMf/ED

[2022-05-19 18:46] HasanSifat opened #284 "Form Submission Failure for External users"
Background: When an external user goes into the Telework form and submits a new filled-out agreement, no confirmation email is sent to the submitter. Also, the manager does not receive an email to go in and review the submission.

For the manager, the new submission is viewable in the applications tab-
![MicrosoftTeams-image (3).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/42

[2022-05-19 18:48] Stella-Archer opened #285 "Community DEV"

[2022-05-19 18:53] Stella-Archer opened #286 "Javascript 'submit' verification"

[2022-05-19 18:56] Stella-Archer opened #287 "formsflow.io enterprise version exploration"
Enterprise version of forms.io,
$250/month is reasonable if we're truly getting into the digital journeys business,
will help with versioning

[2022-05-19 19:39] Stella-Archer commented on #283
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAk4AAAKJCAYAAABNtKb5AAAgAElEQVR4Aey975cV1Zn33e/zD/S89F6+ybqz1iTzo5fEVgZazKCixkALmg6jmDyKZoKLIOOtBMOgeeghIoyGG3XQSUNPWho6jTZpBVobhA42AdKN0EqglRZphXOT4LPkZmSt61nfOlzn7LNPVZ2qc+r8qDrfXqtWnT6nav/47l17f+raV13V8IMf/EDivs2fP1+i2O655x6ZO3cuN2pQtj5w9913S2tra2abM2eO6HbXXXfJHXfcIbNmzZLbbrtNbr311pwN3+mGY3S7/fbbBRvOxXbnnXfKd7/7XWdDmt/73ve4xUADtBXazmtD27r1

[2022-05-19 20:35] #283 closed

[2022-05-19 20:50] MeghanStothers commented on #209
Connect with Karim about email template so non developer can edit update emails

[2022-05-19 20:55] MeghanStothers commented on #282
Suggestion: Add a checkbox to show testing results in three environments so the developers are clear about which environment the ticket relates to

[2022-05-19 20:57] MeghanStothers commented on #282
We'll try checklists for the next sprint and review how this works for the dev team and our team

[2022-05-19 21:01] MeghanStothers commented on #270
Do we need to test this one? Let's ask Patrick at next scrum

[2022-05-19 21:03] MeghanStothers commented on #166
Stella and team to determine if this make sense from user testing findings

[2022-05-19 21:04] MeghanStothers commented on #197
To find out from user testing if we do this

[2022-05-19 21:09] MeghanStothers commented on #111
To look at these earlier findings from Freshworks and prioritize after user testing

[2022-05-19 21:13] #278 closed

[2022-05-19 21:22] T854236 commented on #270
We should discuss if there is an action needed based on what was shared during SCRUM meeting by Warren.  The concern was that tests from DEV/TES forms are hitting non-PROD ODS and if there is a requirement to separate them.  If there is no need to differentiate them in ODS then we can close/cancel this task.

Submission from PROD would be hitting PROD ODS.

[2022-05-19 22:11] DonMoffatt commented on #71
@iman-jamali-fw This had been moved to QA but the branding / text break fixes changes have not been done. Was it there by mistake and it was actually still in progress? I have moved it to "In Progress" but please reassign it to the appropropriate pipe if that is not the best.

[2022-05-19 22:16] DonMoffatt commented on #199
I will check the Camunda model: it is likely just errors there that are easily fixed, plus other required changes can be made there.  Longer term, we want to make changes of this type through the editor interface we hope to build (see ticket #209).

[2022-05-19 22:20] Stella-Archer commented on #71
We are still having the horizontal cut off issue in all environments ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/0244c4eb-bebd-4822-9cf2-cf0084ae1080)

[2022-05-19 22:24] DonMoffatt commented on #71
@iman-jamali-fw
Note that the text is cut off on the right margin in addition to the text break between pages that I mentioned.

[2022-05-20 15:43] iman-jamali-fw commented on #71
Sorry, it was in pr review. The changes are not deployed yet. Will move it to Review once deployed.

[2022-05-20 15:54] #232 closed

[2022-05-20 16:02] T854236 commented on #280
Hi, confirming it is already in production.

[2022-05-20 16:03] MeghanStothers commented on #270
Patrick/TES would like more info about the requirements. TES and PSA business team to look at this one together and make decision about separating test environments

[2022-05-20 16:55] warrenchristian1telus commented on #168
I will look into options for supporting HTML emails from Camunda.

[2022-05-20 17:18] warrenchristian1telus commented on #21
@iman-jamali-fw We could possibly use an alternate workflow (path) to allow for a save / edit. Then standard workflow for manager approval, etc.

[2022-05-20 17:30] iman-jamali-fw commented on #71
@Stella-Archer @DonMoffatt The pdf generation is deployed and ready for test on DEV.

[2022-05-20 17:37] warrenchristian1telus commented on #74
I believe the form status is now being updated in the manager view. This should include new, approved and rejected. I think this meets the basic requirements, but if we need to change the status wording, that can be done. If so, I recommend tat we use the same wording denied vs. rejected, etc. across all forms.

@Stella-Archer can you please verify if this is working as expected? If so, I think we

[2022-05-20 17:43] warrenchristian1telus commented on #115
Converting this to an epic, so we can break out tasks into their related buckets for styles, workflow, or UI changes.

[2022-05-20 18:02] warrenchristian1telus commented on #109
I think we need to further discuss exactly how this will work at the next convenient scrum or review session.

[2022-05-20 18:06] warrenchristian1telus commented on #65
@kkapoor-fresh Is this in place already? If not, do you know if we can leverage the same (or similar) backups as on Moodle, Performance, etc.?

Maybe just try to provide or validate the estimate here if you can. I realize it may be a while before you can get to it.

[2022-05-20 18:17] warrenchristian1telus commented on #203
@MeghanStothers Would you be able to add a screenshot or something? Iman and I are not seeing any breadcrumbs on our end. Or maybe things have changed since this was created?

[2022-05-20 18:19] warrenchristian1telus commented on #203
We could probably fix this at the same time as well: ![image.png](https://images.zenhubusercontent.com/5f6b6e00c344a38c20855fad/312e443e-4521-4a12-928d-5cd27e55efb8)

[2022-05-20 18:19] warrenchristian1telus commented on #204
Closing as duplicate.

[2022-05-20 18:19] #204 closed

[2022-05-20 18:22] warrenchristian1telus commented on #215
We need to have this associated with specific forms and fields to be actionable.

@Stella-Archer @MeghanStothers can you please let us know which forms / fields this should apply to?

[2022-05-20 18:27] warrenchristian1telus commented on #155
@Stella-Archer I think we should discuss at our next opportunity to determine which of these should apply just to the Maternity form, and which should be global. I would think most of these design decisions should apply to all forms.

[2022-05-20 20:32] DonMoffatt commented on #199
I've updated the message in the Camunda model. I am waiting to hear back from @iman-jamali-fw as I want to double check that I have the right version of the workflow before I upload it.

[2022-05-20 21:11] iman-jamali-fw commented on #199
@DonMoffatt I emailed the latest version. Hope it works.

[2022-05-20 22:07] DonMoffatt commented on #199
@iman-jamali-fw  It looks fine to me in Dev.  I am checking with Stella before we change the workflow in Test.

![image.png](https://images.zenhubusercontent.com/61e5c6ccd594602905c8af04/2da71ef0-2183-4f21-b1f8-e382d1ea7211)

[2022-05-20 22:28] Stella-Archer commented on #203
yes please - I will look into what Qudsia meant by the breadcrumbs and get back

[2022-05-24 14:30] kkapoor-fresh commented on #65
@warrenchristian1telus I believe this is not in place yet.  Yes, the solution should be on the lines of what we implemented for Moodle, Performance.
The estimate would be about 2.5 weeks for DEV, TEST and PROD including setting up the backups and testing the process.

[2022-05-24 16:43] warrenchristian1telus opened #289 "Add Production CDATA Endpoint to FormsFlow Production Deployment"
The production CDATA endpoint is now live. Please integrate this into the production application to prepare for final testing and go-live.

Production API URL:
https://analytics-api.psa.gov.bc.ca/apiserver/api.rst

Please ensure that dev and test environments continue to use the (shared) test API:

https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rst

[2022-05-24 19:08] HasanSifat commented on #71
tested out "print as pdf" button for unfilled or partially filled forms. The generated pdf is too enlarged to fit into a standard page for printing, as shown in the screenshots below-
 ![MicrosoftTeams-image (6).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/83073064-0342-4f5c-92d2-874296a0b94c)
![MicrosoftTeams-image (5).png](https://images.zenhubusercontent.com/61e5b78d9a5a1e

[2022-05-24 22:57] Stella-Archer commented on #74
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/165b196b-8dc4-4143-9d85-f36b6f6cd39e)

[2022-05-24 23:23] MeghanStothers commented on #277
Tested pm Monday May 24 in
prod:
https://digital-journeys.apps.silver.devops.gov.bc.ca/form/6283dbaab878d3863da71ef4
BUG REPORT: DID NOT WORK as I got the same message in PROD

Worked in DEV

[2022-05-25 15:50] #74 closed

[2022-05-25 16:13] MeghanStothers commented on #199
We'll close this ticket for now, noting the latest updates do not match the "done" acceptance criteria described above: "This ticket will be considered done when the language has been updated and includes the programmatic work to embed the manager's name and link to the employee's unique submission/Telework form"

We decided at this morning scrum that the latest updates are acceptable and we can m

[2022-05-25 16:15] MeghanStothers opened #290 "Telework: Email message to manager for sign-off"

[2022-05-25 16:20] MeghanStothers commented on #290
This ticket relates to closed ticket #199 -
At May 25 scrum, we decided the email language was acceptable an further programmatic work required (outlined below) could be consider as phase 2 work or if specifically requested by form owner

User story: As a manager receiving the email from my employee with a request to review and approve my Telework agreement, I would like to see the following direc

[2022-05-25 16:32] alexandralloyd opened #291 "TELEWORK: manager's approval or Rejection email message for submitter"
As a BCPS employee, I want to receive a notification that my telework application has been rejected (so that I can get more information from the supervisor/delegate approver about my submission.

Potential rejection message:

"Hello (employee name),

Your Telework submission was not approved.  Please see the comments in the form or check with your Manager/Supervisor (name) or delegate who reviewed

[2022-05-25 18:02] iman-jamali-fw commented on #284
The issue was in the Camunda authorization. The Camunda roles were updated on TEST and PROD for new users with the `client` role.

@HasanSifat @Stella-Archer Will be able to test this out to see if the Telework workflow can complete for new users? Thank you

[2022-05-25 18:47] HasanSifat commented on #233
I have looked into the $250/month enterprise solution. Unfortunately, this is a service for a completely different propreitory software created by an American firm (Form.io).

With Formflow.ai we are using a software platform created by AOT technologies. Given the open-source nature of our platform, there might be a very small possibility to add Form.io on top of our  Formflow.ai version. But I do

[2022-05-25 18:54] iman-jamali-fw commented on #284
@HasanSifat Before I look into the "Unauthorized" issue, can you please log out and log in a couple of times to see if this issue still exists? I saw this error a few times in other environments, usually goes away after I log in again. Seems like an existing bug and there could be a ticket already reported this (not sure though).

[2022-05-25 18:55] HasanSifat commented on #71
Received updates on generated pdfs with slightly adjusted measurements so that the generated pdf is more printer-friendly. Waiting to go into the office tomorrow to make a printout of 2 possible sizes.

Looking good to close this ticket after a final confirmation tomorrow. Yaay! Feels good to see this close to completion

[2022-05-25 19:03] HasanSifat commented on #284
@iman-jamali-fw I just logged out of all environments and signed in to the Prod environment to see if I can review the submission made to me as a supervisor/manager. Still the same error.

I can see that there was a submission made for me to review in the "Tasks" tab, screenshot below-
![ss3.JPG](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/a8261779-91b4-4ea4-8616-1a465c183724)
Th

[2022-05-25 20:14] DonMoffatt commented on #199
The workflow was added to DEV and PROD by Iman today.

[2022-05-25 20:24] iman-jamali-fw commented on #284
No problem, I'll look into this issue.

[2022-05-25 21:28] MeghanStothers commented on #71
Thanks @HasanSifat ! Let's preview this with @Stella-Archer tomorrow so we can see how this is working and what needs to be done

[2022-05-25 21:35] MeghanStothers commented on #270
Developers to review this one at tomorrow's scrum so business can make a deci0dion

[2022-05-25 21:40] MeghanStothers commented on #122
Let's confirm at May 26 srum this ticket can be closed @Stella-Archer

[2022-05-25 21:43] MeghanStothers commented on #109
I reviewed this ticket and believe it relates to the Mat/Pat form (see use case above). Not a priority while we work on wrapping Telework in  next few sprints

[2022-05-25 21:46] MeghanStothers commented on #284
@HasanSifat
Any updates on this ticket? Can you test to see if you still get the wrror meesage?

[2022-05-25 21:53] HasanSifat commented on #284
@MeghanStothers- I still get the error when I try to go in as a reviewer. Iman is still looking into this.

[2022-05-25 21:53] MeghanStothers commented on #205
We'll pause on this one until we:
1) carry out user testing and get feedback from manager about the scrolling to get to the bottom of the form
2) get direction from Policy team they'd like us to do this - they might want people to read all information about the policy
3) We explore other usability options to reduce scrolling

[2022-05-25 21:56] MeghanStothers commented on #168
This might have to wait until pahse 2 or until we get a request from PIE/form owner about how to brand the email  (logo images are probably not ideal)

[2022-05-25 22:02] MeghanStothers commented on #206
To confirm: I think we have solved this one as we have successfully tested and see the IDIR sign-on.

Please confirm by testing in all environments

[2022-05-25 22:06] MeghanStothers commented on #70
@HasanSifat Can you test this one to see if it is still happening? This looks like an old ticket.
We'll want to test in all three environments

[2022-05-25 22:08] #25 closed

[2022-05-25 22:38] HasanSifat commented on #70
@MeghanStothers User name and role are still not present when logged into all 3 of the environments.

Currently, the header has Digital Journeys as the title and a "Sign Out" button on the left hand.
![ss4.JPG](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/cd4f690e-b718-4a18-ac30-4d157fe9c1bc)

[2022-05-25 23:32] iman-jamali-fw commented on #284
Sorry, I haven't had the chance to look at this yet, will be looking into this tomorrow.

[2022-05-26 17:54] warrenchristian1telus commented on #275
I am discussing options / best practices for handling security alerts with the other developers / teams.

Currently the top pics for scanning our code and deploying (automatic) code updates where possible are Snyk and Dependabot. Both have been installed / enabled on our repository, and are successfully scanning and identifying vulnerabilities.

We will need to compare these results with those fro

[2022-05-26 17:58] warrenchristian1telus commented on #275
An example of a fix that requires additional investigation is this recommendation from Snyk to change the base image of forms-flow-api from python:3.8 to python:3.8-slim-bullseye. The slim-bullseye version has less vulnerabilities, but we would need to determine / test if it is a viable option for our particular environment and configuration.

https://app.snyk.io/org/warrenchristian1telus/project/

[2022-05-26 18:12] warrenchristian1telus commented on #275
Another thing I would like to mention is that there is no known exploit for any of these vulnerabilities, and that KeyCloak provides a significant level of protection for all of our internet-facing applications. I think managing threat assessments and overall risk should be a primary consideration for how we deal with these issues.

Determining which issues we fix, and when, can make a big differe

[2022-05-26 18:39] iman-jamali-fw commented on #284
With the current setup/implementation on Prod, any new users will have the role of "client" at Keycloak unless an admin changes a user's role manually through the Keycloak dashboard.

I'd suggest creating a separate ticket if automating this process is something within the scope.

[2022-05-26 19:06] iman-jamali-fw commented on #71
For the issue of page break, I'd see two options:

1. Have a generic function to export the pdf with no regard for page breaks. (easy to implement, reusable for other forms out-of-the-box)
2. Have a customized pdf generation for each form that makes sure page breaks are not breaking any form elements. This would require some dev efforts to move certain sections of the form (during the pdf generati

[2022-05-26 19:08] MeghanStothers commented on #203
Stella, can the team investigate and update this ticket?

[2022-05-26 19:17] MeghanStothers commented on #284
@Stella-Archer let's talk with the developers about this one so we avoid having to manually enter names of all employees (current, departing, and incoming employees). Automating seems like a good idea - perhaps integrating with PPLsoft database info if possible?

[2022-05-26 19:20] MeghanStothers commented on #86
Right now some on our team can access the form from Careers & MyHR, but other cannot from other ministries. We want to make sure there are no barriers (such as Key Cloak) for those employees with active IDIRs to access the forms tool and its forms.

[2022-05-26 19:35] MeghanStothers commented on #209
@HasanSifat thanks for setting up the meeting with Karim in which we can explore option to update email messages. Please update this ticket with any details

[2022-05-26 19:41] #205 closed

[2022-05-26 19:42] MeghanStothers commented on #166
We'll pause on this one until we:
1) carry out user testing and get feedback from "manager" about the long scrolling to get to the bottom of the form
2) get direction from Policy team they'd like us to do this - they might want people to read all information about the policy
3) We explore other usability options to reduce scrolling

[2022-05-26 19:56] HasanSifat opened #292 "New Users not getting Reviewer access in Prod environment"
When a new user to Formsflow.ai receives a new submission from his/her employee to review a new telework agreement, the user is not able to access the submitted form and is prompted with an "UnAuthorized" error.

The form can be seen in the tasks tab for the new user, however, it has no info filled out and the managers' section is not visible, screenshots below
![ss3.JPG](https://images.zenhubuser

[2022-05-26 19:58] HasanSifat commented on #284
I have created a new ticket on this issue with the manager's access as a reviewer (ticket#292). The initial issue with new users not being able to submit a form has been resolved and this ticket can be closed.

[2022-05-26 20:16] MeghanStothers commented on #292
Iman suggested this might not be a bug, it might be a tool feature we have not used yet.

[2022-05-26 20:24] MeghanStothers commented on #73
We will be looking at this in user testing
We will ask users in testing about

[2022-05-26 20:28] MeghanStothers commented on #270
Decision at meeting today:  Re-open if it becomes an issue if we need to differentiate between dev and test data

[2022-05-26 20:28] #270 closed

[2022-05-26 20:53] warrenchristian1telus commented on #71
@iman-jamali-fw @HasanSifat I would like to suggest using HTML / CSS to print the form using "@media print" rules to ensure a clean print (no menus, etc.).

This would allow the computer / printer to handle page breaks, and I believe it would resolve a lot of challenges that come with PDF generation and printing.

It would also allow for more flexible print options, which I think would improve acc

[2022-05-26 21:32] warrenchristian1telus commented on #137
I've increased the SSO Session Idle time from 30 minutes to 1 hour in the dev environment.

Note that SSO Session Max (total allowed session time) is set to 10 hours (unchanged).

Please review and let me know if this should be replicated to test.

https://digital-journeys-dev.apps.silver.devops.gov.bc.ca

[2022-05-26 22:22] HasanSifat commented on #71
I have received an updated attachment from @iman-jamali-fw with margins added at the top and bottom of the generated pdf. The content is still breaking apart at the margins. However, it is now less likely for content to be not printed at the bottom and end of a certain page.
Updated pdf attached- [https://app.zenhub.com/files/439477060/34de4c76-a1a8-4f6c-a1d1-8fbd6596617c/download](https://app.zen

[2022-05-26 23:30] HasanSifat commented on #71
Good catch, there are two instances of this. The other one is in the 2nd-page calendar date field. @iman-jamali-fw mentioned this today that the application generating the pdf does not have the calendar icon in its repository and hence it is replacing these unknown icons with this "ds" icon.

Is there a way to manually add the icon to the field to formsflow or the application generating the pdf?

[2022-05-27 15:52] warrenchristian1telus commented on #71
@HasanSifat @iman-jamali-fw I think the FontAwesome (or any other fonts) can be added to the PDF as a resource. In the case of jspdf, something like this:

doc.addFont('/fonts/awesome/fontawesome-webfont.ttf', 'FontAwesome', 'normal', 'StandardEncoding');
doc.setFont('FontAwesome');

[2022-05-27 16:58] HasanSifat commented on #71
According to our stand-up on Friday, there are 3 requirements put forth for this feature and after resolving them we can look into closing this issue. The 3 action items according to priority are as follows-
1. Resolve the spacing of words in the form so that all content is left-justified
2. Update missing icons in the generated pdf within formsflow.ai
3. Update the font used in the generated pdf

[2022-05-27 17:02] HasanSifat commented on #284
Did a final round of testing. I am able to go into the prod environment and make a submission. Can confirm that submission emails and the camunda workflow is functioning as it is supposed to be.

[2022-05-27 20:55] Stella-Archer commented on #86
I can confirm I worked with GDX/Ify(GDX Jira tix SDE-14182) to remove the QA lockdown and tested with new employees not yet in our system this was successful
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/5b9aa521-392f-43fc-a18b-69500ed4f954)

[2022-05-27 20:55] #86 closed

[2022-05-30 14:11] iman-jamali-fw commented on #71
I spent some time on Friday and over the weekend and explored different pdf generation (client-side) solutions. Here are my findings along with an example of generated pdf for Telework form under each option.

1. With the current implementation with `jsPdf` the best thing I could do was to add the BCSans font. There are still issues with page breaks and icons not loading. BCSans font also has some

[2022-05-30 17:21] iman-jamali-fw commented on #277
@MeghanStothers, Can you please see if this is the error you get on prod? Just making sure I can replicate it. <br>
![Screen Shot 2022-05-30 at 10.18.39 AM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/0d22c87e-302f-4426-bfee-3a7efadbab1c
)

[2022-05-30 17:38] warrenchristian1telus commented on #275
I've upgraded python from 3.8 to 3.8-slim-bullseye to reduce vulnerabilities by reducing the default packages installed. Deployment was successful. We're now reviewing and testing for any issues that may have been introduced in dev.

[2022-05-30 18:52] Stella-Archer commented on #71
I've had a quick look, option 5 looks really good as 'image only' might be more of a feature than an bug, I will test a bit more this afternoon

[2022-05-30 18:56] MeghanStothers commented on #277
Prod Link: https://digital-journeys.apps.silver.devops.gov.bc.ca/

Test Link https://digital-journeys-test.apps.silver.devops.gov.bc.ca/form

Dev Link: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form

[2022-05-30 19:02] MeghanStothers commented on #277
TESTED just now on Prod - I got the same message "Account already exists"

[2022-05-30 19:48] HasanSifat commented on #137
Hi @warrenchristian1telus. I have tested this out in the dev environment and can confirm the session idle time is sticking there. I would recommend to move this to test

[2022-05-30 21:54] DonMoffatt commented on #122
It was suggested that the link the manager receives be added to the message the employee receives. However, because this points to a task, and the task disappears after the manager completes it, this would be confusing and of little value to the employee.  The section they completed is greyed out and they do not see the supervisor portion at this point. The employee can already see a copy online a

[2022-05-30 21:58] Stella-Archer commented on #71
It looks really good in print format to
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/be2cd2c5-f865-4fb3-9bf7-4593f77a884d)
1/ I wonder about what it looks like when you fill out info
2/ I'm not sure if the file size is a deal breaker, because it's and image it's bloated up to 3.5MB, is that too much for mail servers ![image.png](https://images.zenhubusercontent.com/61

[2022-05-30 22:21] DonMoffatt commented on #122
@Stella-Archer  and I also discussed the possibility of including a link to the Applications tab, or additional messaging. However, we thought that this is likely overkill as there is other messaging and copies of the form.  As a results we are closing the ticket. If user testing reveals a justification for a message there we can revisit the topic.

[2022-05-30 22:21] #122 closed

[2022-05-30 22:31] warrenchristian1telus commented on #137
Hi @HasanSifat SSO Session Idle time has been set to 1 hour in test as well. Just let me know when you're confident this will suffice for production.

[2022-05-31 15:52] Abuchana commented on #71
Team has decided to implement sample 2 (2.1 MB)

[2022-05-31 17:06] HasanSifat commented on #137
Hi, @warrenchristian1telus the 1-hour session idle time has been tested in the Test environment and it is looking good for me. I did a dummy submission and all the form components are working correctly. You can deploy this into Prod now. Thank you!

[2022-05-31 20:40] Stella-Archer commented on #71
I've been having an issue getting into dev :( ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/82ba2002-241a-427d-83d9-2026f1be0814) is it just me?

[2022-05-31 21:10] iman-jamali-fw commented on #277
Logging with another IDIR subsequently will prompt you with the error (image attached below) and doesn't let you in.
Steps to reproduce:
1. login with an IDIR (let's call it idir1) => should work fine
2. Login with another IDIR (call it idir2) => show error "invalidFederatedIdentityActionMessage" and stop you from logging

Workaround: The error persists unless page cookies and cache are clear. Thi

[2022-05-31 21:11] warrenchristian1telus commented on #137
Sure thing @HasanSifat - changes have been deployed to production. Please verify on your end, then feel free to close this issue.

[2022-05-31 21:44] iman-jamali-fw commented on #71
@Stella-Archer I believe it was a temporary outage from IDIR. Should be able to log in now. Can you please try again? Thanks

[2022-05-31 23:31] HasanSifat commented on #71
I can get back into the Dev environment now. Looks like the pdf generator is also working smoothly with a pdf generated of 1.9MB in size.

[2022-06-01 15:48] #71 closed

[2022-06-01 15:57] MeghanStothers commented on #277
Will not hold up testing as we'll be testing in Test Environment
Iman to write script with my IDIR
Iman to ask me to test when he's ready

[2022-06-01 22:57] HasanSifat commented on #216
Current considerations-
1. Only Forms and Tasks tabs will be visible to form submitters
1.1- Forms tab to show forms accessible to a certain user
1.2- Tasks tab will only show tasks to be carried out by a user with a status message in the left pane to show "Pending/Approved/Denied"
1.3- Forms tab should have the option to make a new submission and view previous submissions besides each form availa

[2022-06-01 23:02] HasanSifat commented on #96
Current considerations-
1. Only Forms and Tasks tabs will be visible to form reviewers
1.1- Forms tab to show forms accessible to a certain user
1.2- Tasks tab will only show tasks to be carried out by a user with a status message in the left pane to show "Pending/Approved/Denied"
1.3- Forms tab should have the option to make a new submission and view previous submissions besides each form availab

[2022-06-01 23:02] HasanSifat commented on #217
Current considerations-

Only Forms and Tasks tabs will be visible to form reviewers
1.1- Forms tab to show forms accessible to a certain user
1.2- Tasks tab will only show tasks to be carried out by a user with a status message in the left pane to show "Pending/Approved/Denied"
1.3- Forms tab should have the option to make a new submission and view previous submissions besides each form available

[2022-06-01 23:06] HasanSifat commented on #233
Reached out to Barry Hughes from AOT to discuss a host of features including version control. Coordinating to set up a meeting on June 08, 2022, Wednesday. Updates to follow.

[2022-06-02 16:17] MeghanStothers commented on #168
We decided at today's scrum that we don't want a lot of developers' time invested in branding (trying to embed logos) etc. until we address functional fixes. We will also want to prioritize this ticket once we 1) have more feedback from user testing and 2) connect with form business owners Policy/Sean (and PSA comms/Andrea Gillis) to determine the priority and requirements of branded emails.
See r

[2022-06-02 20:19] MeghanStothers commented on #282
warren comments: More to do with the deployment and where things are built in open shift.
About the pipeline that builds images - we need for it to build specific dev, test, prod images

[2022-06-02 20:24] #206 closed

[2022-06-02 23:54] MeghanStothers commented on #277
Tested the prod link and did not get the error. Iman to document the fix and then we can close this ticket - yay!

[2022-06-03 14:35] iman-jamali-fw commented on #277
**What was the issue?**
In short, the issue was the broken identity provider link for a user. This prevented that user from login to the system.
![Screen Shot 2022-06-03 at 6.59.34 AM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/b1d28668-cc93-47c7-baa0-25c11c355cd7)

**How to replicate it?**
Logging to Keycloak and select one of the users. Go to `identity provider link` tab a

[2022-06-03 14:37] iman-jamali-fw opened #306 "Logging with another IDIR subsequently will prompt you with the error"
Logging with another IDIR subsequently will prompt you with the error (image attached below) and doesn't let you in.
Steps to reproduce:
1. login with an IDIR (let's call it idir1) => should work fine
2. Login with another IDIR (call it idir2) => show error "invalidFederatedIdentityActionMessage" and stop you from logging

Workaround: The error persists unless page cookies and cache are clear. Thi

[2022-06-03 15:51] MeghanStothers commented on #277
Warren's suggestion: add a tag to the ticket as an interim solution. Over to Stella's team to store in Teams for useful documentation for program area.

[2022-06-03 15:53] #277 closed

[2022-06-03 20:49] DonMoffatt commented on #291
@MeghanStothers Please review in TEST.

[2022-06-03 20:56] Stella-Archer commented on #291
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/fcb161d5-5234-4197-a688-56c2731e1e02)

[2022-06-03 21:00] Stella-Archer commented on #291
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/494e0d81-19ea-49ba-8a05-c01270421420)

[2022-06-03 21:05] Stella-Archer commented on #291
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/300c9516-4bd6-43f0-964a-2ba2a8fa58a4)

[2022-06-03 21:17] Stella-Archer commented on #291
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/fbf6400c-980c-4b4d-bfe0-4c20b54be684)

[2022-06-06 15:15] iman-jamali-fw commented on #292
**Issue**
New users onboarding to the PROD is assigned the "Client" role. At this point, assigning other roles including "Reviewer" would require a manual role assignment through the Keycloak dashboard.

**Goal**
This ticket goal is to automate this process so that Tool automatically assigns the "Reviewer" role to the supervisor.

**Decide on the solution to fix**
The important question for the te

[2022-06-06 20:58] iman-jamali-fw commented on #292
After a discussion with @Stella-Archer, I was to look into the possibility of adding the "Reviewer" role to all new users in the PROD. With that regard, I looked into the permissions associated with the "Reviewer" role and compared that to the "Client" role.

Clients can only see their own submitted forms under the "Application" and "Task" tabs. They cannot sign off a submission even if it is assi

[2022-06-07 16:19] HasanSifat opened #308 "Disable Deleting/Editing of forms function for Reviewers and Clients"
As a user submitting a form, I should not have forms designer functions when I am in the "Forms" tab.
So that I am not able to accidentally delete a particular form, screenshot below-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/39581570-bbd4-4227-952c-cd0d8a6c63c8)

As shown in the screenshot above, we want to remove the following buttons to both users and reviewers

[2022-06-07 17:02] iman-jamali-fw commented on #308
### Current Roles and their respective access in the TOOL
Hope this can clarify the issue and provide insight on how to modify the access based on the roles.

**Client**
- Forms
  - View the list of published forms
  -  Operations => "Submit New"
- Application
  - View the list of own published forms
  - Operations => "View"
- Tasks
  -  See three sub-menu: My Tasks, All Tasks, My All Tasks
  - Ca

[2022-06-07 17:32] iman-jamali-fw commented on #292
Please see comment on [#308](https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/308) for details on different roles access level and let me know if want to change access-levels for each role.

[2022-06-07 22:17] Stella-Archer commented on #308
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/d55cfd51-8256-4b6f-a82b-00129efdcec6)

[2022-06-07 22:18] Stella-Archer commented on #308
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/999b4921-b637-40ef-91ec-08da56c4395d)

[2022-06-08 19:02] iman-jamali-fw commented on #292
@HasanSifat @Stella-Archer
In terms of the next steps for this ticket, should I go ahead with this comment from Hasan from #308?

[2022-06-09 00:37] MeghanStothers commented on #291
If this technical task is complete, let's close the ticket. Ten we can open a new one "email wording" so the writers can review/ere-write the message and ask form/owners (PIE) to sign off on the wording. Otherwise, this ticket will never be closed :)

[2022-06-09 00:39] HasanSifat commented on #292
@iman-jamali-fw,  I would recommend going ahead with this proposed setting and after that, we can test to see how the use cases are functioning. You mentioned having a conversation with Stella and Meghan this week in a previous comment. If my proposed configuration meets those discussed requirements, we should be good to go.

[2022-06-09 00:40] HasanSifat opened #309 "TELEWORK: Dashboard Increase timer for green popup message box for submitters"
When users have submitted a telework agreement, they are led to the Form's dashboard environment followed by a green popup message confirming their submission. There is a timer on the popup message after which the green popup message box disappears. The timer on this message box needs to be increased so that users are given more time to review the message. Screenshot below-
![image.png](https://im

[2022-06-09 00:42] HasanSifat opened #310 "Add popup bubble or text box to inform users once "Print as Pdf" has been clicked on"

[2022-06-09 15:27] iman-jamali-fw commented on #292
TEST and PROD now assign `client` and `reviewer` roles -- by default to the new users.

![Screen Shot 2022-06-09 at 8.25.02 AM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/0b0b10b3-5b4a-466c-93e3-9a0601d8f720)

[2022-06-09 16:32] warrenchristian1telus opened #311 "Bad Request After Session Timeout"
If my session times-out, then I try to log back in, I get the following 400 Error - Bad Request:

![image.png](https://images.zenhubusercontent.com/5f6b6e00c344a38c20855fad/06d550f2-41a3-4300-9f5b-a4723044bbe0)

[2022-06-09 19:55] HasanSifat commented on #310
When a user is in the form to make a new submission, the "Print As PDF" button needs to give a popup message saying "Downloading" when clicked on to download the form. Screenshot below-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/7124a9d6-614d-42e8-ab15-ccf31f7723f6)

[2022-06-09 20:06] Stella-Archer opened #312 "Telework: FORM Language and Style FXS from UX"

[2022-06-09 20:08] MeghanStothers commented on #21
Decision for phase 2 based on UX findings

[2022-06-09 20:14] MeghanStothers commented on #309
Not needed for launch

[2022-06-09 20:16] MeghanStothers commented on #96
Stall to QA

[2022-06-09 20:21] MeghanStothers commented on #217
Stella to QA and compare against a similar ticket

[2022-06-09 21:33] MeghanStothers opened #313 "Telework Form: (usability) User instructions before Employee fills form"
As an employee who want to submit the Telework form for approval, I'd like to have the following information BEFORE I begin the form:
- information needed to complete the "costs" section
- the form will not save
- the status of their submitted form can be found on the dashboard?
- flex days? how to manage those requests

This ticket relates to other tickets about the usability of the form

To be e

[2022-06-09 21:39] MeghanStothers opened #314 "TOOL: Optimized for Mobile devices"
As an employee and/or supervisor, I would like to see the form is functional and boxes and text fields display properly and clearly.

Please test for findings and fixes.

For SL review: it is recommended to fill out the form in a coputer. putting in icebox for review later.

[2022-06-09 21:39] MeghanStothers commented on #314
For phase 2

[2022-06-09 21:49] MeghanStothers opened #315 "Telework Form: Client/employee should get confirmation message not dashboard access after submission"
As an employee submitting the Telework form, I want to get a confirmation message instead of getting into the dashboard which is confusing and not useful

The message could show something like this:
"Thank you for submitting for Telework Agreement, which has been emailed to your manager/delegate."

Optional wording?  "You can check on the status of your submission by....?"

This tickets will be co

[2022-06-09 22:18] HasanSifat commented on #292
Reviewer access to Prod Environment has been solved. New users going into prod only have reviewer/client access confirmed.

[2022-06-09 22:22] HasanSifat commented on #292
Accessibility and privacy-related issue that was identified is that clients coming to the "forms" tab have now only two options for each form available to them: "Submit new" or "View Submissions"
When clicking on "View submissions" the client sees all historical submissions made by anyone/everyone. Screenshot below:
![MicrosoftTeams-image (7).png](https://images.zenhubusercontent.com/61e5b78d9a5a1

[2022-06-09 22:49] warrenchristian1telus opened #316 "Show Scrollbar on Forms"
There is currently no scrollbar shown on the forms.

To add one, use the following CSS rule:

.scrollable-page { scrollbar-width: thin; }

Or use scrollbar-width: auto; for a thicker (default) size.

[2022-06-10 20:30] Abuchana commented on #233
@HasanSifat In the interim, can you look into the manual solution Karim mentioned about using SharePoint to keep track? Then we can keep exploring a technical version.

[2022-06-13 14:11] iman-jamali-fw commented on #292
@HasanSifat I logged in as a new user on both PROD and TEST and only see one button under Form for submitting a new form. Can you help me reproduce the situation when a new user can see "View Submissions"?

![Screen Shot 2022-06-13 at 7.08.54 AM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/9d069404-d1e5-495f-bd63-3773031c8548
)

[2022-06-13 14:41] iman-jamali-fw commented on #292
I opened a PR to fix this issue.
https://github.com/bcgov/digital-journeys/pull/317

[2022-06-13 15:31] iman-jamali-fw commented on #316
@warrenchristian1telus I tested this, but it doesn't bring up the scroll bar. I remember we made other changes to have it show up. Do you remember what they were?

[2022-06-13 19:29] HasanSifat commented on #233
@Abuchana Karim and AOT both referred to this manual tracking of forms and for this, we will need to maintain a specific folder to hold these downloaded forms from each environment. As a start, I can start downloading and transferring all these files into our external teams folder.

Or we can store them in this GitHub repo. Tagging @freshjwarren in case he has anything to add.

[2022-06-13 19:40] warrenchristian1telus commented on #233
Hi @HasanSifat and @Abuchana - I recommend using a GitHub repo for this. Probably a new private one, but public may work as well. I haven't been able to test it yet, but if we use this method, rather than MS Teams, we could do things such as integrate the saved forms into the deployment pipelines and/or into FormsFlow scripts and workflows to interact with them through the site.

[2022-06-13 19:44] Abuchana commented on #233
Hi @HasanSifat and @warrenchristian1telus, it sounds as though we should try GitHub...

[2022-06-13 19:53] HasanSifat commented on #233
Okay! if we go with GitHub, we can use the new repo for our program area and incoming requests to see if we can accommodate this archiving there.

@freshjwarren would 3 folders for dev/test/prod, do in our program area repo?

[2022-06-13 21:00] warrenchristian1telus commented on #233
Hi @HasanSifat - I think repo branches would work better for dev/test/prod (/main). It would be best to match what we're doing in the primary (this) repo, so that we can leverage the same branches, tags, etc. for both repositories. This way, we could use GitHub Actions to deploy from both repositories a bit easier, if we decide to go that route. Also, it should keep things simpler for people worki

[2022-06-13 21:23] HasanSifat commented on #233
Hi, @freshjwarren would it be possible for you to do a demo with our team on how to set up your mentioned branches in our program area repo? We want to make sure that we are using the same structure, labels, and naming as our digital journeys dev repo here. Once we understand and have seen it done once, we should be able to take on archiving ourselves within the team.

[2022-06-13 21:31] HasanSifat commented on #292
@iman-jamali-fw Hi Iman! I tested this out one more time with a new user in test and they are not getting the "review submissions" button anymore. Moving this to QA again as this issue seems to have been solved. We'll do a final round of testing before closing this issue.

Thanks for all the help! :)

[2022-06-13 21:33] freshjwarren commented on #233
Just to clarify, formsflow.ai (with an 's') uses the open source on-premise version of Form.io (with no 's') as a form authoring tool. Form.io also provides a hosted version as a software-as-a-service product, which includes features that are not in the open source version including versioning.

It's feasible that you could hook the hosted version of Form.io up to the on-premise version of formsfl

[2022-06-13 21:33] HasanSifat commented on #308
Users coming into the "forms" tab now has access to the "submit new" button only. screenshot below-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/2e05cec0-5afa-40a8-8ffb-2dcb84a94181)

[2022-06-13 21:54] warrenchristian1telus commented on #233
@freshjwarren Form.io also has an on-premise version of their Enterprise version that we could install into formsflow.ai. Although they hadn't tried that themselves, they suggested that AOT would likely have experience with (/knowledge of) doing that; and assured me that they would be happy to work with us and AOT to ensure everything works as intended.

[2022-06-13 22:03] Abuchana commented on #233
Ian Hennem has pre-approved us to get an enterprise version but he needs to know what do we get for our money, what problems will it solve, and what problems can it create?

[2022-06-13 22:17] alexandralloyd commented on #96
1. Still present in all three environments.

2. Still present in all three environments.

3. Still present in all three environments.

4. Fixed in all three environments.

5.  Still present in all three environments.

6. Still present in all three environments.

7. Inconsistent padding/spacing for Application ID column in all three environments.

[2022-06-13 22:17] warrenchristian1telus commented on #233
That's a good question @Abuchana - the answer is, it depends. https://www.form.io/pricing is a good place to start. However, don't pay too much attention to the $250 price tag, as that's just the starting point for one server. I believe our starting point would be closer to $500 / month / server (x3). There is also the PDF Server for $250 / mo. / server (could likely be shared between environments

[2022-06-13 22:23] alexandralloyd commented on #70
Still not present in all three environments.

[2022-06-14 15:29] iman-jamali-fw commented on #157
@MeghanStothers Please let me know if including a link to TOOL in the emails for generating a PDF works. Otherwise, I look into options for the server-side pdf generation.

Including a link to download/print pdf in emails for users involves, clicking on that link. The link will navigate a user to the TOOL where they should log in first, then will land on a page where can click a button (or automat

[2022-06-14 15:59] #308 closed

[2022-06-14 16:24] #292 closed

[2022-06-15 15:51] Abuchana commented on #157
Show after the manager has approved or denied and there after

[2022-06-15 16:25] #291 closed

[2022-06-15 18:42] DonMoffatt commented on #290
I am getting a read-only flag on this code. Regardless, I am not sure it will work as it may insert the data before the javascript runs. This should change things from “Moffatt,Don” to “Don Moffatt” if it is working correctly. It is in the “Calculated Value” area of the Data tab on the Dev server copy. I left it there: currently it prevents the field from autofilling if you try to run it.
![image.

[2022-06-15 19:27] Stella-Archer commented on #157
@iman-jamali-fw  we'd like to try the 1st suggestion:
Rely on API to generate PDF.
This could be Common Document Generation Service by BC Gov as suggested by Karim.
Or a custom API using Node.js technology to reuse the pdf generation library that was used on the client-side

[2022-06-15 20:27] alexandralloyd opened #320 "TELEWORK: Remove Menu Tabs for Manager"
**User Story**
As a manager (reviewer), I want to only see the menu tabs that are relevant to me so I don't confused or enter areas that which would constitute a privacy breach.

**Tasks**

- [x]  Remove Forms, Applications, and Dashboards tabs from view for reviewers in the production and test environment

**Acceptance Criteria**

- [x] Inability to see  Forms, Applications, and Dashboards tabs f

[2022-06-15 20:36] Stella-Archer commented on #320
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/c6576c75-dc9d-4ddf-9545-59772467f303)

[2022-06-15 20:53] DonMoffatt opened #321 "ADM Research"
**User Story**
As an ADM, I want the Telework form sign-off process to be compatible with my process.

**Task List**

- Create a timeline for completing this project and incorporating the results before launch.
- Create a script for asking ADMs about how they currently sign off Telework Agreement forms
- Get list of at least five ADMs to contact from PIE. These ADMs should be from different minist

[2022-06-15 21:23] Stella-Archer opened #322 "TELEWORK: Re-Name Task Tab"
**User Story**
As a manager/reviewer I want know where I am and what actions are expected of me, so I can  process an employee telework agreement efficiently as possible

**Tasks**
- [x] Change the label on the 'Task' tab to 'Review and Process Applications"

in all environments

**Acceptance Criteria**
- [x] tab now reads 'Review and Process Applications"
- [x] visible to manager/reviewer role
-

[2022-06-15 21:52] Stella-Archer commented on #322
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/51115a5f-edbc-44b9-8b50-1698e9cde2c8)

[2022-06-15 21:53] DonMoffatt opened #323 "TELEWORK: Documentation"
Draft copy of Document- https://bcgov.sharepoint.com/:w:/t/03991/EbrefQyeiq1BtLPmVn0jKMkBIe5eDzCUG4vculIYa78LSQ?e=Hba3ax

**User Story**
As an employee, manager, or ADM I may need additional instructions beyond what is available on the landing page and on the form itself. I would like to be able to access a PDF that provides more detail.

**Task List**
- [x] Determine a timeline for this project
-

[2022-06-15 22:12] DonMoffatt opened #324 "TELEWORK: Improvements to Landing Page on Careers & MyHR"
**User Story**
As an employee, I will need additional information beyond what is currently on the landing page in order to be ready to complete the form. I also need to be warned about limitations of the system and problems under some circumstances.

**Tasks**
- [x]  Messaging around the type of pre-work (approvals, costs) that should be done prior to filling out the form
- [x] Warning box that th

[2022-06-15 22:30] DonMoffatt opened #325 "TELEWORK: ADM Approval Instructions"
**User Story**
As a Manager, I want to know see instructions about getting and adding the ADM approval to the form before and after I open the employee's form to sign off.

**Task**
- [x] Develop instructions
- [x] Add instructions on attaching ADM approval on the front end of the form

**Acceptance Criteria**
- [x] Instructions are complete and added.

[2022-06-15 22:38] alexandralloyd opened #326 "TELEWORK: Confirmation Page for Supervisor"
**User Story**
As a supervisor, I want to be taken to a confirmation page when I approve or reject a telework form so I can know my sign-off was successful.

**Tasks**

- [x]  Create confirmation page in all three environments

- [x] Redirect confirmation page after the supervisor clicks 'Submit' button in all three environments

- [x] Work with content team to write confirmation message for page

[2022-06-15 22:58] alexandralloyd opened #327 "TELEWORK: Confirmation Page for Submitters/Employees"
**User Story**
As a an employee, I want to be taken to a confirmation page (rather than the Forms tab) after submission of my telework form so I know that my submission was successful.

**Tasks**

- [x] Confirmation page created in all three environments

- [x] Redirect to confirmation page when employee clicks 'Submit' button in all three environments

- [x] Confirmation page should include: a th

[2022-06-15 23:22] alexandralloyd opened #328 "TELEWORK: Add Status of Application to Left-Hand Panel in Tasks"
**User Story**
As a supervisor, I want to see the status of the applications that have been assigned to me in the Tasks tab instead of my own email, so I can quickly see which applications I still have to approve.

**Tasks**

- [ ] Removed supervisor/reviewer email from the from the left-hand panel in the Tasks tab in all three environments

- [ ] Add the status of the application (pending/approve

[2022-06-15 23:29] alexandralloyd opened #329 "TELEWORK: Supervisor/Reviewer Only Sees Tasks Assigned to Them"
**User Story**
As a supervisor (reviewer), I want to only see the applications that were assigned to me to review in the Tasks tab, so I'm not distracted by extraneous applications that aren't relevant to me.

**Tasks**

- [ ] Set permissions for supervisors/reviewers so that they only have access to view applications that were assigned to them in the Tasks tab for all environments

**Acceptance C

[2022-06-15 23:51] alexandralloyd opened #330 "TELEWORK: Change "Supervisor Reviews Submission" in Tasks Tab"
**User Story**
As a superviser/reviewer, I want each item to review in the left-hand panel in the Task tab to have a personalized title, so I quickly see which employee sent me an application to review.

**Tasks**

- [x] Remove standard text of "Supervisor Reviews Submission" from each submission in the left-hand panel of the Tasks tab

- [x] Replace with "Review <Employee's Name> Request"

**Acce

[2022-06-15 23:52] alexandralloyd opened #331 "TELEWORK: Left Hand Panel in Tasks Tab"
All tickets relate to the left-hand panel in the Tasks tab that supervisors/reviewers see when signing off on an application.![ManagerReviewSpace.jpg](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/5e231833-7fd4-4a94-9f19-b6e45eb4c066)

[2022-06-16 00:05] alexandralloyd opened #332 "TELEWORK: Remove "History" and "Diagram" from Tasks Tab"
**User Story**
As a supervisor/reviewer, I want to only see the tabs relevant to me within Tasks area so I can quickly and easily sign-off on applications without getting distracted or confused.

**Tasks**

- [x] Remove the "History" and "Diagram" tabs from view within the Tasks tab (see picture) for supervisors/reviews for all environments

**Acceptance Criteria**

- [x] Supervisor cannot see the

[2022-06-16 00:18] alexandralloyd opened #333 "TELEWORK: Remove Assignee from Top-Right of Tasks Area"
**User Story**
As a supervisor/reviewer, I want to only see information and options that are relevant to me in the Tasks tab, so that I can quickly and easily sign-off on forms.

**Tasks**

- [x] Remove the ability to change the assignee of the form from view for all environments (see picture)

- [x] Remove "Set follow-up date" and "Set due date" features from view for all environments (see pictur

[2022-06-16 00:25] alexandralloyd opened #334 "TELEWORK: Manager's Review Dashboard in Tasks Tab"
All tickets related to the view the Manager has after selecting a form to review in the Tasks tab.

[2022-06-16 00:27] #334 closed

[2022-06-16 00:28] alexandralloyd opened #335 "TELEWORK: Manager's Review Dashboard in Tasks Tab"
All tickets related to the view the Manager has after selecting a form to review in the Tasks tab.

[2022-06-16 00:36] alexandralloyd opened #336 "TELEWORK: Replace Logo with "Where Ideas Work" Branding"
**User Story**
As an employee, I want to see consistent branding on the website I'm using so I can be sure that the website is internally facing.

**Tasks**

- [ ] Replace the main British Columbia branding in the upper left side of the banner to be "Where Ideas Work" branding in all environments

**Acceptance Criteria**

- [ ] All users see "Where Ideas Work" branding on the top banner in all env

[2022-06-16 00:38] alexandralloyd opened #337 "TELEWORK: Top Menu Bar for Reviewers and Clients"
All issues related to the top banner and top menu bar for reviewers (supervisors) and clients (employees).

[2022-06-16 00:43] alexandralloyd opened #338 "TELEWORK: Remove Menu Tabs for Employee"
**User Story**
As an employee (client), I want to only see the menu tabs that are relevant to me so I don't get confused or enter areas that would constitute a privacy breach.

**Tasks**

- [x]  Remove Forms, Applications, tasks, and Dashboards tabs from view for clients in the production and test environment

**Acceptance Criteria**

- [x] Inability to see Forms, Applications, Dashboards, and Tas

[2022-06-16 00:54] alexandralloyd opened #339 "TELEWORK: FormsFlow PIA"
**User Story**
As an employee, I want my completed form to be purged from the Formsflow system so I know my personal information is protected.

**Tasks**

- [x] Investigate privacy implications of storing completed applications within Formsflow

- [x] Write business rules for when completed and incomplete applications should be purged from the system

- [x] Get approval from client for these busin

[2022-06-16 16:21] DonMoffatt commented on #290
It is "Telework Agreement" (not one of the copies) and it is the "Employee Name" field.  Then Data > Calculated Field.

[2022-06-16 16:22] MeghanStothers commented on #336
Stella to connect with PIE/Matt Gardiner for correct logo

[2022-06-16 16:34] MeghanStothers commented on #326
Similar to ticket #327 - see details

[2022-06-16 16:37] MeghanStothers commented on #320
See #338 which is similar

[2022-06-16 16:49] MeghanStothers commented on #320
Check if this a duplicate

[2022-06-16 16:53] MeghanStothers commented on #332
This ticket relates to having another requirement to have logic in place to differentiate between the roles (employee and manager)

[2022-06-16 16:56] MeghanStothers commented on #327
Iman: will look at component in Formflow that might work for this requirement

[2022-06-16 16:57] MeghanStothers commented on #326
Iman to look at Formsflow

[2022-06-16 17:01] MeghanStothers commented on #338
Warren estimates that blocking "hiding" something from the interface would be fairly easy as a short-term solution.

[2022-06-16 17:17] alexandralloyd opened #341 "TELEWORK: Employee Interface for Telework"
All tickets related to the employee interface of the telework form.

[2022-06-16 17:28] alexandralloyd opened #342 "TELEWORK: Add Preamble to Form"
**User Story**
As an employee, I want to see warnings about the inability to save unfinished forms so I know that I have to finish the form in one sitting.

**Tasks**

- [x] Add warning box to the top of form in all three environments

- [x] Preamble in warning box should include: when the system will kick you out; that users cannot save forms; that the form is a legal document; the form's expiry

[2022-06-16 17:39] HasanSifat opened #343 "TELEWORK: Establish Logic to assign roles to users coming into PROD & TEST (client/employee vs reviewer/manager/supervisor)"
**User Story**
As a user coming into the TEST & PROD Environment, I should be getting 2 separate interfaces depending on the role assigned to my profile in the tool. The tool needs to be able to differentiate between users coming in as Clients/submitters/employees vs coming in as reviewers,/managers/supervisors.  This will help so that I am not confused with seeing unnecessary information in the t

[2022-06-16 18:11] alexandralloyd opened #344 "TELEWORK: Find Style Guide Inconsistencies"
**User Story**
As an employee, I want an accessible experience when filling out the telework form so I am able to complete the form.

**Tasks**

- [ ] Liaison with Content Team to record all Web Style Guide inconsistencies.

**Acceptance Criteria**

- [ ] All style guide inconsistencies have been found

- [ ] A ticket is made that records all the fixes for the inconsistencies

[2022-06-16 18:34] alexandralloyd opened #345 "TELEWORK: Add Checkbox for "Work Duties and Responsibilities""
**User Story**
As an employee, I want the option to select "same duties as in the office" when responding to the Work Duties and Responsibilities question, so I don't have to waste time typing out my work duties.

**Tasks**

- [x] Add "same as" check box with conditional logic to Work Duties and Responsibilities section to all environments

- [x] Add conditional logic that when a user clicks "same

[2022-06-16 18:41] DonMoffatt commented on #197
@iman-jamali-fw Adding target="_blank" as an attribute to a link in JSON disrupts the section the link resides in. Please call me.

[2022-06-16 18:48] alexandralloyd opened #346 "TELEWORK: Add Placeholder Text to "Work Duties""
**User Story**
As an employee, I want an example of what to put into the Work Duties and Responsibilities comment box so I know what type of information to put there.

**Tasks**

- [x] Add placeholder text to the Work Duties comment box in all environments

- [x] Add the same information to the tooltip in all environments

**Acceptance Criteria**

- [x]  Placeholder text is visible to all users in

[2022-06-16 18:57] alexandralloyd opened #347 "TELEWORK: Add Comment Box to "Schedule" Section"
**User Story**
As an employee, I want the ability to account for my flex-days when inputting my telework schedule so I can ensure that my supervisor is taking my flex-days into account when reviewing my telework days for approval.

**Tasks**

- [x] Add comment box to Teleworking Schedule section in all environments

- [x] Include wording that employee's can include their flex-days or any other com

[2022-06-16 19:04] alexandralloyd opened #348 "TELEWORK: Add Placeholder Text to "Employee Comments" Box"
**User Story**
As an employee, I want an example of what to put in the Employee's Comments box so I know what type of content goes there.

**Tasks**

- [x] Add placeholder text to "Employee Comments" box in all environments

**Acceptance Criteria**

- [ ] Placeholder text is visible to all environments to all users

[2022-06-16 19:13] alexandralloyd opened #349 "TELEWORK: Add Checkboxes to Signature Section"
**User Story**
As an employee, I want a sense of when I'm "officially" signing off on the form so I can know I've properly submitted the form.

**Tasks**

- [x] Add checkboxes to each of the acknowledgement statements in the Signature section in all environments

**Acceptance Criteria**

- [ ] Checkboxes are visible and functioning for all users in all environments

[2022-06-16 20:13] Stella-Archer commented on #336
![BCPS_IDEAS_rgb_rev.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/90a18917-da1f-441b-b1db-a2bb2958c513)

[2022-06-16 20:13] alexandralloyd opened #350 "TELEWORK: Edit Careers and MyHR Link"
**User Story**
As an employee, I want Careers and MyHR links to be accessible so I utilize the links.

**Tasks**

- [ ] Liaison with Content Team to see how to edit Careers and MyHR link in all environments to fit with Web Style Guide

- [ ] Edit Careers and MyHR link

**Acceptance Criteria**

- [ ] Careers and MyHR links are corrected to fit with WSG in all environments

[2022-06-16 20:22] alexandralloyd opened #351 "TELEWORK: Remove Back Button on the Top of Form"
**User Story**
As an employee, I want the back button at the top of the telework form removed so I don't get confused and go into the wrong page.

**Tasks**

- [x] Remove the back button on the top of the telework form for employees/clients in all environments (see picture below)

**Acceptance Criteria**

- [x] Back button is hidden from view for employees in all environments

![backbutton.png](ht

[2022-06-16 20:41] alexandralloyd opened #352 "TELEWORK: Autopopulate Date Field in Signature Section"
**User Story**
As an employee, I want the date field in the Signature to auto-populate to today's date so I don't have to worry about choosing the right date.

**Tasks**

- [x] Investigate auto-populating dates in Formsflow

- [x] Implement auto-population of the current date in the date field in the Signature section in all environments

**Acceptance Criteria**

- [x] Date auto-populates to curre

[2022-06-16 21:03] alexandralloyd opened #353 "TELEWORK: PDF Name Generation"
**User Story**
As a supervisor, I want the name of my employee in the name of the PDF I'm emailed so I can tell from the title of the PDF that it's my employee's telework form.

**Tasks**

- [x] Personalize the name of PDF attachments for both employees and supervisors

- [x] Name of the PDF should be FORM NAME_SUBMITTER NAME_DRAFT for PDFs of forms that need to be still be approved, and FORM NAME

[2022-06-16 21:08] alexandralloyd commented on #157
@iman-jamali-fw @MeghanStothers Please review ticket #353 as this relates to this ticket.

[2022-06-16 21:12] alexandralloyd commented on #353
Related to ticket #157

[2022-06-16 21:33] alexandralloyd opened #354 "TELEWORK: Employee Email Messaging after Submission"
**User Story**
As an employee, I want a copy of my submission before my supervisor signs it so I have a copy of my telework schedule.

**Tasks**

- [x] Modify the workflow so that the the employee is emailed a PDF of their application (without supervisor approval) upon submission their application

- [x] Update the body of the email to include: thank you message; important timelines about the form

[2022-06-16 21:39] DonMoffatt commented on #197
Need to put an escape character (backslash) in front of each quotation mark in "_blank" -> \"_blank\"

![image.png](https://images.zenhubusercontent.com/61e5c6ccd594602905c8af04/7f8bd2e3-aa84-496e-8dec-435314d97391)

[2022-06-16 21:40] DonMoffatt commented on #197
I still need to add in all of the attributes on the form, but the technical solution is now known.

[2022-06-16 22:44] alexandralloyd opened #355 "TELEWORK: Supervisor Notification Email"
**User Story**
As a supervisor, I want more comprehensive email when an employee submits a new telework form for my review so that I don't get confused about the telework approval process.

**Tasks**

- [x] Add who submitted the form (with proper formatting) in the notification email

- [x] Have the number of requested telework days in the body of the notification email

- [x] Explain why the draf

[2022-06-16 22:57] alexandralloyd opened #356 "TELEWORK: Confirmation of Decision Email for Employees and Supervisors"
**User Story**
As an employee, I want to know about what to do now that my telework form is complete so I can get

**Tasks**

- [x] Employee and supervisors are notified in the confirmation of decision email that the agreement is valid for one year

- [x] Employee and supervisors are notified in the confirmation of decision email that if there is any change that needs to be made to any part of the

[2022-06-17 00:14] iman-jamali-fw commented on #290
@DonMoffatt you can get the user' values from `data` and should set the final value in `value` to have it in effect. Users values are listed in [here](https://github.com/bcgov/digital-journeys/blob/main/docs/forms.md#how-to-auto-populate-form-fields-with-the-user-data)

Seems like we already have `firstName` and `lastName`, one way to do it is like below. Please make sure to wrap your logic in an

[2022-06-17 05:42] DonMoffatt commented on #290
I stripped this down to the following and got the results shown in the screen shot below:

value = (data.firstName + " " + data.lastName)

![image](https://user-images.githubusercontent.com/97757401/174232738-68569496-bf0e-4181-b2f1-1801f69b8023.png)

[2022-06-17 15:28] iman-jamali-fw commented on #343
Thank you @HasanSifat for capturing this core requirement.

Please let me know if I understand this correctly:
- All the users will have a `client` role therefor can submit new forms.
- If a user (client/employee), is assigned to submissions, then that user will have both `client`+`reviewer` roles. In other words, a reviewer will be able to submit a new form and also can review submissions that ar

[2022-06-17 16:46] warrenchristian1telus opened #357 "Load Test Application"
This is an epic to hold tasks related to load testing the application prior to go-live.

[2022-06-17 16:52] warrenchristian1telus opened #358 "Create Public Form for Load Test"
Please create a form to be used for load testing.

One or two text fields should suffice.

This form should have:

- [x] No security or basic authentication (no IDIR)
- [x] No email confirmation
- [x] No approvals
- [x] No field or submission validation
- [ ] Include submission to CDATA

[2022-06-17 17:31] alexandralloyd commented on #355
Confirmation on how the process really works before we draft directions.

[2022-06-17 17:55] alexandralloyd commented on #324
Meeting with writer's team on Monday to discuss the proper landing page for the Telework form.

[2022-06-17 18:58] DonMoffatt commented on #197
The attributes are added for all links when tested today.

[2022-06-17 19:23] iman-jamali-fw commented on #290
@DonMoffatt I just wanted to make the changes to the backed. Just wondering if all the names (returned from ODS) will be only first and last names and are separated by `,`.  If someone has a middle name, wouldn't our logic loses his middle name if it was separated by two commons (e.g, "Lastname, middleName, fristName). Let me know what you think and I can make the changes to the backend.

[2022-06-17 20:06] DonMoffatt commented on #290
I think first name and last name with no comma between would be the preference. My first name is John (second Donald) but if it came us a John Moffatt I would have no objection as I see that so often on legal documents. However, seeing it as "John, Moffatt" would look odd.

[2022-06-17 20:34] Stella-Archer commented on #350
Related to issue #344 'TELEWORK: Find Style Guide Inconsistencies'

[2022-06-17 20:46] Stella-Archer commented on #157
common components has a API document generator > https://bcgov.github.io/common-service-showcase/services/cdogs.html

[2022-06-17 21:17] iman-jamali-fw commented on #290
@DonMoffatt I merged the `firstName` and `lastName` of the employee and sent it as `displayName` to the TOOL to address the issue you found. Once my PR is deployed you can change the API name of that field from `name` to `displayName` to get `firstName` + `lastName`.

Please note, that `name` comes directly from ODS. I did not change that since I don't know the logic/format ODS uses to calculate i

[2022-06-17 21:56] DonMoffatt commented on #290
Hi @iman-jamali-fw . I chatted with @Stella-Archer  about that and we think you should go ahead and implement it.  Please let me know when it is deployed and I will change the variable for that field in the API.

[2022-06-17 22:04] LeeAnnYearley commented on #344
https://miro.com/app/board/uXjVOWapt1w=/

[2022-06-17 22:13] DonMoffatt opened #360 "TELEWORK: Restrict email domains allowed to gov.bc.ca and other OCIO accepted domains"
**User Story**
As the product owner, I want the employee to only be able to change the supervisor email field to a BC Government domain. This is for security and process reasons (clarity of who is signing off).

**Tasks**
- [x] Collect the range of domains we wish this to be restricted to. It will naturally include gov.bc.ca but there are other government domains such as crtbc.ca (the Civil Resolu

[2022-06-17 22:15] Stella-Archer commented on #329
Reviewer can see only tasks assigned to them in the PROD Environment (YAy)
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/85d569db-3088-4c28-912a-fcb87a665dd6)
But this is not working in the TEST environment, they can see other reviewers tasks here :(
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/ed877991-0131-409e-b337-25ea455050a3)

[2022-06-17 22:23] DonMoffatt opened #361 "Ability to search government Email addresss for Manager/Supervisor Name from within the Supervisor Email Field"
**User Story**
As an employee, I want to be able to find the person who is delegated to sign off on my Telework Agreement by searching for it in the Gal, just like we do in Outlook.

**Tasks**
 - [ ] Implement the GAL functionality from within the manager name and email fields so that employees can be assured they are sending it to the right person.
- [ ] Once populated, it should populate the oth

[2022-06-17 22:25] DonMoffatt commented on #361
@warrenchristian1telus Stella suggested this for phase 2.

[2022-06-17 22:25] DonMoffatt commented on #361
@warrenchristian1telus Stella suggested this for phase 2.

[2022-06-17 23:08] DonMoffatt commented on #360
I can assist in collecting the domain addresses.

[2022-06-17 23:15] iman-jamali-fw commented on #290
@DonMoffatt it's deployed. Can you please check to see if you get value if you set the API name as `displayName`?

[2022-06-17 23:41] DonMoffatt commented on #290
It works! Well done. We will do a bit more testing but I would say this is done.

![image](https://user-images.githubusercontent.com/97757401/174412939-d53c1cd0-1b1f-46e8-9483-86a6d658745d.png)

[2022-06-20 17:24] MeghanStothers commented on #323
I check with the Karen's knowledge management team to advise them of launch date - Jana confirmed they do not link directly to the Telework form, but  rather we link to the Flexible workplaces for BC Public Service employees page.

I said we/team would advise her team once we have more details about which page the form will link from based on recommendations that are in progress for the Policy/PI

[2022-06-20 18:38] DonMoffatt commented on #352
I just had to add
value = moment();
in the calculated javascript area for the data![image.png](https://images.zenhubusercontent.com/61e5c6ccd594602905c8af04/dd5272b3-9a8d-45b7-9c7f-7e2ffb20cbda) tab.
![image.png](https://images.zenhubusercontent.com/61e5c6ccd594602905c8af04/a27deada-6eca-4862-b906-79e57bccae8b)

[2022-06-20 18:53] DonMoffatt opened #362 "TELEWORK: change supervisorName field to reorder the name"
**User Story**
As an employee and supervisor I expect the supervisor/manager name should be in the format "Stella Archer" instead of "Archer,Stella".

**Task**
- [x] Change the order of the name components in the supervisorName field as we did with the employee field.

**Acceptance Criteria**
- [x]  The name will appear in the order "Stella Archer".

[2022-06-20 20:24] DonMoffatt commented on #352
I am checking this for the supervisor signoff date.

[2022-06-20 21:45] alexandralloyd commented on #279
Waiting for a consultation with Karim about load testing.

[2022-06-20 21:53] #166 closed

[2022-06-20 21:54] alexandralloyd commented on #166
Policy said all information had to be visible.

User testing showed that managers wanted to read through the whole form.

[2022-06-20 21:56] #73 closed

[2022-06-20 21:58] #216 closed

[2022-06-20 22:00] alexandralloyd commented on #217
These issues now captured in Ticket #335.

[2022-06-20 22:01] #217 closed

[2022-06-20 22:01] #274 closed

[2022-06-20 22:05] alexandralloyd commented on #309
We will now have a confirmation page Ticket #327.

[2022-06-20 22:05] #309 closed

[2022-06-20 22:18] Abuchana commented on #70
@Stella-Archer can you add an estimate to this tickets?

[2022-06-20 22:19] HasanSifat commented on #320
update to requirement to not remove "Forms tab"
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/272e0aab-3729-4254-8461-cf6cec335c9e)

[2022-06-20 22:20] HasanSifat commented on #338
update to requirement to not remove "Forms" tab-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/2d07301f-ef6c-4622-8b83-37ab46287c7f)

[2022-06-20 22:28] HasanSifat commented on #343
Hi @iman-jamali-fw,

After discussing with the team, we can confirm that your understanding is correct.

In terms of UI in the tool, following are the views that we have in mind-
1. Clients/Submitters can see both Forms and Tasks tab. However, the tasks tab will have no items in there for them to review.
2. Reviewers/Managers will also have both the Forms and Tasks tab. In this case, the tasks tab

[2022-06-21 04:53] iman-jamali-fw commented on #328
@alexandralloyd Please note that the current behavior is that completed forms (Rejected/Approved) are disappeared from the Task list. Does this ticket want to keep all the submissions (for that supervisor) at any status (new/approved/rejected) in the Task list and instead add a status label to them?

[2022-06-21 04:59] iman-jamali-fw commented on #343
Thank you @HasanSifat
Ticket #322 says the Task tab is only visible to the Reviewer/supervisor. Can you see if there is a conflict here?

[2022-06-21 05:01] iman-jamali-fw commented on #322
The logic for which tab is displayed to which roles will be implemented in #343. The estimate in this ticket only covers the text change.

[2022-06-21 05:03] iman-jamali-fw commented on #338
Are we keeping both Forms and Tasks for employee/client? Or only Forms?

[2022-06-21 15:24] iman-jamali-fw commented on #362
@DonMoffatt We need to ask ODS to send us the supervisor's first and last name separately so we can merge them on our backend and send it over to forms. Currently, we are receiving the full name.

Do you know who the right person to ask is?

[2022-06-21 15:42] HasanSifat commented on #343
Hi @iman-jamali-fw, Ticket#322 is referring to renaming the tasks tab so that it reads "Review & Process". The plan is to keep the "Forms" and "Tasks" tab available both for clients and reviewers. Clients will have no items to review in Tasks tab and only be able to see available forms. Reviewers will have "forms" tab available with available forms and "tasks" tab with available applications to be

[2022-06-21 15:53] DonMoffatt commented on #362
@T854236 Could you and Justin address what Iman said above? "We need to ask ODS to send us the supervisor's first and last name separately so we can merge them on our backend and send it over to forms. Currently, we are receiving the full name."

[2022-06-21 16:04] iman-jamali-fw commented on #322
Based on my discussion with @HasanSifat, the Reviewer/supervisor will see both the "Review and Process Applications" and "Forms" tabs.

[2022-06-21 16:09] alexandralloyd commented on #328
@iman-jamali-fw I think we should keep the current behavior and only keep pending applications in the left hand panel. Just update them to only say "Pending".

[2022-06-21 16:11] HasanSifat commented on #338
@iman-jamali-fw we are keeping forms tab and tasks tab for both clients and reviewers. The only difference between the 2 types of users will be that reviewers will have items in the tasks tab for them to review, clients will have no items to review.

[2022-06-21 16:12] alexandralloyd commented on #342
Just add a text box to the top of form from the front end.

Need to connect with @LeeAnnYearley and @brookeish about writing the preamble.

[2022-06-21 16:28] iman-jamali-fw commented on #339
@alexandralloyd Sure, can you please give me more details before I can estimate? Thank you

Are we deleting the submissions **as soon as** the workflow ends (Rejected/Approved for Telework)? Or it is a batch delete after a certain time interval?

What involves in terms of UI/UX for deletion? things such as showing a notification on TOOL that says it is deleted or any plan to send email to users?

[2022-06-21 16:37] alexandralloyd commented on #339
@iman-jamali-fw We'll be notifying employees that once they finish the application and it is approved/rejected that the application will be automatically deleted via the front end of the form, the landing page, and the email after submission.

For the pending applications that don't get approved/denied, tentatively we wanted to have these batch deleted after 30 days. This information will be commu

[2022-06-21 16:52] iman-jamali-fw commented on #339
So dev work for this ticket would be:
- Delete completed submissions (On complete)
- Delete pending submissions after 30 days ( supervisor will be notified by an email)

[2022-06-21 17:10] T854236 commented on #362
@DonMoffatt @iman-jamali-fw

We can split the full name to first and last name with similar logic you have Don.  How do you want to handle middle name?  If we use simple split, it will be part of the first name.

[2022-06-21 17:16] alexandralloyd opened #363 "TELWORK: Fix Style Guide Inconsistencies"
**User Story**
As an employee I want the Telework form to be consistent with the Web Style Guide so I can have an accessible experience when filling out the form.

**Tasks**

- [ ] Fix style guide inconsistencies that Lee-Ann found

**Acceptance Criteria**

- [ ] Style inconsistencies fixed in all environments

[2022-06-21 17:27] DonMoffatt commented on #362
I think that's fine: e.g. my full name is John Donald Moffatt, so if you want to write it that way, that's fine. Note that on the employee name side we use whatever the person normally goes by, rather than strictly first name (my name appears as "Don Moffatt" rather than "John Moffatt"). That would be ideal, but if you can write it either as "John Moffatt" or "John Donald Moffatt" I think users wo

[2022-06-21 17:44] alexandralloyd commented on #350
![MyHR link.PNG](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/b163c4ee-5c57-4c6d-a097-b33bb38e9717)

Fixed in Dev, new version just needs to be pushed to TEST and PROD.

[2022-06-21 19:13] DonMoffatt commented on #362
The name for the field is supervisorName but yes, if you could make it look like "Stella Archer" that would save me some trouble in updating Camunda.

[2022-06-21 19:21] alexandralloyd commented on #349
Working in Dev environment, needs to be pushed to Test and Prod

![Checkboxes.PNG](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/21543e80-5761-458b-861e-ffe9660c1f26)

[2022-06-21 19:32] T854236 commented on #362
@DonMoffatt  Changes complete against supervisor_name in the API endpoint.  I believe that is mapped to supervisorName in Camunda.

[2022-06-21 19:49] DonMoffatt commented on #362
This looks good - thanks! I will move it to review and have @Stella-Archer  look it tomorrow before we close it.
![image.png](https://images.zenhubusercontent.com/61e5c6ccd594602905c8af04/a981cc57-ba8f-4115-81e3-e00352bacad5)

[2022-06-21 20:34] alexandralloyd commented on #345
All tasks working in Dev, need to be pushed to Test and Prod. Needs content owner approval.

![WorkDuties.PNG](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/23f5ee0c-45a8-4439-9de4-1ad708037cbe
)

[2022-06-21 21:35] iman-jamali-fw commented on #362
Thank you @T854236 ! this is great!
I was wondering if you can do the same change for the `name` field. We merged the first and last name on our backend under a new name (displayName). This caused some issues, since we need to change the name of that field in a few places in Camunda and form scripts (haven't done that yet). Can you please change the format of `name` similar to what you did for the

[2022-06-21 21:37] alexandralloyd commented on #312
Related to Ticket #363

[2022-06-21 21:43] DonMoffatt commented on #362
I updated the Camunda workflow to use displayName and uploaded it a short time ago. @iman-jamali-fw  Should I change it back to "name"? In any case, email still isn't working (I am not being sent a copy of my submission).

[2022-06-21 22:42] alexandralloyd commented on #348
Add description text as the placeholder text.

[2022-06-21 22:44] DonMoffatt commented on #362
I will hold off and leave it as displayName unless otherwise directed. It would be easy enough to swap "name" back in, however. I am also concerned about introducing versioning issues with the workflow if others are updating it for other reasons. I am more concerned about why I didn't receive an email, however.