[2022-06-21 22:51] alexandralloyd commented on #346
Add Radio button: "My work duties and responsibilities are the same at home as in the office"
Yes or No
If no show, "If work duties and responsibilities are not the same at home as in the office, please list the differences here."

[2022-06-21 23:09] T854236 commented on #362
@iman-jamali-fw @DonMoffatt

Same logic applied to the name column in DEV.  Please review.

[2022-06-21 23:26] DonMoffatt commented on #362
Thanks @T854236 - should I change the field back to "name" on both the form and workflow? Easily done - just let me know.

[2022-06-21 23:41] DonMoffatt commented on #362
I've made the changes and the fields fill correctly (yay!) but I still don't get a copy.

[2022-06-22 20:25] iman-jamali-fw commented on #362
Thank you @DonMoffatt
I'll look into it and update you.

[2022-06-22 20:41] Abuchana opened #364 "Update formsflow.ai to the latest 4.0.5 version to address security vulnerabilities"

[2022-06-22 20:44] #364 closed

[2022-06-22 21:40] iman-jamali-fw commented on #362
@DonMoffatt Workflow works again on DEV.
The cause of the issue was that Telework had no workflow assigned to it. This probably happened after the form was updated.

![Screen Shot 2022-06-22 at 2.39.35 PM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/75317037-7f3f-4e57-b50e-28b343985364)

[2022-06-22 21:41] MeghanStothers commented on #346
Not essential for launch, but would be a good usability improvement

[2022-06-22 21:41] DonMoffatt commented on #362
@iman-jamali-fw  That would do it!

[2022-06-22 21:48] warrenchristian1telus opened #366 "Add Dependabot Version Updates"
To add/enable Dependabot version updates to code, we will need to create the config file:

https://github.com/bcgov/digital-journeys/network/updates

[2022-06-22 21:55] MeghanStothers commented on #339
Hi Alex, I believe we will need to update/amend the PIA (and or FOIPPA statements?) with some language such as....

Completed Telework forms are those that have an approved or rejected status. Completed Telework forms will be deleted/nor stored in the formsflow Application.

Incomplete/pending applications that don't get approved or are denied will be batch deleted after 30 days. (Where would thes

[2022-06-22 21:56] warrenchristian1telus commented on #275
Upon closer inspection, although this addresses 35 vulnerabilities, they are all in one file / server (forms-flow-bpm).

https://github.com/bcgov/digital-journeys/pull/365/commits/9b5b9cd6388768d9a514084a0872a0a7550897db

This is only one of 14 deployments / servers that will need to be addressed, and only 5 of which can be (/have been) scanned by Advanced Cluster Security.

Dependabot has identif

[2022-06-22 22:00] MeghanStothers commented on #330
Will this left hand column be visible to supervisors or will we be hiding this? If they can see the names, will they only see their reports (according to PPLsoft info?)

Looks like a useful addition - is this work critical launch?

[2022-06-22 22:03] Stella-Archer commented on #362
works great thanks!

[2022-06-22 22:04] #362 closed

[2022-06-22 22:10] alexandralloyd commented on #330
@MeghanStothers Epics #335 and #331 address the left hand panel and the manager's task tab in general. At the moment we are working on the assumption that the left-hand panel will be visible for launch, but if it's easier to just hide it all we may have to do that. They should in theory only see the names of the employees who sent them tasks.

[2022-06-22 22:27] warrenchristian1telus commented on #366
This is to remediate the following scanned issues (Alerts): https://github.com/bcgov/digital-journeys/security/dependabot

[2022-06-23 17:12] iman-jamali-fw commented on #157
@HasanSifat For splitting this ticket I suggest:
1. A ticket that makes sure PDF has the right formatting/styles/font/icons and no cut-off and has manager sign-off visible.
2. An integration ticket that integrates the solution built in 1 into the system. This ticket ACs can include PDF generated in 1, attached to the emails.

As an idea we can keep the ticket in the product backlog for reference a

[2022-06-23 17:36] DonMoffatt commented on #289
@iman-jamali-fw Is this critical for the launch of Telework, Iman?

[2022-06-23 17:49] DonMoffatt commented on #170
This was likely started with Mat leave in mind but applies to Telework as well.

[2022-06-23 17:51] DonMoffatt commented on #316
This came up in user testing for Telework as well.

[2022-06-23 17:52] DonMoffatt commented on #360
This is a duplication of #215.

[2022-06-23 17:57] DonMoffatt commented on #215
Duplicated in #360

[2022-06-23 18:43] HasanSifat opened #367 "SERVER SIDE PDF: Integration of generated pdf with the emails going out to employees & supervisors"
**User Story**
As a user, I want to see the generated pdfs attached with the emails with no content cut-off between page breaks and also with the manager's section visible so that I have all the information I need for recordkeeping.

**Tasks**
Integrating the generated pdfs with the emails going out to employees and supervisors

**Acceptance Criteria**
The confirmation emails for supervisors and e

[2022-06-23 18:50] HasanSifat commented on #338
Hi @iman-jamali-fw. After discussing with the team, we have decided to go ahead and remove the forms tab for both Clients and Reviewers.

Clients will only be able to come to formsflow using the direct link to the form. No tabs in the formsflow tool will be available to them. After clicking submit, the clients will be taken to a confirmation window/page (this can be in cms lite/myhr as a redirect)

[2022-06-23 20:02] warrenchristian1telus opened #368 "Review Customizations for Conflicts with FormsFlow Dependency Updates"

[2022-06-23 20:19] MeghanStothers commented on #215
Duplicate ticket closed

[2022-06-23 20:19] #215 closed

[2022-06-23 20:20] MeghanStothers commented on #368
Pre-requisite for the updates

[2022-06-23 20:34] DonMoffatt commented on #316
I checked this and it appears fixed on the employee side. The supervisor sie was not an issue.

[2022-06-23 20:37] DonMoffatt commented on #316
@warrenchristian1telus  I changed this to a 2 - was that ok as an estimate? I'd like to close it but we should have some points assigned first.

[2022-06-23 21:16] warrenchristian1telus commented on #316
Thanks @DonMoffatt - I think 2 will easily cover it. Likely only a 1, but I'm not 100% sure about the implementation. @iman-jamali-fw can adjust if it's any more or less.

[2022-06-23 21:21] DonMoffatt commented on #316
I will close it with a 2. Iman can change it if that's not right.

[2022-06-23 21:21] DonMoffatt commented on #316
I will close it with a 2. Iman can change it if that's not right.

[2022-06-23 21:51] DonMoffatt commented on #360
I asked for a list of domains today on Yammer on in the Digital Government group.

[2022-06-23 22:03] #315 closed

[2022-06-23 22:05] alexandralloyd commented on #327
As per closed duplicate ticket #315:

The message could show something like this:
"Thank you for submitting for Telework Agreement, which has been emailed to your manager/delegate."

Optional wording? "You can check on the status of your submission by....?"

[2022-06-23 22:25] Stella-Archer opened #369 "TELEWORK: Tool tip info for editable fields"
**User Story**
As an employee or supervisor I should see tool tip instructions on every editable field with my personal information listed that says that the information in the PeopleSoft database will not be affected by my changes.

**Tasks**
- [x] Compose wording
- [x] Identify affected fields
- [x] Add wording to the end of each tool tip.

**Acceptance Criteria**
- [x] All fields that have an o

[2022-06-23 22:52] MeghanStothers commented on #316
Not required for launch - but be fixed. Please/QA check to see if this is resolved

[2022-06-23 23:15] DonMoffatt commented on #316
@alexandralloyd and I have Q/A'd the scroll bar and it meets requirements.

[2022-06-23 23:15] #316 closed

[2022-06-24 14:15] T854236 commented on #289
@iman-jamali-fw yes correct.  It's with the pull/get and not the push with the POST.

[2022-06-24 17:08] #348 closed

[2022-06-24 17:08] #363 closed

[2022-06-24 17:09] #347 closed

[2022-06-24 17:09] #345 closed

[2022-06-24 17:09] #352 closed

[2022-06-24 17:09] #349 closed

[2022-06-24 17:57] #312 closed

[2022-06-24 18:00] #346 closed

[2022-06-24 18:13] alexandralloyd commented on #369
@MeghanStothers I think mentioning PeopleSoft will only confuse people, so I've added a tooltip that says "This field is editable if necessary" to manager email and manager name field.

[2022-06-24 18:13] #369 closed

[2022-06-24 18:31] Stella-Archer opened #370 "[TOOL]: Clearing out the TEST and PROD DEV environment as a forms designer"
**User Story**
As a forms designer I want to have a clear, uncluttered environment so I can access only the forms that are current and relevant and am not mistakenly using an old version of a form.

**Tasks**

- [x] Identify all forms and tests that are redundant or unnecessary

- [x] review 'to delete with team

- [x] Delete all forms deemed unnecessary

**Acceptance Criteria**
A forms designer o

[2022-06-24 18:46] HasanSifat opened #371 "TOOL: Forms Version Control and Backup"
**User Story**
As a forms designer, I should be able to download forms from all 3 environments and have a secure place to store all the downloaded forms so that the developed forms have a backup in the program area repo.

**Tasks**

- [x] As a forms designer, the ability to download forms from formsflow

- [x] To finalize the filing structure in the program area repo

- [ ] Transfer all forms to t

[2022-06-24 18:48] HasanSifat opened #372 "Security, Versioning, and Backup of Digital Journeys"

[2022-06-24 19:43] Stella-Archer opened #373 "TELEWORK: Can't upload files"
Background: In the TEST environment I can not upload .mgs files, I get a "unauthorized message' and can not continue processing the form

Steps to Reproduce:
1/ respond to a request from a telework applicant asking for 3 or more days telework
2/ upload .msg file(test other file types that are allowed - Supported file types: .eml, .msg, .docx, .pdf, common image formats)

Actual Behavior: "unauthor

[2022-06-24 19:46] Stella-Archer commented on #373
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/53ecebcb-70e4-43d3-a531-6ef786e5a84b)

[2022-06-27 17:38] DonMoffatt opened #378 "TELEWORK: Add code to cause links to open in a new tab"
**User Story**
As a user, I want links to open in a new window.

**Tasks**
- [ ] Add code to JSON to ensure that links open in a new tab.

**Acceptance Criteria**
- [ ] All links open in a new tab.

[2022-06-27 17:39] DonMoffatt commented on #378
@iman-jamali-fw Hi Iman - I am having to redo all the links. Do you have any idea how the code was overwritten?

[2022-06-27 17:55] iman-jamali-fw commented on #378
Hi @DonMoffatt ,
Did the links you fixed revert?
On Friday, I copied the Telework form from DEV to TEST. Let me know if this broke your code.

[2022-06-27 17:57] DonMoffatt commented on #378
@iman-jamali-fw  I just put the popup code for the links back into the DEV copy. @alexandralloyd would you please check them?

[2022-06-27 18:36] alexandralloyd commented on #378
@DonMoffatt The links are all opening in new tabs in the DEV version of the form. @iman-jamali-fw  Can you push this version to test to see if it copies over?

[2022-06-27 19:08] iman-jamali-fw commented on #378
@DonMoffatt @alexandralloyd Latest Telework form Copied from DEV to TEST.

[2022-06-27 19:25] DonMoffatt commented on #378
@iman-jamali-fw @alexandralloyd The links worked for me in TEST. Alex, would you please verify them?

[2022-06-27 19:39] HasanSifat commented on #378
Hi! I can confirm all links are working in Test now. Thank you for the quick fix.

I would recommend pushing the most recent form in TEST to PROD now.

[2022-06-27 19:55] DonMoffatt commented on #378
Thanks @HasanSifat @alexandralloyd  checking them on TEST is not necessary now. - @iman-jamali-fw  would you push the changes to PROD, please?

[2022-06-27 21:07] DonMoffatt commented on #378
@alexandralloyd @HasanSifat Would one of you mind having a look at PROD and report back?

[2022-06-27 22:16] HasanSifat opened #379 "[DUPLICATE TICKET] TELEWORK- Clients/Reviewers seeing 3 Telework forms in the Forms tab"
Background: When a client/user goes into the forms tab in the Prod environment, there are 3 versions of Telework Agreement. 1 at the top goes into the correct form. The other 2 give an error- "Resource not found"
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/59099270-fa0a-413b-801e-fd254e189494)

Also here is a screenshot of what a forms designer gets to see-
![image.p

[2022-06-28 15:51] HasanSifat commented on #370
Detailed analysis of all forms in the 3 environments has been made.

Summary-
TEST- 4 forms for delete; 2 on hold for further development, 1 TBD for action; 1 ready for launch
DEV- 21 forms for delete; 4 on hold for further development; 1 ready for launch

Link to spreadsheet- https://bcgov.sharepoint.com/:x:/t/03991/ER9B9kMLQlNDmHVkwYOvC5QB3ZSl0QsuKgiJrWInE6YbMQ?e=ggjYV3

[2022-06-28 17:22] HasanSifat commented on #322
Slight change on this one, Reviewers/supervisors AND Submitters will both NOT have access to the Forms tab and will also NOT be able to see the tab once inside the formsflow tool/dashboard interface.

[2022-06-28 17:27] HasanSifat commented on #371
All forms from TEST & DEV have been downloaded and saved temporarily in Telework TEAMS channel.

[2022-06-28 17:51] iman-jamali-fw commented on #289
@warrenchristian1telus You can find the relevent env variables on Openshift, under `forms-flow-webapi` by these two names:
- `EMPLOYEE_DATA_API_URL`
- `EMPLOYEE_DATA_AUTH_TOKEN` I believe this token need to be updated for the new endpoint url.

[2022-06-28 21:45] warrenchristian1telus commented on #289
@iman-jamali-fw The above URL and token have been updated. I've also updated the "ODS" URL for POSTS back to CDATA:

ODS_URL = https://analytics-api.psa.gov.bc.ca/apiserver/api.rsc

[2022-06-29 13:42] iman-jamali-fw commented on #373
The issue exists on TEST and PROD while working fine on DEV.
This issue causes by `form-flow-files`. After an investigation with @warrenchristian1telus , it is most probably due to its deployment differences on TEST and PROD compared to DEV.

[2022-06-29 15:54] Stella-Archer commented on #343
can test by assigning roles manually

[2022-06-29 17:33] warrenchristian1telus opened #384 "Tag Deployments for Each Namespace"
Each namespace (dev, test, prod) should have separate deployment builds and images, so that deployments to one cannot affect the others.

Each namespace should also have the same deployment structure. For example, test currently has forms-flow-files as a StatefulSet, while it's a DeploymentConfig in dev.

[2022-06-29 17:47] HasanSifat commented on #341
security matrix for reference for all the issues under this epic- ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/3a11304a-3900-4c51-81d0-b8a00157a30c)

[2022-06-29 17:48] warrenchristian1telus opened #385 "Roll Back forms-flow-web Image to Resolve Auth Issue"
A recent deployment has caused an authentication failure in all three namespaces.

Roll back to last known working configuration / build to resolve the issue.

[2022-06-29 19:02] #385 closed, assigned to warrenchristian1telus, kkapoor-fresh

[2022-06-29 20:35] Stella-Archer opened #386 "TELEWORK: fraud Awareness and Prevention course requirement"
**User Story**

“As a employee, manager and/or ADM I want be aware of the fraud Awareness and Prevention course as a training prerequisite so I cant be sure I'm meeting all requirements for the telework agreement compliance.”

**Tasks**

- [x] Identify appropriate area on form to add text (first section  of form?)
- [x] Add text to telework form: In addition to the above longstanding criteria, eff

[2022-06-29 22:09] warrenchristian1telus commented on #373
@DonMoffatt I don't have enough information to estimate this. We are not yet sure about the root cause. I would suspect that this will be resolved along with #384 as it should include synchronizing the deployments of dev, test and prod. For now, I will add that as a blocker for this issue, so that we can revisit after that is complete and verify this issue has been resolved.

[2022-06-29 22:15] DonMof commented on #373
Thanks for the update. We noticed today that quite a few tickets (~15 or more) were closed without being assigned to sprints or having estimates, which makes Hasan's analysis of our velocity less precise.

[2022-06-29 22:15] warrenchristian1telus commented on #373
@kkapoor-fresh Can you please verify that this issue is resolved once the deployment changes are complete? This is working as expected in dev, but not test or prod. I'm hoping the work from #384 will resolve this.

[2022-06-29 22:29] #384 closed

[2022-06-29 22:29] warrenchristian1telus commented on #384
Closing as a duplicate of #282

[2022-06-29 22:34] warrenchristian1telus commented on #373
@DonMof We can certainly go back and fill in the blanks. If we do retroactive estimates, they should be extra accurate. Of course, this will also take some time away from development. I am seeing 48 Closed issues without estimates, and 40 open issues. Although the bulk (33) are still New: 2 B Estimated. Also, I suspect some of them were open/closed due to duplication,  deciding not to implement, e

[2022-06-29 22:38] DonMof commented on #373
I set the ones I found in closed for the last sprint to 3, just to have a number on them and get a better estimate. It's something we can discuss at standup tomorrow re. whether you want to refine that.

[2022-06-30 16:20] david-sabadash commented on #322
Quick question about this ticket; What should be done about the text inside the previously named 'Tasks' tab? In the attached image, i'm referring to the text still showing 'Tasks'.
![image.png](https://images.zenhubusercontent.com/62b33d00d955ad0dc2151a98/7deafb1d-9cec-470c-ada0-9e6baa47bc7f)

[2022-06-30 16:46] warrenchristian1telus opened #390 "Remove Deployment Trigger Type: ImageChange"
Please remove the Type: ImageChange from the DeploymentConfigs, so that changes deployed to one namespace (/tools) do not trigger updates in the others.

This is to temporarily resolve the deployment issues while we work toward the permanent tagged image fix in #282.

Note that the deployed changes will still be susceptible to cluster-wide upgrades and pod cycling, as they will still share base im

[2022-06-30 16:54] kkapoor-fresh commented on #390
Pull request https://github.com/bcgov/digital-journeys/pull/391 created for this fix.

[2022-06-30 17:07] HasanSifat commented on #322
Hi David! Is it possible to take this popup box out completely? The tab name at the top is sufficient information for users.
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/8c3ff210-1df6-4d6b-95bc-90a157880b96)

[2022-06-30 17:12] david-sabadash commented on #322
@HasanSifat definitely, i'll make the changes and note this conversation in the PR description

[2022-06-30 17:13] HasanSifat commented on #322
thank you!

[2022-06-30 20:37] Stella-Archer commented on #339
PIA with Jennifer, will need to be resigned but doesn't anticipate it will impact timeline.

[2022-06-30 20:46] Stella-Archer commented on #313
Duplicate ticket to documentation #342 and preamble #323

[2022-06-30 20:46] #313 closed

[2022-06-30 21:38] alexandralloyd commented on #342
Preamble will read:

Before you begin this form, please be aware:

- Be prepared to spend 30 minutes to complete and submit the digital telework agreement
- This request must be finished in one session, you cannot save your progress
- The session will timeout after one hour of inactivity
- This form is a legal document
- Y

our telework agreement will be valid for one year after the date it is sig

[2022-06-30 23:11] DonMoffatt opened #401 "TELEWORK: Logic for show/hide not working in #4."
**User Story**
As a user, when I click on the "no formal schedule" checkbox I want the days of the week option to disappear but the "no formal schedule" box to remain visible. Similarly, when I select 1 or more days of the week, I want the "no formal schedule" checkbox to be hidden.

**Tasks**

- [ ] Modify javascript so that this works for both cases.

**Acceptance Criteria**

- [ ] This must wor

[2022-06-30 23:14] DonMoffatt commented on #401
This worked for several weeks until it was noticed on June 28 that when selecting the "no formal schedule" checkbox that this checkbox and days of the week both disappeared. I built it originally but I am finding it difficult to fix.

[2022-07-04 16:50] Stella-Archer commented on #343
Ser up session
assign roles User & Reviewer
document environments that they see in DEV/TEST/PROD

[2022-07-04 16:53] Stella-Archer commented on #164
Not visible in DEV
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/fe37e41d-68b8-4f19-8661-c9403ecc1c5d)

[2022-07-04 16:55] Stella-Archer commented on #164
or TEST
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/4ec2ee44-54d5-454c-be69-b357d41f0e92)

[2022-07-04 16:56] Stella-Archer commented on #164
or PROD
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/ef85b750-c8aa-4bab-9759-ed417093aa51)

[2022-07-04 16:58] Stella-Archer commented on #351
Test with Roles

[2022-07-04 17:00] Stella-Archer commented on #322
I don't see this in any environment
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/900fa08a-e547-446a-9901-2b92925a1e38)

[2022-07-04 17:02] Stella-Archer commented on #336
This hasn't been done in any environments
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/377a8511-dd4a-414b-b2d8-c3c5304defdc)

[2022-07-04 17:44] Stella-Archer commented on #351
Not happening in PROD
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/fedc19b5-9500-4154-b1bc-18b83c2c005f)

[2022-07-04 17:48] Stella-Archer commented on #351
Is working in DEV :)
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/3d1c2066-b24a-4cdf-add2-6c21c1fa28d6)

[2022-07-04 17:48] Stella-Archer commented on #351
Could we pish this change to tst?

[2022-07-04 18:30] MeghanStothers opened #405 "TELEWORK BUG: No Peoplesoft info in the form in PROD"
Background: As an employee, I am do not have the Telework form auto-populated with Peoplesoft information in the prod environment

Steps to Reproduce: Login to the form using the prod link.

Actual Behavior: Form fields are blank

Expected Behaviour: Form fields should be complete

Environment: PROD

[2022-07-04 19:02] DonMoffatt commented on #401
This copy of the TELEWORK agreement seemed to be overwritten. I fixed the conditional logic and documented it for our team.

[2022-07-04 19:03] #401 closed

[2022-07-04 19:03] T854236 commented on #405
@warrenchristian1telus  looks like Digital Journey PROD is hitting DEV API URL.

[2022-07-04 19:05] Stella-Archer opened #406 "TELEWORK: 'Submit' is not working in PROD"
**Background:** when Employee tries so submit application in PROD they are not able to and get and error message. this happens regardless of how many days they've requested

**Steps to Reproduce:**
employee role goes through all steps to apply for telework, hits submit button

**Actual Behavior:**
 Employee tries so submit application in PROD they are not able to and get and error message

**Expec

[2022-07-04 19:14] T854236 commented on #405
@warrenchristian1telus for clarity to my comment.  I don't see any hits to API PROD server from telework this morning.

[2022-07-04 20:06] Stella-Archer commented on #343
I can't see this in any environments or roles
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/d4cca4c0-4b53-4afd-a39d-e68d542a5d2d)

[2022-07-04 20:06] Stella-Archer commented on #343
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/3f64a6dd-fb7c-407c-b63f-fd1de634049e)

[2022-07-04 20:08] Stella-Archer commented on #338
not seeing this in any environment
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/a0b7aff0-9a57-438b-99fc-3f7d33e9aaf0)

[2022-07-04 20:09] Stella-Archer commented on #338
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/2cf65bb6-dedd-4480-a916-b93d4b73c2a4)

[2022-07-04 20:11] Stella-Archer commented on #338
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/ad279505-0bf2-4a6c-8e3b-d5a914be0c0c)

[2022-07-04 20:12] warrenchristian1telus commented on #405
@MeghanStothers I think there is an issue with the TOKEN for prod CDATA in our config. Investigating.

As the original issue for this is still open, I think we can likely close this one and complete the work / validation through that to avoid duplication:

https://github.com/bcgov/digital-journeys/issues/289

[2022-07-04 20:14] Stella-Archer commented on #320
Not seeing this in any environment
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/e54b84a2-2f2f-4699-9917-26c8df8b6251)
![image.png]
(https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/08973cbf-9b8e-499b-8671-5a599123ccf3
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/9c5d4fa1-4224-40fa-8679-39ae42d6c7a5))

[2022-07-04 20:37] alexandralloyd commented on #386
Added to the DEV version

[2022-07-04 20:38] warrenchristian1telus commented on #289
Hi @iman-jamali-fw I've updated the CDATA API Token, but noticed there's a 500 error from request. Not sure if this could be to do with the token being wrong, but I wouldn't expect that could cause a 500 error. Can you please look into it?

![image](https://user-images.githubusercontent.com/70002196/177214317-95c1862b-9aff-4155-b03b-e73b00096fd4.png)

[2022-07-04 21:05] alexandralloyd commented on #342
Added to DEV

[2022-07-04 21:06] DonMoffatt commented on #401
DEV copy fixed as well.

[2022-07-04 22:37] DonMoffatt commented on #370
I do not need any of the Telework forms in the DEV environment other than the main one. I am fine with all of these being deleted:

<img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAHCAyADASIAAhEBAxE

[2022-07-05 12:01] kkapoor-fresh commented on #390
The fix has been deployed to DEV, TEST and PROD. @warrenchristian1telus I saw a few workflow actions running after this fix, so I am assuming this looks good but please confirm at your end once.  @freshjwarren

[2022-07-05 22:04] alexandralloyd opened #409 "APP: Instructions for uploading JSON of Form to Formsflow.ai"
**User Story**
As a forms designer, I want the ability to upload a copy of a form to formsflow.ai so that I know I can quickly and easily restore a deleted form.

**Tasks**

- [x] Write out instructions for saving and uploading a copy of a form in formsflow.ai

- [x] Save instructions somewhere (Teams, GitHub, etc.)

**Acceptance Criteria**

- [x] Above tasks are completed

[2022-07-05 22:26] MeghanStothers commented on #405
Duplicate ticket so will close this one - see  #289

[2022-07-05 22:28] MeghanStothers commented on #289
A similar ticket #405 was closed (ticket was about Telework users not seeing Peoplesoft data in PROD)

[2022-07-05 22:28] #405 closed

[2022-07-05 22:48] MeghanStothers commented on #342
We previewed this "preamble" box at our July 4 meeting with Jill Bryant/PIE. We agreed on a few changes to rename the box "Before you begin" etc. We make these changes and run the content by Sean/PIE for approval and then close this ticket (after making sure the content appears in all three environments.) Thanks

[2022-07-05 22:51] alexandralloyd commented on #342
Made changes and sent to Sean to review on 07/05

[2022-07-06 16:31] david-sabadash commented on #338
Currently the base redirect when logging in is to the /form page for Clients. are we wanting to change this in addition to hiding the tab?

[2022-07-06 19:13] iman-jamali-fw commented on #343
@HasanSifat This feature is deployed to TEST and ready for testing :)

[2022-07-06 21:15] HasanSifat commented on #320
Tested successfully in TEST. Waiting on this change to be pushed to PROD and do a final review before closing ticket

[2022-07-06 21:30] HasanSifat commented on #351
tested successfully in TEST. waiting to push this change to PROD and do a final round of testing before closing this ticket.

[2022-07-06 21:36] HasanSifat commented on #338
Hi @david-sabadash
Our understanding of the business requirements is that users after submitting a form will be redirected to a confirmation page, either within formsflow or a redirect to a page in CMS Lite.

New users coming into Formsflow to make a submission will not have the link to the forms tab, instead only the direct link to the Telework Agreement form will be available to them to sign in

[2022-07-06 21:51] Stella-Archer commented on #386
looks really great in DEV Alex, Did Sean OK the final wording? If so we should be good to push this to test ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/6f4e6ba6-1ad0-45db-ac7c-a09bf1d18056)

[2022-07-06 22:45] HasanSifat commented on #321
Received feedback from Sean (Policy) that we will monitor feedback from ADMs after the soft launch on August 2nd. Then incorporating those feedback before the final launch in September.

[2022-07-07 15:43] HasanSifat opened #413 "TELEWORK: Multiple entries of Telework Form in Forms tab in TEST & PROD as a client"
**User Story**
As a client coming into the formsflow, after signing in, I can see multiple telework agreement forms. However, only the first one is the actual form and all the other ones give an error "Resource not found". This is confusing for me as I am not sure which form to go into.

**Tasks**

- [x] Identify why these multiple entries of the Telework Agreement form are showing up in the Forms

[2022-07-07 16:06] david-sabadash commented on #338
@HasanSifat Ok! thanks Hasan, that makes sense. To clarify though, what I mean is currently Client roles will be put on the /form page after logging in despite having no Form tab access. This should probably be changed, should it not?

[2022-07-07 16:27] HasanSifat commented on #338
@david-sabadash well that depends on which link the users are taking to come into formsflow. The only link that will be available to them will be a direct link to the Telework form through the BC Gov website. So I don't see how users will be directed to the forms tab after signing in if they don't have the link to it in the first place.

[2022-07-07 20:14] Stella-Archer commented on #327
this should replace the green validation message after client submits

[2022-07-07 20:32] #279 closed

[2022-07-07 20:52] alexandralloyd opened #416 "TELEWORK: Deleting Completed Submissions"
**User Story**
As an employee, I want to make sure my submission is deleted from formsflow upon completion so I know my privacy is protected.

Relates to ticket #339 and ticket #417

**Tasks**

- [ ] Once the submission is actioned by a supervisor (either approved or denied), the submission should be automatically deleted from the formsflow.ai system. This deletion would be the last step in the wo

[2022-07-07 20:56] alexandralloyd opened #417 "TELEWORK: Delete Incomplete Submissions After 30 Calendar Days"
**User Story**
As an employee, I want my telework submission to be deleted from formsflow.ai after 30 calendars if my supervisor doesn't approve it within that timeframe, so my privacy is protected.

Relates to ticket #339 and ticket #416.

**Tasks**
- [x] If a submission is not actioned by a supervisor (either approved or denied) within 30 calendar days, the submission should be automatically del

[2022-07-07 21:45] Abuchana commented on #339
@alexandralloyd, once the MPO signs it, do we have to get Rueben to resign it? If so, we should leave the ticket open, if not, I think we can close it.

[2022-07-08 15:58] Stella-Archer commented on #339
waiting for Dwayne/Reuben signature before closing

[2022-07-08 15:58] iman-jamali-fw commented on #409
Instructions can be found [here](https://github.com/bcgov/digital-journeys/blob/main/docs/forms.md#uploading-a-form)

[2022-07-08 20:09] alexandralloyd commented on #409
Thanks Iman, this looks great! I'll close this ticket now.

[2022-07-08 20:09] #409 closed

[2022-07-08 20:43] HasanSifat commented on #342
All changes present in DEV, TEST & PROD

[2022-07-08 20:43] #342 closed

[2022-07-08 20:44] HasanSifat commented on #386
All requirements met and changeS present in DEV, TEST & PROD.

[2022-07-08 20:44] #386 closed

[2022-07-08 20:53] HasanSifat commented on #325
Changes present in TEST- ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/df8e92c6-3882-4e58-ba53-2d442c8fa066)

Changes present in PROD-![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/96848aea-a509-4ef7-b283-4b7cc721cf40) ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/24838b05-4664-48fa-b249-d94dbc1a5740)

[2022-07-08 20:53] #325 closed

[2022-07-08 20:54] alexandralloyd commented on #320
Successfully tested in PROD with Lee-Ann and Josh.

[2022-07-08 20:54] #320 closed

[2022-07-08 20:54] alexandralloyd commented on #351
Tested in PROD, works.

[2022-07-08 20:54] #351 closed

[2022-07-08 20:55] alexandralloyd commented on #338
Tested in PROD, working.

[2022-07-08 20:55] #338 closed

[2022-07-08 20:56] alexandralloyd commented on #343
Tested in PROD with Lee-Ann and Josh, working.

[2022-07-08 20:56] #343 closed

[2022-07-08 22:07] HasanSifat commented on #333
Hi @david-sabadash all the changes are looking great! One small thing. Is there a way to remove the "Groups" button as well? We may not have specified this in the ticket but it needs to be removed along with all the changes you made related to this ticket. screenshot below-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/4312846d-e133-442a-a4d8-387ba47d98fd)

[2022-07-08 22:08] HasanSifat commented on #322
Tested successfully in TEST environment. ready to be deployed to PROD

[2022-07-08 22:09] HasanSifat commented on #332
Tested successfully in TEST environment. Ready to be deployed to PROD

[2022-07-11 15:55] david-sabadash commented on #333
@HasanSifat absolutely, I can fix that. Thanks for pointing it out.

[2022-07-11 22:49] Stella-Archer commented on #332
@HasanSifat  I notice this schedule thing in TEST -
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/1af0bc5c-8abf-4d1f-b69f-ef8a8879b0e4 Is that just because my designer role)

[2022-07-11 22:51] Stella-Archer commented on #332
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/bc0bf82b-2847-4e54-a0c7-902a21ec0ca8)

[2022-07-11 22:52] Stella-Archer commented on #332
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/7fc0de8f-655f-403f-817d-e093d5924f4d)

[2022-07-11 22:55] HasanSifat commented on #332
Hi @Stella-Archer, this is the group assignee option that is being removed as part of ticket#333. This is what I pointed out to David in the morning. Once complete with 333, this option will not be available. the form tab is the only one going to be there. Previously we had history and diagram tab, those were removed as part of ticket#332

[2022-07-11 22:56] Stella-Archer commented on #332
@HasanSifat  I see you've flagged this in #333, thanks you please disregard the above comments!

[2022-07-11 23:16] HasanSifat opened #424 "TELEWORK/APP DEV: Remove "+" and rename pending tasks sort function"
**User Story**
As a user, I want the "Sort by" functions in the "Review and Process Applications" tab to be more user-friendly so that I know definitively that this feature is a sorting function.

**Tasks**

- [x] Remove the "+" sign as it adds more confusion to the interface
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/a73f5768-9c48-4a81-a00f-75dbb15186fa)

- [x] Ren

[2022-07-12 16:20] Abuchana commented on #282
@warrenchristian1telus Warren, can this ticket be closed now?

[2022-07-12 16:23] HasanSifat commented on #326
Hi @david-sabadash this one you can start looking at to solve

[2022-07-12 16:24] HasanSifat commented on #327
Hi @david-sabadash another similar one for you to start looking at

[2022-07-12 16:58] Abuchana commented on #282
@warrenchristian1telus Sure, just let me know what you need me to do :-)

[2022-07-12 17:23] warrenchristian1telus commented on #282
@Abuchana Apparently task list aren't supported in tables. Unfortunate. https://github.community/t/checkboxes-are-not-being-checked/187797

I'll try another way to display it nicely (and have the checkboxes work), but my basic idea was to include both the development task and a testing task. This way, the developers can sign-off on the task, and tag a reviewer to verify the changes, as I did with

[2022-07-12 17:25] MeghanStothers commented on #327
For now, I suggest creating a generic request that will work with all approvals (rather than one requiring dev work/programmatic logic):

Please use BC Sans font at least 11 point size

Here is the standard message:

Thank you for submitting a telework agreement request. Your supervisor/delegate has been notified by email of your request.

This email does not confirm approval of your telework requ

[2022-07-12 17:36] Abuchana commented on #282
@warrenchristian1telus the check boxes at the top worked for me

[2022-07-12 17:53] warrenchristian1telus commented on #282
Thanks for helping me test that @Abuchana

I think managing the [available/assigned] testers in the ticket will be helpful as we onboard developers, have people jumping between projects, going on vacation, etc.

[2022-07-12 17:57] MeghanStothers commented on #326
HERE IS THE STANDARD MESSAGE FOR THE CONFIRMATION PAGE:
- please use BC Sans font if possible with a point size or 11 or larger

Thank you for submitting reviewing and completing this telework agreement request.

The employee has been notified by email of your decision and has received a pdf copy of the completed telework agreement.

You will receive by email a pdf copy of the Telework Agreement,

[2022-07-12 18:38] david-sabadash commented on #333
@Stella-Archer the changes are now in TEST

[2022-07-12 21:35] HasanSifat commented on #322
Tested successfully in PROD. Closing ticket!

[2022-07-12 21:35] #322 closed

[2022-07-12 21:35] HasanSifat commented on #332
Tested successfully in PROD. Closing ticket!

[2022-07-12 21:35] #332 closed

[2022-07-12 21:37] HasanSifat commented on #333
Tested successfully in PROD. Closing ticket!

[2022-07-12 21:37] #333 closed

[2022-07-13 15:44] MeghanStothers commented on #339
@alexandralloyd Can you share an update where the PIA is now - is it with Jennifer/Privacy?

[2022-07-13 16:52] DonMoffatt opened #425 "TELEWORK: Customize email messages"
**User Story**
As a user, either as an employee or supervisor, I want customized messages to fit the options requested by the employee.

**Tasks**
- [x] Work out logic to match the new email messages specified.
- [x] Augment the existing workflow with new decision gates to match this logic.
- [x] Modify the email messages for each option (18 in total).
- [x] Format the emails in the requested way

[2022-07-13 16:55] DonMoffatt commented on #425
Current status: logic is working but the formatting is not.

[2022-07-13 17:12] HasanSifat opened #426 "TELEWORK: Server side pdf fixes"
This epic consists of the bundle of tickets to solve the server-side pdf generation of the Telework agreement. The email attachments going out to both employees and supervisors need to have the following features before launch-

- [x] No page break issues with the generated pdfs

- [x] Manager's signoff section visible with all attachments (filled and non-filled)

[2022-07-13 17:15] #335 closed

[2022-07-13 17:16] #341 closed

[2022-07-13 17:20] HasanSifat commented on #328
With technical complications to add this feature and also because the tool currently only holds pending applications in the left hand panel, it has been decided to not include this feature for launch.

Removing MVP tags and transferring to product backlog pipeline to be looked at after soft-launch

[2022-07-13 17:27] HasanSifat commented on #233
Archiving through a Teams folder is currently in place where the program team is downloading the latest version of live forms in all 3 environments, daily.

The program team will transfer this archive to a separate program area repo and continue to archive forms on that platform.

Closing ticket as all exploratory activities is complete.

[2022-07-13 17:27] #233 closed

[2022-07-13 17:31] #379 closed

[2022-07-13 17:38] alexandralloyd commented on #339
@MeghanStothers Still waiting for MPOs signatures

[2022-07-13 17:39] HasanSifat commented on #276
Duplicate epic

[2022-07-13 17:46] HasanSifat opened #427 "TELEWORK: Email messaging updates to clients and supervisors"
A collection of all email messaging-related tickets for launch

[2022-07-13 17:47] HasanSifat opened #428 "TELEWORK: Email messaging updates to employees and supervisors"
A collection of all email messaging-related tickets for launch

[2022-07-13 19:57] HasanSifat commented on #289
Tested in PROD-

1. Employee info pre-populated correctly. Name is also in correct order
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/94598366-a790-42b2-b14e-5024efdcf9b4)

2. Address fields also loaded correctly-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/3d2b9bf5-84a6-427f-83cf-a6f86e78bed0)

Moving ticket to Review Pipeline

[2022-07-13 21:11] HasanSifat commented on #289
Tested successfully. Closing ticket

[2022-07-13 21:11] #289 closed

[2022-07-14 15:53] #406 closed

[2022-07-14 16:22] MeghanStothers commented on #306
@iman-jamali-fw - Is this ticket/bug still an issue or has this been resolved? If so, please close the ticket. Thanks!

[2022-07-14 17:27] iman-jamali-fw commented on #306
@MeghanStothers This still exists.

[2022-07-14 17:46] DonMoffatt commented on #360
I asked Colin Newell today and he referred me to Danton Remacle. I am awaiting a response. Alex also asked Steven Jones.

[2022-07-14 17:52] DonMoffatt commented on #425
Hello @iman-jamali-fw - I have tried a variety of ways of adding boldfacing and list items but so far I can't add anything that produces the equivalent to a <strong> or  <li> effect. It all comes out as plain text and includes the markup tags.  I tried escaping to html using a \ and " and neither worked (both showed up in the message). I also tried the asteriks shown here: https://jira.camunda.com

[2022-07-14 20:09] MeghanStothers commented on #336
Warren suggests a test in dev when ready
Iman has tested on local and it didn't break

[2022-07-14 20:19] MeghanStothers commented on #170
Duplicate ticket

[2022-07-14 20:20] #170 closed

[2022-07-14 20:23] MeghanStothers commented on #275
Closing see #366

[2022-07-14 20:23] #275 closed

[2022-07-14 20:25] #328 closed

[2022-07-14 20:29] MeghanStothers commented on #306
For review after launch - low risk.
Suggest to send users to digital journeys team with instruction to clear cache

[2022-07-14 22:54] Stella-Archer commented on #106
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/3251e626-fae5-46a1-9a84-958ab22b43b0)yes the logo should have about 15px padding on th eleft, but this could wait til we get the WIW logo in #165

[2022-07-14 23:12] Stella-Archer commented on #373
Issue seems to be solved with the update :)

[2022-07-14 23:14] Stella-Archer commented on #336
please note there is some spacing padding info for logo placement in ticket #106

[2022-07-15 15:48] #373 closed

[2022-07-19 17:35] will-freshworks opened #430 "Automated backup of Postgres (for Keycloak)"

[2022-07-19 17:46] will-freshworks opened #431 "Load testing pre-go-live"

[2022-07-19 17:51] will-freshworks commented on #282
Hey @kushal-arora-fw I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/psa-devops-60f098ab875719001bce05fb/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-07-19 18:26] MeghanStothers opened #432 "Telework launch plan"
As a dev team launching the Telework agreement to all employees on August 2, we want a coordinated plan to ensure a successful launch.

The a/c will include:

A current reference with daily tasks, assigned roles and times

SEE LATEST PLAN BELOW

[2022-07-19 23:58] DonMoffatt commented on #360
-We have collected a list of possible domains from the Messaging and Communications group.
- We have also collected a list of applicable organizations from Policy.
- The next step is to match the two.

[2022-07-20 00:00] DonMoffatt commented on #425
I've applied Iman's suggested method but that method does not appear to allow attachments. We may be limited to a choice of markup OR an attachment. However, I am continuing to investigate and emailed Iman about it at the end of the day in the hope that he has an idea of a workaround.

[2022-07-20 00:55] simensma-fresh commented on #330
@david-sabadash I found that the Camunda task names accept variables, so we could do this by just updating the task name in the Camunda workflow to something like `Review ${name} Request`, which in turn will populate the name in that response. ![image.png](https://images.zenhubusercontent.com/61df28f84562db4e4d8e63d1/da444f4b-4b26-45a3-8728-a10771a7416c)

[2022-07-20 11:40] kkapoor-fresh commented on #390
@warrenchristian1telus @Abuchana I guess this ticket is good to close.

[2022-07-20 15:44] warrenchristian1telus commented on #390
Hi @kkapoor-fresh I found an ImageChange trigger on the first DC I checked in prod. Can you please review the deployments and make sure they have all been removed?

![image](https://user-images.githubusercontent.com/70002196/180025605-0dcb407c-6537-48c8-b500-b8ad01821a1d.png)

[2022-07-20 15:53] #358 closed

[2022-07-20 16:09] Abuchana commented on #427
@DonMoffatt Don, can you assign points to this ticket? I'm doing some calculations :-)

[2022-07-20 16:12] HasanSifat commented on #427
Hi @Abuchana, this was a duplicate ticket and the in-progress pipeline has a ticket addressing this bit.

[2022-07-20 16:14] Abuchana commented on #427
@HasanSifat Thank you! I glazed of the "duplicate"

[2022-07-20 16:40] DonMoffatt commented on #427
Hi Alison. I assigned 3 points.

[2022-07-20 17:25] warrenchristian1telus commented on #282
Hi @kkapoor-fresh there is a build issue with the (missing) TAG param:

![image](https://user-images.githubusercontent.com/70002196/180044683-c126d849-9ea1-4ac5-917b-5e548c56c2b0.png)

[2022-07-20 19:39] david-sabadash commented on #424
@MeghanStothers @HasanSifat

just a question about the renaming of the 'Created' label- currently this is one of the sorting options, not a label. it changes based on which sorting option is chosen, such as priority, assignee, etc. are you wanting this changed to be a static label of 'Sort By' if that is done, there won't be a way to see what the currently selected sort parameter is

also, is this

[2022-07-20 19:50] MeghanStothers commented on #424
I think the goal of this ticket is to hide or remove this feature ofr launch rather than re-name. Is that correct @HasanSifat ?

[2022-07-20 19:56] david-sabadash commented on #424
to specify; even if we rename, the default sort will still be 'Created date'

[2022-07-20 20:32] HasanSifat commented on #424
Hi @david-sabadash! I just had a discussion with Meghan and Stella, and we have decided to take out the option altogether(both sort function and the + sign). There won't be any need to rename the label/sort function. We want to take out the option altogether and have submissions sorted by creation date as a default.

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/d3b675

[2022-07-20 20:37] david-sabadash commented on #424
ok perfect, thanks!

[2022-07-20 21:08] HasanSifat commented on #327
Hi @david-sabadash  we had a review of the messaging on this confirmation window and wanted to make an update to the content. The updated messaging will be-

Thank you for submitting a telework agreement request. Your supervisor/delegate has been notified by email of your request.

This message does not confirm approval of your telework request.

You will receive another email after your superviso

[2022-07-20 21:10] HasanSifat commented on #326
Hi @david-sabadash we had a review of the messaging on this confirmation window and wanted to make an update to the content. The updated messaging will be-

Thank you for reviewing and completing this telework agreement request.

The employee has been notified by email of your decision and has received a pdf copy of the completed telework agreement.

You will receive by email a pdf copy of the Tel

[2022-07-20 21:28] Abuchana opened #441 "System load testing"

[2022-07-20 22:03] HasanSifat commented on #326
Also the "Application" tag on the top right needs to be removed as well @david-sabadash
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/01d9cbf6-def9-4e9f-b9db-3a8996a71a23)

[2022-07-20 22:32] HasanSifat opened #442 "[DUPLICATE TICKET] [TELEWORK/SERVER SIDE PDF]: Filled out manager's section integrated as attachment with final confirmation email"
**User Story**
As an employee and manager, I want to have the manager's section of the telework agreement visible and filled out once a final decision has been made by the manager. This way I will have an artifact to save and refer to later on

**Tasks**

- [ ] Manager's section visible and filled out after decision submitted by Manager

**Acceptance Criteria**
this ticket can be defined complete

[2022-07-20 22:57] HasanSifat commented on #330
Tested Successfully in TEST.

All new submissions have an updated bolded header with the employees' name present in the title of the request.
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/4ebd9c2b-7666-47ed-a3cc-80e3cc1e8f32)

Ready to be transferred to PROD

[2022-07-20 23:15] alexandralloyd commented on #353
Currently not working in TEST![telework name generation.PNG](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/a70cde6c-5688-4f9d-b91f-cbd637d7da9e)

[2022-07-20 23:16] alexandralloyd commented on #157
Currently not working in TEST - manager's section is still missing

[2022-07-20 23:29] Stella-Archer commented on #353
[Uploading... PDF Copy of Telework agreement.msg]

[2022-07-20 23:36] Stella-Archer commented on #330
Yaas this looks good
could we remove the email and the '#50' as well?
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/af9d33ae-c11a-43e8-9091-64ad807b89f2)

[2022-07-20 23:39] Stella-Archer commented on #157
[Uploading... image.png]

[2022-07-20 23:39] Stella-Archer commented on #157
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/0cb33e8e-ca39-4204-a761-1ffdc8f62539)

[2022-07-20 23:42] Stella-Archer commented on #367
text is not cut off :)
but managers section is not visible, and the PDF is called 'form .pdf'[https://app.zenhub.com/files/439477060/cf4db96e-6f60-4d6e-81c7-fe1f17253143/download](https://app.zenhub.com/files/439477060/cf4db96e-6f60-4d6e-81c7-fe1f17253143/download)

[2022-07-20 23:43] Stella-Archer commented on #367
YAY - text is not cut off

[2022-07-20 23:52] simensma-fresh commented on #353
@alexandralloyd @Stella-Archer @HasanSifat This has now been resolved, and should be ready for a re-test

[2022-07-20 23:53] simensma-fresh commented on #157
@alexandralloyd @Stella-Archer This has now been resolved, and is ready for a re-test

[2022-07-20 23:53] simensma-fresh commented on #367
@Stella-Archer Manager section / PDF name issue in test has now been resolved, so this is ready for a re-test

[2022-07-21 11:12] kkapoor-fresh commented on #390
@warrenchristian1telus The image triggers have been removed from the web, api and camunda services as these are the only services actively build and deployed by the pipeline currently. These automatic deployments are running fine after removing the image triggers as the refresh of environments done via code updates is not refreshing all the environments but only one which is relevant. To tackel de

[2022-07-21 15:45] MeghanStothers commented on #324
In progress - On July 20 Meghan emailed sent list of to-dos to Sean/Policy about the FAQs, Careers and MyHR web page, and recommendations to remove the links to the WORD form etc.

[2022-07-21 15:52] Abuchana commented on #416
Iman working on implementing a listener to manage this function

[2022-07-21 15:53] MeghanStothers commented on #441
Warren reported issue with security - there is an multi-step process. Agreed it would be good to do a load test and  Warren would feel more comfortable if we can do one. We will keep in touch -- daily -- about priority of this work.

[2022-07-21 16:00] MeghanStothers commented on #442
See #367 as this is a similar ticket

[2022-07-21 16:13] kkapoor-fresh commented on #282
@warrenchristian1telus I have fixed this and pushed my changes to the main but the build failed as there seem to be some issues from a previous merge by David. Once that is resolved, I will be able to run the Github Actions workflow to test out change

[2022-07-21 16:25] MeghanStothers commented on #323
We/our team will look to see how and where we use this information developed by Alex:
Especially the ADM information, which will give them a sense of what is required of them

Possibilities
- In Careers & MyHR web pages and/or FAQs
- An internal document for our team
- something for the Contact Centre and/or the Knowledgebase team/reports

[2022-07-21 20:16] HasanSifat commented on #323
Updated document to add PSA branding and formalized the content. it is now ready to be shared to all stakeholders- https://bcgov-my.sharepoint.com/:w:/g/personal/hasan_sifat_gov_bc_ca/ESXWlASTH11CgI-CaGMmf8gB2Osr_QnLf8yNkVmolDKeYQ

[2022-07-21 20:39] warrenchristian1telus commented on #441
Load test has been completed in dev. Test results were very positive, with 1650 forms successfully submitted within 10 minutes.

Detailed test results can be viewed here: https://a.blazemeter.com/app/?public-token=y8gWxvupz7r0EaGoY6j9dVFbOwuGzfvUAbT7iUDISlaB6Bh48M#/accounts/489484/workspaces/490572/projects/1406401/masters/63652884/summary

[2022-07-21 20:57] HasanSifat commented on #353
Tested successfully in TEST again.

1. Manager Notification email has an attachment with updated name-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/5c3fbee8-2377-4508-b1ab-c607b5c78bf0)

2. Manager final confirmation email has attachments with updated name-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/3738bc91-36bf-4d8c-9987-3872d6e403e1)

[2022-07-21 21:01] HasanSifat commented on #157
Tested Successfully in TEST.

Manager Notification email has an attachment with the manager's section visible and unfilled-
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/d3e12e06-b273-4c5f-bb26-44269237e906)

Employee final confirmation email has an attachment with the manager's section visible and filled out-
![image.png](https://images.zenhubusercontent.com/61e5b78d9

[2022-07-21 21:03] HasanSifat commented on #367
Tested successfully in TEST. All emails are firing with attachments. The pdf attachments have the manager's sign off section visible

Ready to transferred to PROD

[2022-07-21 21:05] HasanSifat commented on #336
Hi @david-sabadash I dont see any change in DEV or TEST with an updated "Where ideas work" branding.

Test failed!

[2022-07-21 21:06] alexandralloyd commented on #353
Working in TEST.

[2022-07-21 21:07] HasanSifat commented on #370
Review complete with TES devs and PSA project team to identify forms deemed unnecessary. TEST and DEV is now a cleaner environment with no unnecessary forms. Closing this ticket

[2022-07-21 21:07] alexandralloyd commented on #157
Working in TEST.

[2022-07-21 21:07] #370 closed

[2022-07-21 21:09] HasanSifat commented on #323
Here is a stakeholder analysis of this instruction manual-
![Telework - Telework Instructions Manual Stakeholder Analysis.jpg](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/41de2182-d97c-4072-afec-cc4ef7a199fd)

[2022-07-21 21:18] MeghanStothers opened #448 "BUG: Telework ADM Attachment"
As a supervisor wanting to approve an employee's request for 3 or more days, I am unable to attach proof of ADM approval.

I tested are was not successful in uploading a jpeg file nor a .msg file

Closing this ticket will happen with
- successful upload of all file format allowed
- having the file format as an attachment to the supervisors confirmation email

[2022-07-21 21:19] MeghanStothers commented on #448
![image.png](https://images.zenhubusercontent.com/61ddb02eac135d772cfce6ec/2fe4e5cb-a377-49b7-827c-710dcf1a6ab4)

[2022-07-21 21:46] MeghanStothers commented on #448
![image.png](https://images.zenhubusercontent.com/61ddb02eac135d772cfce6ec/a57cdf22-bdde-46ed-a74f-ea0af19ba106)

[2022-07-21 21:52] #442 closed

[2022-07-21 22:36] simensma-fresh commented on #425
I've been working with Don to modify our email functionality to allow for email styling. This has now been tested in dev, so it should unblock work on this

[2022-07-22 15:54] MeghanStothers commented on #416
Iman working to delete from one of three areas. This work needs to have an end point to API

[2022-07-22 15:57] MeghanStothers commented on #441
@warrenchristian1telus can you let us know if the load test was successful? Thanks

[2022-07-22 17:18] david-sabadash commented on #164
Does not include the navigation bar logo change - see https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/issues/bcgov/digital-journeys/336

[2022-07-22 19:07] simensma-fresh commented on #448
@Stella-Archer A fix for this has now been deployed to test

[2022-07-22 19:52] kkapoor-fresh commented on #282
@Abuchana @warrenchristian1telus The web, api and camunda have been deployed with "dev" and "tags"

[2022-07-22 19:54] HasanSifat commented on #326
Tested Successfully in TEST!
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/c2c24fca-5208-4c4b-ad08-1c513ec6da7f)

Ready to be transferred in PROD!

[2022-07-22 19:55] HasanSifat commented on #327
Tested successfully in TEST!

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/ec9ceaec-f5e0-43aa-949f-22690811ad6b)

Ready to be transferred to PROD!

[2022-07-22 19:57] HasanSifat commented on #424
Tested successfully in TEST!

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/a2ca176e-eb2b-4c18-923a-6d54ebc469b7)

Ready to be transferred to PROD!

[2022-07-22 20:01] HasanSifat commented on #448
Tested successfully in TEST! attachments are uploading successfully
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/46759d11-29a7-4f95-aa8f-ed6e26beaa6e)

[2022-07-22 20:52] Stella-Archer commented on #448
fixed! upload worked just fine in test

[2022-07-22 20:52] #448 closed

[2022-07-25 15:48] MeghanStothers commented on #164
Alex tested in Dev, to test in Prod and Test

[2022-07-25 17:53] simensma-fresh commented on #360
@DonMoffatt @MeghanStothers @Stella-Archer @Abuchana
I added an example on what this could look like on the telework form in dev. The List of domains / messaging can be updated in the Validation Tab of the field (custom validation section).

![image.png](https://images.zenhubusercontent.com/61df28f84562db4e4d8e63d1/2436177d-5b
43-4666-b595-4c7c5369df79)

![image.png](https://images.zenhubuserconte

[2022-07-25 17:53] david-sabadash commented on #330
@Stella-Archer Updated as per your previous comment! All changes should now be in DEV and TEST.

[2022-07-25 17:58] DonMoffatt commented on #360
Thanks - yes,  this looks simple.

[2022-07-25 18:01] Stella-Archer commented on #360
yes this looks great thansk!
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/c65b28ca-090b-4f02-8e71-922064295c46)

[2022-07-25 18:08] alexandralloyd commented on #330
Changes working in TEST and DEV, ready to be pushed to PROD

[2022-07-25 18:38] Stella-Archer commented on #164
The favicon is correct in DEV but not in TEST
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/22597918-8364-4c7c-b138-092235d11174)
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/7e0ce881-edd0-49c9-9c60-86d635861b54)

[2022-07-25 20:00] MeghanStothers commented on #360
I've had a reply from Igor and OCIO that they have received our request for the latest list. I have asked for a deadline of tomorrow at the latest as we'll need Simen's time to add the domains. @simensma-fresh can you let us know if getting the list on Tuesday will give you enough time?

Also, we'll want to adjust the message to show "BC" in caps but that is low-priority item. I will share this in

[2022-07-25 20:01] MeghanStothers commented on #360
Action: I have been given a contact name Aaron Leskiw, ED Network, to help us with this request. I will loop in Stella and Igor to the thread.

[2022-07-25 20:08] DonMoffatt commented on #360
I can add the domains, @MeghanStothers. Simen has already added the code and it is very simple.

[2022-07-26 12:49] kkapoor-fresh commented on #282
The above services have been deployed with "production" tags as well.

[2022-07-26 15:59] david-sabadash commented on #106
Update to AC: ensure the correct Favicon is in TEST

[2022-07-26 22:06] DonMoffatt commented on #425
@simensma-fresh I emailed  you at 12:40 today to get your assistance on the workflow. While checking the messages we noticed some were not being delivered. It is likely a setting in the workflow. I can reopen the workflow ticket if you prefer.

[2022-07-26 22:09] simensma-fresh opened #459 "Managers have access to all submissions"
**Background:**

Currently, when a Telework Submission is submitted, the manager is added to the formsflow-reviewer group, which gives elevated privileges to see ALL submissions, not only the ones that are submitted to you. Yes, the applications tab is hidden, but they can still be accessed through the API. The formsflow-reviewer group is one of the prebuilt groups, and it would not be advisable t

[2022-07-26 22:42] MeghanStothers commented on #339
Confirmed with Igor it is okay to change Indy's name to Rueben Bronee. Meeting arranged by Nass

[2022-07-26 23:31] MeghanStothers commented on #339
Updated PIA signed by Rueben and will be saved to the Teams folder .

Our team is waiting for OCIO approved list of gov't domains from Nic Berry and Igor Krasnov about approved gov’t email addresses/domains for sending personal information – captured in pdf versions of the digital telework form – across the internet. They confirmed we are clear to launch on August 2.

Our team has one further piec

[2022-07-26 23:31] #339 closed

[2022-07-27 11:55] kkapoor-fresh commented on #282
The following services have been updated with proper image tags in Dev, test and Prod

- camunda
- web
- webapi
- files
- forms
- analytics

An important point to understand here is that some of the applications services( forms, files and analytics ) are not being built from the "tools" namespace at the first place but rather have their builds running in their respective deployment namespaces(dev,

[2022-07-27 15:42] warrenchristian1telus commented on #282
Thanks @kkapoor-fresh. @will-freshworks @simensma-fresh we should probably discuss the implications of this for future patches, security updates, etc.. I'm concerned that if the images aren't all built in tools that this will cause discrepancies when the others are updated. We are looking at making a version upgrade fairly soon after launch, and hoping to be able to use Snyk and/or Dependabot to m

[2022-07-27 15:57] iman-jamali-fw commented on #441
@warrenchristian1telus
To access public forms you need add `/public` before `/form` to be able to access without login.

DEV and PROD public forms available in below URLs:

[dev] https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/public/form/62d6d736a82d105ff7d5bd1d

[prod] https://digital-journeys.apps.silver.devops.gov.bc.ca/public/form/62d9ca62532635532114cb79

[2022-07-27 16:20] simensma-fresh commented on #282
For sure there's some room for improvement here. I think a ticket to
a) move all the services into our pipelines
b) build using the tools namespace
would be good.

Another thing we could work towards would be to only build our images once. Seeing as we're always deploying to dev -> test -> prod, we could benefit from doing image promotion instead of re-building the services for each environment.

[2022-07-27 17:07] warrenchristian1telus commented on #282
I agree @simensma-fresh - not sure about the image promotion though. I like the sound of "instant" promotion. Just need to be careful of sharing the images, and doing reversions, etc.. We can certainly discuss. I just think if we want to change the process, we'll need to consider it for all projects. So far it seems that individual build / deployment is the safest bet (although it's also the slowe

[2022-07-27 17:29] Stella-Archer opened #463 "Log out flashes task page"
Background: In TEST when I,  as a user logo out, the task page flashes for a fraction of a second before log out is complete

Steps to Reproduce: go to the telework in TEST
hit log out button

Actual Behavior:  task page flashes for a fraction of a second before log out is complete

Expected Behaviour: logo would be direct and complete form the forms page

Environment: TESThttps://images.zenhubuse

[2022-07-27 17:31] Stella-Archer commented on #463
![1EDC0AA5-9470-4DC7-A810-B92DE162DF4A.GIF](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/7774aefe-8ad6-4cd7-9b25-f53aa1c08932)

[2022-07-27 17:33] iman-jamali-fw opened #464 "Connection issue between `Camunda` listener and `Webapi`."
There is an issue that prevents applications to be deleted in `webapi` when a `DeleteSubmissionListener` in Camunda calls the `delete` endpoint in `webapi`.

Applications are the metadata around submissions that, amongst other things, refer to submissions. Please note that #416 and #417 will delete submissions with no issue.

I tried to debug the issue, and it seems like a bug in the form-flow-ai

[2022-07-27 17:43] warrenchristian1telus commented on #463
Just a note on this - I think the main issue is that if you immediately log back in, you end up on the tasks page (rather than just a flash of it).

[2022-07-27 18:01] Stella-Archer commented on #463
yes ok I've got that to reproduce, wierd yeah, your correct @warrenchristian1telus the UX should be the user returning to where they where last, I will try to document the logging back in immediately experience

[2022-07-27 18:31] Stella-Archer commented on #463
[Uploading... 2A33EE12-0D19-4A7D-92F1-26155B78CD8A.GIF]

[2022-07-27 18:33] warrenchristian1telus commented on #463
It seems the task page is the default "Home" page. I think this is why it's going there. Not only on log out, but also if you just go to the site root at https://digital-journeys.apps.silver.devops.gov.bc.ca.

[2022-07-27 19:02] MeghanStothers commented on #432
LAUNCH PLAN - Updated Wednesday July 27 at noon

**WEDNESDAY**

- 2:30: Simen to push all work to prod (Simen to advise Stella when this work is complete)
- Stella's team (Don, Hasan, Alex, Stella) to test prod environment and identify bugs, write/update tickets
- Meghan/Stella to prioritize work/tickets

****THURSDAY****
- (ALL) 8:45 a.m. scrum - highlight priority work for dev team, identify bar

[2022-07-27 20:55] Stella-Archer opened #468 "Validation Error is not visible to manager submitting"
Background: As a manager I am trying to submit my decision on a telework agreement. I don't notice or see the 'agree' button.
Nothing appears to happen when I submit as the validation error is happening in an area I can't see on the screen

Steps to Reproduce: process a telework form for more than 3 days, manager does NOT select 'agree' but does everything else correctly, then submits... it look l

[2022-07-27 21:00] Stella-Archer commented on #468
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/de53b6b8-fb17-4203-bac0-d653b8ed4d78)

[2022-07-27 21:15] alexandralloyd opened #470 "TELEWORK: Confirmation page edits"
Can you please make the following changes to the employee confirmation page? (see attached image for examples)

i)	Remove period after "decision" in second bullet point
ii)	Files not file (second bullet point)
iii)     Second bullet point should be divided into two separate bullets (so one bullet for each sentence)
iiii)	add period to last bullet

![image.png](https://images.zenhubusercontent.com/

[2022-07-27 21:40] iman-jamali-fw commented on #464
Turned out, the latest form-flow-ai (v4.0.5) has already addressed this issue. The changes were included in our project and fixed the issue.

[2022-07-27 21:43] iman-jamali-fw commented on #417
I tested this on DEV and incompleted submissions were deleted after one day.
The two applications below are incomplete and were deleted after two days.
![Screen Shot 2022-07-27 at 2.41.34 PM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/91928d4a-6374-4148-b9fa-603fbead84b7)

[2022-07-27 21:43] david-sabadash commented on #106
@Stella-Archer just wanted your feedback on this, i managed to get the new logo working (and tested in DEV, no longer breaking the environments)

Img 1: shows the logo in-line vertically with the navigation tabs, matching the left hand side padding, and with reduced space between the logo and the Digital Journeys text.
Also added a very slight padding around the top and bottom of the WIW logo, oth

[2022-07-27 21:47] david-sabadash commented on #106
only real 'style complaint' that i have is that the WIW text is bottom-justified whereas the DJ text is center-justified. Not a huge thing, just bugs me.

[2022-07-27 21:52] Stella-Archer commented on #106
yeah it would be great to get them working together a bit better

[2022-07-27 22:08] david-sabadash commented on #106
Thoughts? it was a lot easier to edit the logo than it was to move the DJ text
![image.png](https://images.zenhubusercontent.com/62b33d00d955ad0dc2151a98/78469d46-dca5-420c-9141-7e75b8aab95a)

[2022-07-27 22:44] Stella-Archer commented on #106
that looks amazing!

[2022-07-27 22:50] Stella-Archer commented on #106
Oh Nooo turns out we cant change anything about the logo so don't worry about tplavement just go back to thhe unaltered version of WIW :( ![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/6b51cdd0-9456-4c9e-96c6-6bafe9f2c6c4)

[2022-07-27 22:59] DonMoffatt commented on #360
I added the following approved domains to both the employee and manager email validation. Employee is also necessary as copies of confidential information could otherwise be sent there if it was changed from the default.

"inbcinvestment.ca",
"bcassessment.ca",
"bc-ebc.ca",
"bcehs.ca",
"bcest.bc.ca",
"bcfarmreviewboard.ca",
"BCFerryCommission.ca",
"bchumanrights.ca",
"bciif.ca",
"bcldb.com",
"bcli

[2022-07-27 23:24] david-sabadash commented on #106
Ahh my apologies. Exactly why i wanted to pass it by you before committing  any changes. Thanks for the feedback!

[2022-07-28 00:04] simensma-fresh commented on #468
Would a solution where we scroll you to where the error message is be OK here?

@david-sabadash If so, There might be some built in functionality we can use for this: https://github.com/formio/formio.js/issues/3650

[2022-07-28 00:04] MeghanStothers opened #472 "Telework: In PROD manager does not receive ADM "proof" artifact"
Asa manager who has approved an employee's 3+ days Telework request, I would like to get an email confirmation message with a pdf and an artifact (.msg or pdf etc.)

ADM "proof" attachment is missing

[2022-07-28 01:10] david-sabadash commented on #470
Updated as per the ticket description. also caught issue IV on the 'approval' version of the page
![image.png](https://images.zenhubusercontent.com/62b33d00d955ad0dc2151a98/d078b187-65d8-4b05-920a-662036eb82ee)

[2022-07-28 02:02] iman-jamali-fw commented on #413
Telework entries were cleaned up in TEST and PROD.
For future reference, in order to clean up the entries, look into the `form_process_mapper` in the `webapi` Postgres DB.

And to prevent the issue, we should update the forms instead of deleting and creating a new ones.

[2022-07-28 15:48] #390 closed

[2022-07-28 16:03] HasanSifat commented on #330
Tested successfully in PROD!

Ready to be closed

[2022-07-28 16:30] HasanSifat commented on #326
Tested successfully in PROD!

[2022-07-28 16:31] HasanSifat commented on #164
Tested Successfully in PROD

Ready to be closed

[2022-07-28 16:32] HasanSifat commented on #353
Tested successfully in PROD

Ready to be closed

[2022-07-28 16:35] MeghanStothers opened #474 "Telework: Devs to confirm production link for users to access Telework form at launch"
As a user, I will need access (link) to the Telework form.

Simen, can you please confirm this is the correct link we can use and sent to the communications team:

https://digital-journeys.apps.silver.devops.gov.bc.ca/form/62c8796e532635532114a70b

[2022-07-28 16:39] simensma-fresh commented on #474
@MeghanStothers Can confirm it is indeed the correct link

[2022-07-28 16:39] HasanSifat commented on #157
Tested successfully in PROD

Ready o be closed

[2022-07-28 16:41] HasanSifat commented on #367
All attachments are present and attached while carrying out tests in PROD.

@simensma-fresh one issue I noticed is that in the final confirmation email to employees after a decision has been made for 3+ days, the adm attachment is not there with the email, the form is only attached. However, the supervisor's final email has the adm approval attachment.

[2022-07-28 16:42] HasanSifat commented on #327
tested successfully in PROD

ready to be closed

[2022-07-28 16:43] HasanSifat commented on #424
Tested successfully in PROD

Ready to be closed

[2022-07-28 16:43] #424 closed

[2022-07-28 16:43] #327 closed

[2022-07-28 16:43] #326 closed

[2022-07-28 16:43] #157 closed

[2022-07-28 16:43] #353 closed

[2022-07-28 16:43] #164 closed

[2022-07-28 16:44] HasanSifat commented on #425
All attachments are present and attached while carrying out tests in PROD.

@DonMoffatt  one issue I noticed is that in the final confirmation email to employees after a decision has been made for 3+ days, the adm attachment is not there with the email, the form is only attached. However, the supervisor's final email has the adm approval attachment.

[2022-07-28 16:45] HasanSifat commented on #356
Tested successfully in PROD

ready to be closed

[2022-07-28 16:45] HasanSifat commented on #355
Successfully tested in PROD

Ready to be closed

[2022-07-28 16:46] HasanSifat commented on #354
Tested successfully in PROD

Ready to be closed

[2022-07-28 16:46] #330 closed

[2022-07-28 16:46] #413 closed

[2022-07-28 16:52] DonMoffatt commented on #354
Tested in Prod.

[2022-07-28 16:53] DonMoffatt commented on #355
Tested in Prod.

[2022-07-28 16:53] DonMoffatt commented on #356
Tested in PROD.

[2022-07-28 16:59] alexandralloyd commented on #470
@david-sabadash Changes not present in any environment (screenshot from DEV). Moving back to in progress
![TEst.PNG](https://images.zenhubusercontent.com/61e5c37effa2c8288c8c07d1/dc8db039-0fe0-45e5-a9a1-b543c2aaf402)

[2022-07-28 17:04] DonMoffatt commented on #354
@simensma-fresh It worked in PROD for Hasan but when the three of us retested around 10 a.m. none of us got emails as either employee or manager.

[2022-07-28 17:05] DonMoffatt commented on #425
@simensma-fresh It worked in PROD for Hasan but when the three of us retested around 10 a.m. none of us got emails as either employee or manager.

[2022-07-28 17:06] iman-jamali-fw commented on #416
Tested again on DEV, both submission and application delete successfully after completion. Ready to close.

[2022-07-28 17:07] iman-jamali-fw commented on #464
Applications are deleted successfully per my last test on DEV. Ready to close.

[2022-07-28 17:12] iman-jamali-fw commented on #417
Created two incompleted submissions. They should be deleted tomorrow at the same time. Will update the ticket once it hit a one-day duration.

![Screen Shot 2022-07-28 at 10.11.00 AM.png](https://images.zenhubusercontent.com/61ddc48547f476ed3f35ca28/c7eb68c8-4a80-4051-844b-8093d78181a3)

[2022-07-28 17:17] david-sabadash commented on #470
Apologies, i forgot about the split deployments update we made at the end of last week. deployed it to DEV but not test. pushing right now and will move the tickets once it's done

[2022-07-28 17:24] alexandralloyd commented on #470
@david-sabadash Thanks, let me know when it's ready for test. Also, could you change 'personal' to 'personnel' please?

[2022-07-28 17:26] #355 closed

[2022-07-28 17:27] #354 closed

[2022-07-28 17:28] HasanSifat commented on #324
Page is finalized. CMS Page still in QA

Ready to be closed once page goes live

[2022-07-28 17:28] #459 closed

[2022-07-28 17:37] HasanSifat commented on #367
Tested successfully in PROD

ready to be closed

[2022-07-28 17:37] HasanSifat commented on #425
tested successfully in PROD

ready to be closed

[2022-07-28 17:37] #425 closed

[2022-07-28 17:49] HasanSifat commented on #360
Tested successfully in DEV!

Ready to be pushed to TEST and PROD!

[2022-07-28 18:08] HasanSifat commented on #416
Confirmed with @iman-jamali-fw that issue has been solved and tested.

Ready to be closed

[2022-07-28 18:08] #416 closed

[2022-07-28 18:09] HasanSifat commented on #472
tested and successfully in PROD!

ready to be closed

[2022-07-28 18:09] #472 closed

[2022-07-28 18:18] #464 closed

[2022-07-28 18:26] iman-jamali-fw commented on #275
There was a newer version up recently:
https://github.com/AOT-Technologies/forms-flow-ai/releases/tag/v4.0.6

[2022-07-28 18:47] MeghanStothers commented on #474
@Simen - thanks - I have shared the link with the communications team and ours

[2022-07-28 19:08] #356 closed

[2022-07-28 19:09] HasanSifat commented on #470
Hi @david-sabadash, Still don't see any of these changes in DEV/TEST

[2022-07-28 19:29] simensma-fresh commented on #470
@HasanSifat I've confirmed that the changes are in dev/test. You might have to do a hard refresh of the page to make sure you're not viewing a cached version

[2022-07-28 20:24] simensma-fresh commented on #336
@HasanSifat This has now been deployed to dev/test

[2022-07-28 20:27] HasanSifat commented on #106
Tested successfully in DEV & TEST

Ready to be transferred to PROD

[2022-07-28 20:27] HasanSifat commented on #336
Tested successfully in DEV & TEST

Ready to be transferred to PROD

[2022-07-28 20:28] HasanSifat commented on #470
Tested successfully in TEST & DEV

Ready to be transferred to PROD

[2022-07-28 20:28] #474 closed

[2022-07-28 20:30] MeghanStothers commented on #432
Nice work! @simensma-fresh @iman-jamali-fw are you/team still okay to push last bits to prod at 2 p.m. today?

[2022-07-28 20:31] DonMoffatt commented on #428
Testing completed by @HasanSifat, Alex and me today.

[2022-07-28 20:31] #428 closed

[2022-07-28 20:33] MeghanStothers commented on #323
@HasanSifat @Stella-Archer I have edited this doc (lightly) and offered it to PIE/policy team for their thoughts about where to post this, I propose we keep this as an internal document for now and share more broadly if we get feedback this technical info is useful for ADMs and/or users.

I will close this ticket for now and re-open if needed

[2022-07-28 21:10] simensma-fresh commented on #432
@MeghanStothers We just pushed the latest changes to prod!

[2022-07-28 21:19] DonMoffatt commented on #432
Hi @simensma-fresh Will the email address validation scripts be added in soon?

[2022-07-28 21:21] simensma-fresh commented on #432
Hi Don,
I’m just out for a little bit. Feel free to copy the validation scripts over from dev. We have not made any other modifications to the forms.

From: DonMoffatt ***@***.***>
Date: Thursday, July 28, 2022 at 2:20 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Simen Smaaberg ***@***.***>, Mention ***@***.***>
Subject: Re: [bcgov/digital-journeys] Telework launch plan (Issue #432)

Hi @simensm

[2022-07-28 21:33] HasanSifat commented on #426
Epic completed!

[2022-07-28 21:33] #426 closed

[2022-07-28 21:33] #470 closed

[2022-07-28 21:33] HasanSifat commented on #470
Tested successfully in PROD

[2022-07-28 21:34] DonMoffatt commented on #432
@simensma-fresh I've added the validation in PROD.

[2022-07-28 21:34] HasanSifat commented on #106
Tested successfully in PROD!

[2022-07-28 21:34] #106 closed

[2022-07-28 21:45] DonMoffatt commented on #432
Hi Simen,

Does this code need to be in both the employee email and manager email box?

if (input) {
  valid = data.email?.toLowerCase() !== input?.toLowerCase() ? true : 'Employee and manager cannot have the same email';
}

Don

From: Simen Fivelstad Smaaberg ***@***.***>
Sent: July 28, 2022 2:22 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Moffatt, Don PSA:EX ***@***.***>; Assign ***@***.***>

[2022-07-28 22:15] simensma-fresh commented on #432
Yup! It will be in both places. I just verified the logic in prod and should be working correctly now

From: DonMoffatt ***@***.***>
Date: Thursday, July 28, 2022 at 2:45 PM
To: bcgov/digital-journeys ***@***.***>
Cc: Simen Smaaberg ***@***.***>, Mention ***@***.***>
Subject: Re: [bcgov/digital-journeys] Telework launch plan (Issue #432)
Hi Simen,

Does this code need to be in both the employee em

[2022-07-28 22:16] DonMoffatt commented on #432
Thanks - we tested the validation and it works.

[2022-07-28 22:18] HasanSifat commented on #360
Tested successfully in PROD!

Ready to be closed

[2022-07-28 22:18] DonMoffatt commented on #432
@simensma-fresh @iman-jamali-fw As noted in an email sent just now, we are having a problem with the workflow becoming disconnected from the form in PROD.

[2022-07-28 22:18] HasanSifat commented on #336
Tested successfully in PROD!

[2022-07-28 22:18] #336 closed

[2022-07-28 22:19] #360 closed

[2022-07-28 22:33] MeghanStothers commented on #324
Content has been reviewed and approved by PIE/Sean - okay to close this ticket.

FAQs are already live.

[2022-07-28 22:33] #324 closed

[2022-07-28 22:38] DonMoffatt commented on #432
@simensma-fresh notified me by email that he was able to reconnect it using a workaround and will fix the bug next week. For now, we are good to go for launch and our team will stay out of the form.

[2022-07-28 23:07] MeghanStothers commented on #432
@simensma-fresh @warrenchristian1telus Will you be able to clean our earlier submissions today?

[2022-07-28 23:15] MeghanStothers opened #479 "Telework: Post-launch wording changes in emails and confirmation messages"
**User Story**
“As form owner (Policy), I would like to change all instances of the work "rejected" to "denied" where they appear in the confirmation messages, pdf name, email messages and html content/resources.

This work can be carried out post-launch as it is not a priority and should be bundled with all changes.

Please add any changes here to be carried out as possible

**Tasks**
1) find ins

[2022-07-28 23:18] MeghanStothers commented on #323
I made further edits and Josh has also identified edits needed for consistency.
This is a good resource t have on hand, we'll keep as an internal reference for now and modify  and distribute based on any client and/or user feedback.

closing ticket for now

[2022-07-28 23:18] #323 closed

[2022-07-28 23:19] HasanSifat commented on #337
tested as complete

[2022-07-28 23:19] #337 closed

[2022-07-28 23:19] HasanSifat commented on #331
tested as complete

[2022-07-28 23:19] #331 closed

[2022-07-28 23:25] simensma-fresh commented on #432
@MeghanStothers I've just been working with @warrenchristian1telus to debug some issues with the load test in prod - which will carry on into tomorrow. I would suggest that I remove the old submissions Monday night to make sure any further submissions get cleaned out as well

[2022-07-28 23:29] MeghanStothers commented on #432
@Simen yes! I am grateful you turned your efforts to the debugging issues. Thank you. The old submissions can be removed on Monday night (or Tuesday morning if it doesn't take a long to do - your call a we have some flexibility with the 11 a.m. launch time. Let us know an approximate time we can start testing tomorrow so we don't interfere with anything and see the latest.

[2022-07-29 17:29] warrenchristian1telus commented on #282
Hi @kkapoor-fresh - it's looking good for the main images. Noticed a few missing tags:

    - forms-flow-analytics (+-adhoc-worker, scheduled-worker, etc.)
    - forms-flow-forms

Also, forms-flow-files is a DC in dev, but also a StatefulSet (everywhere else + dev) - I think the DC can likely be deleted from dev. Please do that if it's appropriate.

[2022-07-29 17:46] DonMoffatt opened #481 "TELEWORK: Workflow becomes detached from form"
Background:
- [ ] On Thursday July 28 the @DonMoffatt and others on the PSA discovered that the workflow is becoming detached if a forms designer edits the form in PROD. This happens even if we are not attaching the workflow. We alerted Simen, who quickly reproduced the problem and found a temporary workaround.

Steps to Reproduce:
- [ ] Put the form in edit mode. Exit without making changes (or m

[2022-07-29 18:19] warrenchristian1telus commented on #282
I'm going to move this back to In Progress, but wanted to note that I think this is far enough along to safely go-live, and continue development.

We should ensure that all images have been tagged before attempting a version upgrade, but there is no immediate requirement for that.

[2022-07-29 18:20] warrenchristian1telus commented on #282
I will also remove the MVP tag, for the reason mentioned above.

[2022-07-29 20:13] Stella-Archer commented on #463
when a 'regular user goes to the form in PROD they do not see the admin tab YAY
when the log back in after signing out they are directed to the /task tab - boo
.....But they don't see any tasks as they have not been assigned any, so not a security issue but it should be cleaned up for improved user experience and when they log back in they should be returned to the place where they logged out form

[2022-07-29 21:45] iman-jamali-fw commented on #417
Both in-completed applications were successfully deleted:
https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/application/6134
https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/application/6135

@HasanSifat Ready to be closed :)

[2022-08-02 15:37] david-sabadash commented on #468
Investigation ccomplete on this task; currently the component we need access to in order to implement this functionality is not exposed to us in our implementation. None of the currently available properties of the Form component accurately allow us to catch validation events and focus them on the screen. In order to implement this functionality, a full reimplementation of the Form component would

[2022-08-02 15:41] MeghanStothers commented on #321
Moving this one to the icebox for now until we get direction from PIE/Sean/Rueben about what functionality is required in phase 2.
My recommendation: do research to get a clear idea/requirements of what ADMs would like before we build and/or adjust the current workflow.

[2022-08-02 15:49] MeghanStothers commented on #432
Simen reports that all previous submissions have ben cleaned out from prod and he will do test and dev.

[2022-08-02 15:56] MeghanStothers commented on #481
Only happens in Prod

[2022-08-02 17:45] MeghanStothers opened #483 "Telework: PDF email attachment - date field is blank"
As a user employee filling and submitting the Telework form, I enter the date in the form, but when I open the emailed pdf attachment, the date isn't showing in the date field.

[2022-08-02 19:18] MeghanStothers opened #484 "TOOL: List of ministry names in forms as a custom component for forms designer"
**ticket needs a re-write**
currently the only working end point is for the ministry names
needs more work on back-end to introduce different end points
ticket #361 is related to a similar kind of feature

As a form-filler, I want access to a current drop-down list of the correct names of all BC gov't ministries.

Acceptance Criteria:

- [x] A pre-populated field.

- [x] An editable filtered drop-

[2022-08-02 19:22] MeghanStothers commented on #484
Hasan and Don were able to manually add new ministry and adjust the name of another one, based on feedback we got from a user as follows:
"Under the ‘ministry’ drop down menu, it currently gives an option for Forests, Lands, Natural Resource Operations and Rural Development. This ministry was reorganized in April 2022 and is now two separate ministries: the Ministry of Forests, and the Ministry of

[2022-08-02 19:22] MeghanStothers commented on #484
Hasan and Don were able to manually add new ministry and adjust the name of another one, based on feedback we got from a user as follows:
"Under the ‘ministry’ drop down menu, it currently gives an option for Forests, Lands, Natural Resource Operations and Rural Development. This ministry was reorganized in April 2022 and is now two separate ministries: the Ministry of Forests, and the Ministry of

[2022-08-02 19:32] MeghanStothers commented on #432
Our Telework form invitation is now live on Compass: https://compass.gww.gov.bc.ca/the-telework-agreement-goes-digital/

So many hands and hearts (end editorial eyes and enthusiasm) went into this collaboration.  The devs are amazing!

My deep thanks for your parts in our success. We’ll have a debrief as soon as tomorrow afternoon, and we’ll watch our new digital journeys inbox for feedback.

Than

[2022-08-02 19:35] MeghanStothers commented on #432
Issue #1 ministry name change - manually added, tested by Don and Hasan. Longer-term solution needed to keep ministry names current in the tool.
Issue #2 date field blank in pdf copy of agreement - Simen did a quick workaround to lock-in the current date and we'll look for a longer term fix. Workflow updated.

Thanks all!

[2022-08-02 19:35] #432 closed

[2022-08-02 22:13] warrenchristian1telus commented on #432
Hi @MeghanStothers - I would think that this could be pulled from HR data regularly, to automate the process. I'm not sure, but it looks to me like [api.rsc/Datamart_BCIB_PeopleSoft_PS_BUS_UNIT_TBL_HR/](https://analytics-api.psa.gov.bc.ca/apiserver/api.rsc/Datamart_BCIB_PeopleSoft_PS_BUS_UNIT_TBL_HR/) may be a good candidate.

Maybe @simensma-fresh or @iman-jamali-fw could comment more on what it

[2022-08-02 22:39] simensma-fresh commented on #432
It would indeed be possible to pull this from the ODS if such endpoints exist. The Form builder does support fetching dropdown options dynamically, so with and endpoint added to our API to proxy the call through (for auth) this should work fine.

A reusable "ministry selection" dropdown would also be possible to add to the Form Builder in case a similar dropdown will be needed in future forms.

[2022-08-02 23:41] MeghanStothers opened #485 "Welcome to the team"
Welcome!

[2022-08-03 15:37] MeghanStothers commented on #481
@simen can we/dev team connect about a longer term fix for this one?

[2022-08-03 15:40] iman-jamali-fw commented on #481
@MeghanStothers the fix for this issue is in PR review.

[2022-08-03 17:14] Abuchana opened #487 "Update to current version of formsflow.ai"
this is going to be an ongoing epic to ensure the latest version of formsflow is maintained for the Digi Jrny platform

This epic is a place to host a checklist for updating to the latest version of formsflow-

**In progress**
1. run vulnerabilities check (we need to decide which platform/application to use- Red Hat vs Snyk)
2. carry out end to end test of all live forms
and rest TBD

[2022-08-03 17:16] Abuchana opened #488 "Update to formsflow.ai 4.0.6"
**Description**
The Digitial Journeys project is currently running on formsflow v4.0.4. A need for features in the latest formsflow version has been identified, so a version upgrade is needed.

**Acceptance Criteria**
- Our repo is updated to be based on formsflow v4.0.6
- Telework form AND workflow is tested to be working as before the upgrade.

[2022-08-03 20:11] MeghanStothers commented on #485
I can see Bhumina, and I cannot find fazil-ey

[2022-08-03 20:38] Abuchana commented on #485
I was able to add him, it might have been a timing thing.

[2022-08-03 20:40] Abuchana commented on #485
This makes me think... we should have an onboarding Epic and create issues for each new person with a checklist of actions required...

[2022-08-03 21:35] MeghanStothers opened #490 "Devops: Get a dedicated SSL cert for Prod"
From Nick Corcoran @ CITZ reached me in teams

Hi Meghan. I just saw the announcement of the Digital Telework Agreement (Great Job) and see that you're the product owner. I would ask that you obtain a dedicated TLS (SSL) certificate for your production site, and not use the platform wildcard certificate. The wildcard cert is fine for non-prod, but all prod sites need a dedicated certificate. These

[2022-08-03 21:44] Abuchana commented on #490
I have email Igor to assist

[2022-08-03 23:27] HasanSifat commented on #484
Two regularly updated list of ministry names-
1. https://timepay.gov.bc.ca/ps_help/index.php?title=Ministry_Listing
2. https://timepay.gov.bc.ca/ps_help/index.php?title=Ministry/Business_Unit_List

[2022-08-03 23:51] MeghanStothers commented on #484
Let's consult with Simen if we can dynamically update the drop-down menu in the tool/platform using the links above.

See ticket #432  with Simen's comment:

"It would indeed be possible to pull this from the ODS if such endpoints exist. The Form builder does support fetching dropdown options dynamically, so with and endpoint added to our API to proxy the call through (for auth) this should work f

[2022-08-04 16:30] iman-jamali-fw commented on #481
Deployed and tested successfully on DEV.

[2022-08-04 16:36] simensma-fresh commented on #488
Approach for getting this upgrade done has been discussed with @iman-jamali-fw and @david-sabadash. We have a path forward that should make such upgrades easier in the future, and improve our development processes

[2022-08-04 17:08] iman-jamali-fw commented on #481
Deployed and tested successfully on TEST. Will move the ticket to Review to be tested by the PSA team.
The telework form was cleaned in the TEST's DB.

[2022-08-04 17:09] iman-jamali-fw commented on #481
@DonMoffatt @Stella-Archer
This is ready to be reviewed on TEST. If it was successful please let me know to move it to PROD.

[2022-08-04 17:48] Abuchana commented on #488
@simensma-fresh, do you have a ballpark ETA for completion? Are we looking at a few days, weeks...?

[2022-08-04 17:53] simensma-fresh commented on #488
@Abuchana We put it at a 13 as it's got some risks associated with it. I think a few days would be a reasonable guess here for the majority of the work, with the potential for some fixes needed after testing out the solution in dev.

@david-sabadash Is taking the lead on this one, the rest of the team should be able to continue work in parallel

[2022-08-04 18:34] Abuchana commented on #488
@simensma-fresh, sounds good, thank you!

[2022-08-04 19:03] DonMoffatt commented on #481
Hi @iman-jamali-fw  Hasan and I tested this in TEST. Please apply the fix to PROD. Can  you also tell us what broke after it appeared to work on PROD before 10? Please IM me/Hasan or Stella if something critical like that breaks in addition to tagging us here.

[2022-08-04 19:14] MeghanStothers commented on #481
Updated to high priority

[2022-08-04 20:19] iman-jamali-fw commented on #481
@DonMoffatt @HasanSifat It is deployed to PROD. Can you test to see if the issue resolve?

Cleanup on PROD requires more work, I'll work on a strategy and will discuss it with @simensma-fresh before moving forward. In the meantime, the issue of workflow detached on form update/save should never happen again with this fix.

@DonMoffatt Can you update me on what happened in the morning so I can inve

[2022-08-04 22:13] MeghanStothers opened #491 "TOOL: External links"
**User Story**
“As a Forms Designer, I want all links to open in a new window, so I don't need to hand code this in forms flow, and I can be sure users are not popped out of the form when they check out a link.”

**Acceptance Criteria**
All links open in a new window
in all environments

[2022-08-04 22:15] MeghanStothers commented on #485
Hey @ccoldwell I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/digital-journeys-61c10fe84c8bcb001491c5f5/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-08-04 22:15] #485 closed

[2022-08-04 22:21] MeghanStothers commented on #431
Warren confirmed we are clear to close this ticket. Would be good to capture learnings from this testing: pdf testing

[2022-08-04 22:21] #431 closed

[2022-08-04 22:22] MeghanStothers commented on #479
Meghan to connect with Lee-Ann

[2022-08-05 14:47] iman-jamali-fw commented on #481
@DonMoffatt
Take a look at this PR which will explain the issue you faced and a fix.

https://github.com/bcgov/digital-journeys/pull/493

[2022-08-05 16:27] warrenchristian1telus commented on #490
@MeghanStothers I would recommend requesting the following sub-domains prior to requesting certificates for the same:

- digital-journeys.gov.bc.ca
- analytics.digital-journeys.gov.bc.ca
- api.digital-journeys.gov.bc.ca
- camunda.digital-journeys.gov.bc.ca
- files.digital-journeys.gov.bc.ca
- forms-flow.digital-journeys.gov.bc.ca

I'm wondering if this may be better off as an Epic, so that we can

[2022-08-05 17:58] iman-jamali-fw commented on #481
Successfully deployed and tested on DEV and TEST by me. Ready to be deployed to PROD.

[2022-08-05 18:06] iman-jamali-fw commented on #481
@DonMoffatt @HasanSifat
The fix is ready for test on the TEST. I created multiple entries in `form-process-mapper` table in DB to simulate the PROD. Please take a look and let me know if it works as expected, then I'll be able to deploy it to PROD.

[2022-08-05 20:26] HasanSifat commented on #481
Tested successfully in PROD! Ticket ready to be closed

[2022-08-05 20:58] simensma-fresh commented on #481
@MeghanStothers We're good to go from our end to push the fix for this to production. Let me know if we have the go-ahead for making it live, and we'll trigger the release

[2022-08-08 15:47] HasanSifat commented on #483
Simen getting this fix into DEV today (8th august)

[2022-08-08 15:48] HasanSifat commented on #481
Ready to be deployed to PROD!

[2022-08-08 15:49] HasanSifat commented on #488
Further updates coming Tuesday

[2022-08-08 15:59] HasanSifat commented on #484
Match the domain names with the list of organizations. Possible solution to combine list from multiple sources. BI table of Ministry names are pulled from Peoplesoft. Patrick confirmed that the BI list is regularly updated.

[2022-08-08 16:16] HasanSifat opened #494 "TEST TICKET: No issue"
**User Story**
As an employee who wants to submit a telework form, I want to see the print button.

**Tasks**

- [ ] Add the print button/icon

**Acceptance Criteria**

- [ ] This ticket will be complete when the print button is visible

[2022-08-08 16:28] #494 closed

[2022-08-08 16:48] T854236 commented on #484
Please review endpoint https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_meta_dept_org_levels/

[2022-08-08 19:46] simensma-fresh commented on #481
@HasanSifat @DonMoffatt @MeghanStothers We've now deployed this to production

[2022-08-08 22:50] HasanSifat opened #495 "TEST SL Review: No issue"
**User Story**
A short, simple description of a feature or issue told from the perspective of the user.
“As a manager, I want to save my submissions so I can read my previous submissions and review them with my supervisor.

**Tasks**

- [x] there needs to be a save button

- [x] an ability/interface to reload my previous submissions

**Acceptance Criteria**
As a manager i have a button to save my

[2022-08-09 14:18] kkapoor-fresh commented on #282
@warrenchristian1telus The im ages for forms-flow-forms and forms-flow-anlytics(adhoc workers, scheduled-workers etc. ) seem to be have the the proper  "production" tag attached to their images in the image stream as well as the deployment configs. Could you please point me to the namespace/build/deployment where you are seeing the discrepency. ?

[2022-08-09 15:41] HasanSifat commented on #481
Tested successfully in PROD! Ticket ready to be closed

[2022-08-09 15:47] #417 closed

[2022-08-09 15:48] HasanSifat commented on #484
Iman consulting with Simen to start work on this one

[2022-08-09 15:53] HasanSifat commented on #484
A possible filtered list where users can type in an option from a list of preselected options

[2022-08-09 15:56] HasanSifat commented on #483
A pre-populated field will need to be NOT DISABLED!

[2022-08-09 16:00] HasanSifat commented on #488
Tentative time for testing is late Thursday or early friday

[2022-08-09 17:30] warrenchristian1telus commented on #282
@kkapoor-fresh here is what I meant by the tags not being used:

![image](https://user-images.githubusercontent.com/70002196/183720145-c94d9e0c-9981-455e-a0d6-1b9f9ed18bc6.png)

[2022-08-09 18:11] HasanSifat opened #496 "TELEWORK: Access to dashboard for stats on submissions"
**User Story**
As a business analyst in the program team, I want to see live stats on in progress and complete submissions within the digital journeys platform so I can get create reports and send these stats to executives for various decision making.

**Tasks**

- [x] Provide access to the program team in PSA to these stats/dashboard

**Acceptance Criteria**
- [x] This ticket will be defined as c

[2022-08-10 14:28] iman-jamali-fw commented on #484
We have a way forward to implement this feature.

I'll working on the `webapi` to add an endpoint fething ministry names. @MeghanStothers and @T854236 to help me figure out which fields in the ODS endpoints to extract.

On the TOOL (frontend web), we'll extend a new Formio component based on [`Select` component](https://github.com/formio/formio.js/blob/9aab5c421a023e4280de897a01cd92393c62d745/src/

[2022-08-10 15:51] HasanSifat commented on #496
Possible dashboards to explore- Redash and Camunda Admin. Don is an admin on the Camunda side from PSA.

[2022-08-10 16:55] monikamodgil opened #497 "Test issue"
Test issue

[2022-08-10 16:57] freshjwarren opened #498 "Test issue"
Testing ZenHub access

[2022-08-10 16:57] #498 closed

[2022-08-10 16:58] monikamodgil opened #499 "Test issue"
Test issue

[2022-08-10 20:02] T854236 commented on #484
It will depend on what you are looking to show.  The [Datamart_Telework_meta_dept_org_levels/](https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_meta_dept_org_levels/) is a hierarchy.

[2022-08-11 14:47] simensma-fresh commented on #483
@HasanSifat I think we can close this one, I don't think there's much else to do here

[2022-08-11 16:05] #483 closed

[2022-08-11 20:07] #15 closed

[2022-08-11 20:07] MeghanStothers commented on #490
Check Peter Velinov

[2022-08-11 20:11] MeghanStothers commented on #468
Decision to keep it open at today sprint review - Simen might have a workaround and will connect with David.

Another option is a pop-up message
Another option is the red box at top of page that lists errors.

[2022-08-11 20:12] MeghanStothers commented on #441
@warrenchristian1telus are we okay to close this one? Thanks

[2022-08-11 20:12] #285 closed

[2022-08-11 20:12] #286 closed

[2022-08-11 20:12] #287 closed

[2022-08-11 20:13] MeghanStothers commented on #282
@simensma-fresh to check in with Kunal

[2022-08-11 20:15] MeghanStothers commented on #496
Don is able to pull the those numbers.

Simen Might make a simple dashboard in re-dash

[2022-08-11 20:18] MeghanStothers commented on #479
@MeghanStothers please assign to writing team to find instances

[2022-08-11 20:25] MeghanStothers commented on #310
@Hasan to re-write the ticket and then assign to Simen for estimate - thanks

[2022-08-11 20:27] #70 closed

[2022-08-11 20:35] MeghanStothers commented on #371
Looked at this ticket on August 10.

Current state is a workaround to back-up current versions. We would like to have a long term version. Not ideal and it is only for front-end.

Simen noted this/some of this work might be included in the road map. Might be worth to reach out for formsflow team.

Iman noted the latest version of FF has added versioning "form mapper" to map. Doesn't map the form.

[2022-08-11 20:43] MeghanStothers commented on #463
Bug depends on which type of role you have.
Next steps: check with Warren to see if this ticket has some implications

[2022-08-11 20:49] MeghanStothers commented on #361
Can this situation/requirement be put into Rocketchat (Devops, Dev exchange) assuming that some other areas of govt have worked in this issue

[2022-08-11 20:52] #44 closed

[2022-08-11 20:53] MeghanStothers commented on #163
closed after group review Aug 10

[2022-08-11 20:53] #163 closed

[2022-08-11 20:54] #131 closed

[2022-08-11 20:59] MeghanStothers commented on #311
Currently we have a one hour timeout - we will re-open if needed

[2022-08-11 20:59] #311 closed

[2022-08-11 22:19] DonMoffatt commented on #484
@iman-jamali-fw I am checking with the BI group at the BCPSA to see if they can limit the incoming list to Public Service Act groups.

[2022-08-11 22:28] DonMoffatt commented on #496
There are still issues in interpreting the Camunda dashboard. I've asked @simensma-fresh about it via email.  There are multiple instances that say "Telework Agreement", each with a total. I do not know if I need to pick on (the largest) or add them all together, or a subset.

![image](https://user-images.githubusercontent.com/97757401/184253167-0ca534e0-4c56-4b27-bdb5-a582dd80c140.png)

[2022-08-11 22:35] DonMoffatt commented on #496
Note: @simensma-fresh responded by email to say it is the aggregate of these.

[2022-08-11 22:39] #496 closed

[2022-08-12 15:55] MeghanStothers commented on #484
Don got a spreadsheet that is missing some groups (and not full names). List is not complete and we would like it to be automatically updated when there are new ministry names.
Iman got access to endpoint with thousands of names and difference. values.

Iman to work with Don to ask about best way to get a specific list.

[2022-08-12 15:58] MeghanStothers commented on #488
David to work with Simen on update planning. Testing to begin early next week.
David has a version of earlier version saved.

[2022-08-12 17:25] MeghanStothers commented on #484
At Aleesa's suggestion, I reached out to Nina Moore and Virnia who are working on an ABC project and might have access to a recent source of ministries and ABCs. See Stella for details as I looped her into my request and situation:  "As an interim step, we have been manually adding ministry/ABC names and domains into our Telework form. We are looking for a more sustainable and accurate way to acce

[2022-08-12 17:33] HasanSifat commented on #310
The ticket has been re-written with proper acceptance criteria. Over to you @simensma-fresh for re-assignment,

[2022-08-12 22:15] MeghanStothers commented on #490
Request submitted by email to IT Service desk/Peter Velinov with a request to follow up with Stella as I am away until August 29.

[2022-08-13 00:31] MeghanStothers commented on #490
Can someone assist and send off the iStore request to an approver? Thank you. I am not able to attach the email, so I'll send it to Alison and Stella by email.

[2022-08-15 15:42] iman-jamali-fw commented on #484
Per discussion with @DonMoffatt , we identified [the closest endpoint](https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_peoplesoft_bus_unit_tbl_hr/) that returns ministry names. However, the endpoint can improve the list's accuracy.

Regarding the implementation, the backend endpoint to the ODS endpoint for extracting the names is complete.
We'll see if @bhumin-fw or I w

[2022-08-15 17:28] DonMoffatt commented on #484
I received the spreadsheets from Nina via Stella and found there are also issues with their list, such as including the Ministry of Housing, which has been rolled under AG. I updated Steven Jones today (Monday). I am creating a comparison of sources to highlight all issues.

[2022-08-16 12:13] kkapoor-fresh opened #507 "Create image change triggers for Digital journeys deployments"

[2022-08-16 14:05] simensma-fresh commented on #306
@MeghanStothers I believe this is an issue on the OCIO side, think there's not much we can do about this

[2022-08-16 15:37] warrenchristian1telus commented on #361
@MeghanStothers I have made a form with similar functionality before, for TL Forms. Rather than searching for an approver, it provides a list to select from available approvers. To get this to work, we just need the relevant data in CDATA. In the other system, we queried PeopleSoft directly, so we should be able to mimic that without too much effort. Just not sure if it already exists in there. I'

[2022-08-16 15:42] warrenchristian1telus commented on #463
@MeghanStothers I don't think the bug depends on the role, but just redirects to "/task" when the Sign Out button is clicked. My assumption is that this is due to "/task" being set as the home / main page. Maybe @simensma-fresh or @iman-jamali-fw can confirm? I'm wondering if we can just remove the URL change on Sign Out...or edit the default home page to make it more appropriate for form submitte

[2022-08-16 15:51] warrenchristian1telus commented on #441
@MeghanStothers We could close this one, but I think we will want to improve our load tests to handle PDF generation, etc. which was identified as a gap in the last test, and allowed for some issues in production. We could create a new issue for that, as initial tests were completed. We also have an epic at #357 we can use (or close).

I think there will be a few tasks involved in getting a more c

[2022-08-16 16:39] HasanSifat commented on #361
@warrenchristian1telus ticket updated with acceptance criteria that we discussed in our scrum today.

[2022-08-17 20:14] MissionT commented on #479
This is to confirm 3 instances of the word “Rejected” were found.
Please change the word “Rejected” to Denied in the following areas:
1.	Drop-Down Form Field: The value stored in the Decision field located at the bottom of the form.
2.	The supervisor’s response notification email:
Subject Line – is fine – “…. Has been denied..”
However, the name of PDF attachment  has “_Rejected” and the body of t

[2022-08-18 16:25] HasanSifat opened #518 "TELEWORK: Implementation date field is empty for certain use cases"
Background: As a manager/supervisor getting new applications to come in from my employees, I can see the implementation date field to be empty

Steps to Reproduce: It has been difficult to reproduce this result as we don't have enough information from the user who flagged this bug. From the program team, we anticipated a possible workflow issue,

Actual Behavior: inside the tool, when the manager

[2022-08-18 16:27] Abuchana commented on #490
Peter Velinov and Kunal have connected with Chris Brown at TES to assist in getting these SSL certs.

[2022-08-18 17:27] DonMoffatt commented on #488
Results from testing in the DEV environment today:
-  signature date field appears empty in PDFs sent to employee and supervisor. This is true later in the process as well (final copies). It is true for Occassional, <3 days, and 3+ day cases.
- implementation date field is empty inside the tool when manager's are reviewing an application.

[2022-08-18 20:26] HasanSifat commented on #441
A comprehensive system-wide load test will require much higher effort. This ticket can now be closed and a new epic to be made to address Load testing

[2022-08-18 20:32] HasanSifat commented on #463
The user to be routed back to the sign in page after clicking on sign out button.
After logging back in again, where would users be routed back to? One possible location would be the last form the users left from.

[2022-08-18 20:43] HasanSifat commented on #518
![MicrosoftTeams-image (9).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/34bab9cb-87db-4a7c-a6f9-bcb8fde49869)

[2022-08-18 20:52] T854236 commented on #361
There is an endpoint that may already contain the information requested:https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demo/.  Shared information to Warren.

[2022-08-18 20:55] #357 closed

[2022-08-18 20:57] HasanSifat opened #519 "Digital Journeys Application Load Testing"
All issues and tasks related to an on-going system load testing of the Digital Journeys Platform

[2022-08-18 20:59] #495 closed

[2022-08-18 21:29] david-sabadash commented on #488
**Results from general testing**

UI Bugs:

- View/Edit form buttons are partially cut off
![Screenshot 2022-08-16 231003.png](https://images.zenhubusercontent.com/62b33d00d955ad0dc2151a98/395e6f5e-3bad-4151-bdd9-481e121f6def)

- Applications page text wrapping bug
![Screenshot 2022-08-16 232552.png](https://images.zenhubusercontent.com/62b33d00d955ad0dc2151a98/80e2f94a-485e-4e63-bedd-e6d7d63e6f38

[2022-08-18 21:44] DonMoffatt commented on #518
Chris and I tested the form in PROD at 2 p.m. PDT with all three use cases (Occasional, < 3 days, 3+ days) and all looked fine (no missing information) and the supervisor/manager interface had no missing.

[2022-08-18 21:45] MissionT opened #520 "Telework Form - Edit text by removing 'and agree' in the Agreed by manager section."
Background:
 A few employees selected the wrong manger on the Telework form. The supervisor would like to reject the forms,
however the supervisor must click "Agreed by manager" tick box; when the task should be to reject the request - not agree to it.

Steps to Reproduce:
This is simply a wording issue that can be easily correct  by removing the words 'and agree' from the sentence below:
" I have

[2022-08-18 22:22] fazil-ey opened #522 "SL Review: Providing access to nominated Band 4 leaders"
We intend to allow a small set of nominated Band 4 employees to go through the SL review process.

Questions -
1. If provided a custom list of nominated Band 4 employees, can we ensure that only they are able to access and submit the form.
    - Can we do this using Key Cloak?
    - How big can this list be?
2. Can we make this list dynamic? Can we add or remove employees after the SL review proce

[2022-08-19 15:48] #306 closed

[2022-08-19 18:57] Abuchana commented on #490
Peter Velinov is going to confirm with Chris Brown (TES) whether he is going to create the SSL certs for us or if Peter needs to submit an iStore to OCIO to have them created. Whatever avenue we take, once the certs are received, Kunal will install them for us.

[2022-08-19 19:07] iman-jamali-fw commented on #484
@Stella-Archer Ready for test on DEV.

For testing, you can find two new form components `Remote Select` and `Ministry Select`.
- `Ministry Select`: Just drag and drop it in a form and click save. No configuration is needed, it should work out of the box and load all the ministry names from ODS.
- `Remote Select`: This is a more generic component that can fetch items from DGJ backend endpoints. At

[2022-08-19 21:19] Abuchana commented on #203
Applications tab is not visible to users

[2022-08-19 21:19] #203 closed

[2022-08-19 21:27] Abuchana commented on #314
On AOT's roadmap for Q4

[2022-08-19 21:49] Abuchana commented on #96
#6 is the only issues left outstanding and only affects the forms designers and can live with it

[2022-08-19 21:49] #96 closed

[2022-08-19 21:52] Abuchana commented on #371
The team is manually saving copies of versions to the Teams folder.
AOT has this on their roadmap for later this year
CHEFS has this in their version already

[2022-08-19 21:52] #371 closed

[2022-08-19 21:56] #39 closed

[2022-08-19 21:56] #78 closed

[2022-08-19 21:57] #31 closed

[2022-08-19 21:57] #76 closed

[2022-08-19 21:57] #27 closed

[2022-08-19 21:58] #45 closed

[2022-08-19 21:58] #110 closed

[2022-08-19 21:59] #134 closed

[2022-08-19 21:59] HasanSifat opened #525 "TOOL: "Metrics" dashboard inside the tool"
All tickets related to the "Metrics" Dashboard will go in this epic

[2022-08-19 21:59] #46 closed

[2022-08-19 22:00] #141 closed

[2022-08-19 22:01] #497 closed

[2022-08-19 22:01] #499 closed

[2022-08-19 22:02] Abuchana commented on #430
@will-freshworks, Hi Will, can you please confirm this should be a task for the Digital Journeys team as it seems out of context? Thank you!

[2022-08-19 22:06] #372 closed

[2022-08-19 22:07] #281 closed

[2022-08-19 22:07] #115 closed

[2022-08-20 03:40] #112 closed

[2022-08-20 03:52] #108 closed

[2022-08-20 04:04] Abuchana commented on #65
@kkapoor-fresh and @warrenchristian1telus, can you indicate whether this is something that still needs to be done and if so, who, how, and when? If not, can you close it?

[2022-08-22 11:17] kkapoor-fresh commented on #65
@Abuchana The mongo DB backups are up and running in Dev, Test and Prod. So, we should be good to close this ticket.

[2022-08-22 15:13] Abuchana commented on #65
@kkapoor-fresh, thanks. Kunal, I'll close it!

[2022-08-22 15:13] #65 closed

[2022-08-22 17:52] will-freshworks commented on #430
Hi @Abuchana. This is part of the DevOps task list for this project. We needed to get backups of the database for Keycloak automated in case the postgres cluster suffered data loss (very unlikely but better safe than sorry). I actually think @kushal-arora-fw has already finished this task - I will check in with him at our next DevOps stand-up tomorrow morning (PT).

[2022-08-22 18:03] kushal-arora-fw commented on #430
That is right, this can be marked done @will-freshworks. Patroni backups are up and running.

My troubles with Zenhub didn't allow me to change ticket status.

[2022-08-22 18:40] #430 closed

[2022-08-22 18:40] Abuchana commented on #430
Thank you! Closed.

[2022-08-22 22:22] HasanSifat opened #529 "MAT/PAT: List of fields to be pre-populated"
**User Story**
As an applicant filling out the mat/pat form, I want to have all my available basic info pre-populated so that it takes less time for me to fill out the rest of the form.

**Tasks**
Pre-populate the following fields in the form-
1.  Name
2.  Email
3.  Manager Name
4. Email
5.  Ministry Name (drop-down)
6.  Employee ID
7.  Employee status
8.  Home address, city, province, postal code

[2022-08-23 14:40] kkapoor-fresh opened #530 "Setup SSL certificates for Digital journeys"

[2022-08-23 15:15] MissionT commented on #520
This was completed yesterday. The form was tested and the word 'Rejected' has been replaced with Denied. The form was tested after the updates and all looks good.

[2022-08-23 17:07] warrenchristian1telus commented on #507
Image change triggers have been updated in all environments.

[2022-08-23 17:07] #507 closed

[2022-08-23 17:39] warrenchristian1telus commented on #530
Closed a duplicate of #490

[2022-08-23 17:39] #530 closed

[2022-08-23 21:31] MissionT commented on #520
The text has been changed ( removed: and agreed)

[2022-08-23 21:35] #520 closed

[2022-08-23 21:36] HasanSifat commented on #479
Tested in Dev- Successful
test in Test was not successful
No test in Prod or deployment was carried out/made

[2022-08-23 21:51] DonMoffatt commented on #479
@simensma-fresh Would you please look at the issue for the supervisor after submitting the denial in TEST? The screen refreshes and the supervisor stays in the task area. As noted by Hasan, it is working in DEV.

[2022-08-23 23:31] Abuchana opened #531 "TOOL: Information can be displayed in an accordion fashion where additional information is hidden until expanded"

[2022-08-23 23:37] HasanSifat commented on #484
Tested in Dev as a form component. I placed the "Ministry Select" form component in one of the forms. The data is pre-populated and did not require the form designer to custom put in all the options within the field.

Ready to be transferred to TEST

[2022-08-24 13:27] #282 closed

[2022-08-24 14:55] Abuchana commented on #490
Chris Brown (TES) is creating these for us and once completed, Warren and/or Kunal will implement them for us.

[2022-08-24 15:47] Abuchana commented on #368
Was completed during the update

[2022-08-24 15:48] #368 closed

[2022-08-24 17:20] HasanSifat opened #533 "SL Review: Data | Connect API endpoints to front end form"
**User Story**
A short, simple description of a feature or issue told from the perspective of the user.
“As a user, I want the basic information section and Work Relationships and background section of the form to have all the fields in there prepopulated so that it saves time for me to fill out a long form.

**Tasks**
- [ ] The given fields (as highlighted in attached screenshot) are auto-filled

[2022-08-24 17:26] HasanSifat commented on #533
Screenshot to fields![MicrosoftTeams-image (13).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/9e97660e-0dda-4211-ab16-391343655161)

![MicrosoftTeams-image (12).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/f81a7d85-10f6-4407-86e7-2009f857edcd)

[2022-08-24 17:46] HasanSifat opened #534 "Form Save and Edit feature"
This epic is to house all issues related to saving and editing a form for users in the SL review process

[2022-08-24 17:50] HasanSifat commented on #531
Collapsible Panels on the front end of the form have been identified as the feature to go ahead with.

[2022-08-24 17:57] HasanSifat opened #535 "SL Review: Being able to save a form before submission and the form autosaves"
**User Story**
As  a user, I want the ability to save a form through a button before submission and also the form needs to autosave itself anytime any changes have been made.

**Tasks**

- [ ] TBD
@simensma-fresh Please look into this for further discussion. This ticket is related to ticket#109. Thank you :)

**Acceptance Criteria**
This issue can be defined complete when users have a save button

[2022-08-24 18:12] HasanSifat opened #536 "SL Review: Automated feature to have multiple reviewers in one form"
**User Story**
As a leader in the SL review process, I need to have my supervisor and ADM/DM come into the form to review the saved form so that we can continue the conversations offline and the form has the most updated information from each conversation.

**Tasks**
TBD
Another ticket for you to look at @simensma-fresh and we in the team understand this is heavily connected to the save/edit featu

[2022-08-24 18:15] HasanSifat commented on #522
Waiting on decision from SL Review team to be part of MVP for November launch.

[2022-08-24 18:17] iman-jamali-fw commented on #479
@DonMoffatt @HasanSifat
It is fixed and working on TEST. There was a small issue with the `Denial` value on the form. The value was `Rejected` but the new workflow expected `Denial`, I changed that and it is working.

Please note that if you already have already signoff forms that are stuck in the task because of the issue above, you'll probably see three options in the `Decisoin` dropdown. This w

[2022-08-24 18:51] DonMoffatt commented on #479
Thanks @iman-jamali-fw Would you please email me a copy of this updated workflow? Thanks.

[2022-08-24 21:09] HasanSifat commented on #109
@bhumin-fw please put in an estimate

[2022-08-24 21:10] HasanSifat commented on #535
@bhumin-fw please put in an estimate on this ticket

[2022-08-24 21:11] Abuchana commented on #77
@iman-jamali-fw can you please add an estimate for this ticket please? Thanks!

[2022-08-24 21:12] HasanSifat commented on #536
@bhumin-fw please put in an estimate on this ticket

[2022-08-24 21:48] simensma-fresh commented on #535
@HasanSifat I noticed in the formsflow repository that the last couple of days they've added some functionality related to saving submissions as draft. If we have a contact at AoT, I would suggest that we reach out and see if this is a feature they expect to release soon, before we start implement our own version

[2022-08-25 00:58] iman-jamali-fw commented on #518
I was able to reproduce this on TEST (should happen in all environements).
@DonMoffatt @ccoldwell  (cc @simensma-fresh)

It's a timezone issue that happens if the employee and supervisor are in different time zones - at the time that their current date is one day off.
The date field in question has a validation rule that checks for the start date not being the past. The problem occurs when the sup

[2022-08-25 15:46] Stella-Archer commented on #525
Dashboard prototype: https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/insights

Metrics: https://digital-journeys.apps.silver.devops.gov.bc.ca/metrics
Digital Journeys
forms-flow-web

[2022-08-25 15:50] #479 closed

[2022-08-25 16:52] T854236 commented on #361
I believe this is known but sharing again.  The API endpoints have a few options: it can be filtered, options to retrieve subset of properties and group by functions.  More information can be found in the help file: https://cdn.cdata.com/help/BWG/odata/Filtering-Resources.html

[2022-08-25 16:59] DonMoffatt commented on #361
Thanks Patrick. I am checking against other sources today.

[2022-08-25 18:33] simensma-fresh opened #538 "Telework Form - Submission Analytics Dashboard"
**User Story**
As a Digital Journeys admin, I want to be able to view a number of how many submissions there currently are in the system

Acceptance Criteria
- A dashboard is created where the total number of telework submissions is displayed

[2022-08-25 19:20] Stella-Archer opened #539 "Mat/Pat: Differentiate users with multiple roles"
**User Story**
“As a user, I want to have different roles at different times/situations, so I can both submit an application AND review, comment, and approve my employee's applications.”

**Acceptance Criteria**

As an employee, I can see my own in the applications tab
As an employee, I cannot see others' applications
As a supervisor, I am able to see my employee's submissions in the tasks tab
As

[2022-08-25 19:57] warrenchristian1telus commented on #361
I think this should do the trick @DonMoffatt (if we want supervisor name and email). Just need to decide what to do with empty ones. Not sure how common that is for our target audience, but there are 2,931 records with empty emails in the current dataset.

`https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demo/?$select=supervisor_name,supervisor_email&$filter=GU

[2022-08-25 20:07] Stella-Archer commented on #491
Anchor links?

[2022-08-25 20:22] Stella-Archer commented on #518
"Ask Karim"

[2022-08-25 20:25] Stella-Archer commented on #484
Closing and opening up test tix

[2022-08-25 20:54] DonMoffatt opened #540 "BI: Create table of organizations to populate the organization options"
**User Story**
The user expects to see find their organization listed. Therefore we need to have a complete list of all organizations that for which the Telework Agreement is applicable.

**Tasks**
- [ ] Create a master list of all applicable organizations.
- [ ] Put this list in a table and populated the dropdown from this table.

**Acceptance Criteria**
- [ ] The list should contain all organiza

[2022-08-25 20:56] DonMoffatt commented on #479
The table side of this is referred to in ticket #540

[2022-08-25 21:11] DonMoffatt commented on #484
See ticket #540

[2022-08-25 21:30] #531 closed

[2022-08-25 21:35] HasanSifat opened #541 "SL REVIEW: Make the "+" sign on collapsible panels to be more visible"
**User Story**
As a user and forms designer, I want to be able to clearly see the + sign on the collapsible panels so that it is more visible and accessibility standards are maintained.

**Tasks**

- [ ] Make the + sign contrast higher (make it white) with the blue background color

- [ ] Or possible make it bigger whichever works

**Acceptance Criteria**
When the above tasks are complete and the

[2022-08-25 21:42] HasanSifat opened #542 "Email and PDF attachments with emails"
All tickets related to emails being sent out from the form and the pdf attachments with these emails

[2022-08-25 23:02] Abuchana opened #543 "Telework: Update "ADM" text to "ADM (or delegate)" anywhere it appears on the form"
**User Story**
As a user, I want it to be clear that my ADM **or a delegate** can action my request, so that my request is not waiting for an ADM specifically.

**Tasks**
- [ ] Confirm with Business (Sean Gadsby) that this change is approved
- [ ] Change text anywhere it says "ADM" to "ADM (or delegate)"
- [ ] Test

**Acceptance Criteria**

- [ ] I can see "ADM (or delegate)" anywhere on the form

[2022-08-26 02:07] iman-jamali-fw commented on #518
@Stella-Archer The issue is fixed on DEV and ready for testing.

How to reproduce the issue on TEST (which doesn't have the fix yet):
1. Submit a form
2. log in as the manager of the submitted form (or you could assign yourself as the manager in step 1)
3. Under `Review and Process Applications`, open your assigned submission and look for the `Date/duration of agreement`.
  3.1. If you view the su

[2022-08-26 15:55] DonMoffatt commented on #540
Patrick, you have a much better understanding of the tables than I do: we need sources that could be combined to produce the output described. I'm not sure they exist.

[2022-08-26 16:06] T854236 commented on #540
The BI org. hierarchy is exposed via https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_meta_dept_org_levels/.

If you are looking to build/maintain a different list, it might be easier to have the source tables in the app and if BI needs it, can pull it down for reporting purposes.

[2022-08-26 17:30] DonMoffatt commented on #540
I don't yet have access to those tables. I will soon, however (next few days). The team would like wrap this up by next Tuesday but I am not sure that is likely (I may not have access to those tables by then, for example).

[2022-08-26 17:49] T854236 commented on #540
Are you referring to access to the API endpoint or tables in the form app?

I can share credentials of API DEV if you don't have it.

[2022-08-26 17:52] DonMoffatt commented on #540
I'll be clearer: I tried logging in directly to the link you provided and did not have the credentials. I will soon have access to the data warehouse in my new role.

[2022-08-26 18:44] Abuchana commented on #539
Consider the impacts of making the task tab and applications tab visible to users

[2022-08-26 18:46] Abuchana commented on #535
AOT has a "draft" feature in the next version

[2022-08-26 19:34] T854236 commented on #522
There is an exposed API endpoint that lists all employee demographic information.  To get band 4, it is in the job description.  Please filter against the attribute jobcode_desc with "Band 4".

[2022-08-29 15:49] #484 closed

[2022-08-29 16:14] MeghanStothers commented on #543
Related: Given we want to ensure consistent language in the tool and in the Careers & MyHR content, I have asked Josh/team to:
1) look for any instances of "ADM" in FAQs or content
2) replace as "ADM or delegate"

[2022-08-29 20:26] MissionT commented on #543
The wording changes are completed on the form. The pop-up wording on the form generated when the supervisor accepts the telework form however needs to be updated. I've sent the request to Josh to see if he can update the wording. Chris

[2022-08-29 23:03] Stella-Archer commented on #310
nice! this looks great In DEV please move to TEST then PROD
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/9164391e-313e-4d3b-8b7d-33fb37636890)

[2022-08-29 23:10] HasanSifat commented on #468
Tested successfully in DEV. Ready to be transferred to TEST

[2022-08-29 23:20] DonMoffatt commented on #540
I created a master list of organizations to include from information provide by Sean at Policy, along with a list of names that are either outdated or from organizations that are defunct.  I am using these to vet data sources. I ask Tyler King to look for a table of current Public Service Act organizations. I also asked Amy Lee at the FMO about where the FMO got the information for creating the ta

[2022-08-29 23:27] Stella-Archer commented on #468
yay this w![PushedUptoMessage.gif](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/608f65f6-fb62-4725-b093-f109f5724d9e)orked great in DEV move it over please :)

[2022-08-29 23:30] Stella-Archer commented on #543
good catch Chris the confirmation messages where build by DEV/Dave we need to reassign to Bhumin or Iman

[2022-08-30 15:30] Stella-Archer commented on #518
YAYAYAYA
this worked!
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/13342028-da67-46b1-91bb-93f9084d5481)
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/1d9937c3-9272-440b-8cf5-25997a60abb1)

[2022-08-30 15:44] DonMoffatt commented on #540
Amy Lee (Manager of Leave and Payroll Accounting, Financial Management Office) confirmed with Nina Moore that the list of Public Service Act organizations did not originate in a table from the BI data warehouse: "Nina confirmed that there is no table that pulls the organizations covered under the Public Service Act that she is aware of. The matrix she originally provided is from CRM ( RightNow) da

[2022-08-30 15:50] Abuchana commented on #468
Can be moved to Test

[2022-08-30 15:52] Abuchana commented on #310
Can be moved to Test

[2022-08-30 15:53] Abuchana commented on #518
Hasan to take another look and work with Iman

[2022-08-30 15:56] HasanSifat commented on #518
Submission ID#6186 was submitted 17 hrs ago and the implementation date is coming up as empty in that submission. Not sure why this submission is coming up as empty ![MicrosoftTeams-image (14).png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/f89753e7-fe14-452d-afb1-0ea38f17b924)

[2022-08-30 16:45] Abuchana commented on #490
@kkapoor-fresh is there any progress on this one? Last I saw Chris was creating the certs for us...

[2022-08-30 16:51] kkapoor-fresh commented on #490
@Abuchana I haven't heard back from Chris on this yet. I have sent a followup email to him right away

[2022-08-30 18:48] MeghanStothers commented on #538
Numbers of completed and in progress Telework forms are needed for weekly reporting to exec (every Thursday).
I have requested access to BP (Stephen Jones) who will grant Stella, Hasan, Meghan access as soon as possible.
In the interim, Alison can provide those numbers, but for efficiency, we'd like the DJ program area team to have direct access.

[2022-08-30 18:55] MeghanStothers commented on #366
@warrenchristian1telus - Hello and welcome back - I see we wanted to wait on this one post-launch. Is there an update on this ticket? I'm thinking we'll roll this ticket into our work with Senior Leaders team.

[2022-08-30 19:47] iman-jamali-fw commented on #491
@Stella-Archer The changes are on DEV and TEST for your testing.

Testing instruction:
- Please open this form on [DEV](https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/630e533b1c6951caa7ca6559) and [TEST](https://digital-journeys-test.apps.silver.devops.gov.bc.ca/form/630e65dcdb0b297ffa5bfd1d)
- You'll see two links, first configured to be opened in a new tab, and second, configured

[2022-08-30 20:16] warrenchristian1telus commented on #366
@MeghanStothers We have a meeting this afternoon to discuss the upgrade path. Just a note that we seem to have 4 active issues around updates: #271, #366, #487, #488

[2022-08-30 20:38] iman-jamali-fw commented on #468
@Stella-Archer @HasanSifat  Ready to be tested on TEST

[2022-08-30 20:39] iman-jamali-fw commented on #310
@Stella-Archer Ready to be tested on TEST

[2022-08-30 21:22] Abuchana commented on #538
@MeghanStothers, I'm wondering if this should maybe be on the Program Board as it's more operational/BI and doesn't really involve the dev - TES team. Thoughts?

[2022-08-30 22:19] DonMoffatt commented on #540
@HasanSifat I've added you as the point of contact from this side. 'Hope that's ok. I will give you some files this week. I hope to stay involved on the other side.

[2022-08-30 23:04] iman-jamali-fw commented on #518
@HasanSifat @Stella-Archer It's now working again on DEV. I also move the changes to TEST so both are ready for the test :)

There were some recent changes on the date component on DEV that broke the fix. I reverted the changes (based on my working instance on my local) on DEV and then did the same on TEST. Both should work as expected.

[2022-08-30 23:17] HasanSifat commented on #491
Tested successfully in TEST and DEV. Ready to be transferred to PROD

[2022-08-30 23:21] HasanSifat commented on #468
Tested successfully in TEST- ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/d569e8fe-5906-41c3-bc01-fa823b2b5c00)

Ready to be transferred to PROD

[2022-08-30 23:22] HasanSifat commented on #518
I've just put in 2 test applications for Stella to review tomorrow.

[2022-08-30 23:44] Stella-Archer commented on #468
Yes, this is Good in TEST please move to PROD![SubmitValidationTEST.gif](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/4a168f77-8470-45aa-a4b7-0eacb573615b)

[2022-08-30 23:46] Stella-Archer commented on #518
thanks @HasanSifat I will test in the AM

[2022-08-31 11:58] bhumin-fw commented on #543
@Stella-Archer
Update text on the confirmation screen.

FYI:
I have updated "ADM" to "ADM (or delegate)" in the form itself too.
In the "manager/supervisor signoff" section -> "agreed by manager" -> "the employee has requested for 3 or more days" -> "Here there are 3 bullet points".
update text in these bullet points.

[2022-08-31 15:33] iman-jamali-fw commented on #533
These are the mapping of the fields in the form and the key of data we're getting from `ODS`. For the missing ones, I'll first look into the ODS [table](https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demo) and if not found it there will talk to @T854236 for the possibility of adding the missing info to the ODS table.
### Employee work relationship and backgrou

[2022-08-31 15:34] MissionT commented on #543
I tested the communication screen and can confirm the ADM (or delegate) has been updated successfully.
I'm closing this ticket. Chris

[2022-08-31 15:34] #543 closed

[2022-08-31 15:47] #538 closed

[2022-08-31 15:47] Stella-Archer commented on #518
Date shows up in both TEST and DEV good to move this to PROD

[2022-08-31 15:49] Abuchana commented on #518
Simen to move to Prod

[2022-08-31 15:59] Abuchana commented on #540
Moving to the Program board

[2022-08-31 15:59] #540 closed

[2022-08-31 16:37] T854236 commented on #533
For branch/division, please have a look at level2_division.

Can you confirm at what lowest level leaders this form is form?  Depending on the level, this will dictate approach in getting the DM and ADM information.  It will most likely be in a separate endpoint.

We will need to check with PS BSAs for the indirect reports if/where it is stored.
For direct reports, a count on the existing endpoint

[2022-08-31 16:50] T854236 commented on #533
Can you define how indirect reports should be counted?  For example, is it the number of employees that report to an employee that reports to a leader?

[2022-08-31 19:16] MeghanStothers commented on #538
Yes- we will create a new tix for the business board

[2022-09-01 00:23] iman-jamali-fw commented on #518
@Stella-Archer @HasanSifat  Moved to PROD. Ready for testing.

[2022-09-01 00:26] iman-jamali-fw commented on #491
Another fix was implemented to only affect the forms links and not the TOOL. Also, the new fix, makes it easier to support internal links for navigation if needed in the future.

[2022-09-01 05:38] MeghanStothers opened #549 "SL Review: Secure authentication/access to the form"
As a forms designer, I want to restrict the access to forms database to a specific list of people.

Tasks-

- [ ] Create list of people

- [ ] add list to keycloak  for restricting access

- [ ] sync this list of people to the SL Review 2.0  form

- [ ] COnfirm this list is available in the Microsoft teams channel

**Acceptance Criteria**
When only the listed people have access to the form

[2022-09-01 15:06] Abuchana commented on #21
Ticket #534 covers this, specifically for the SL Review form

[2022-09-01 15:32] HasanSifat commented on #468
tested successfully in PROD! Ready to be closed ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/4c05d74a-2fc5-440d-a6e2-938ee4632253)

[2022-09-01 15:34] HasanSifat commented on #310
tested successfully in PROD- ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/a9b2645a-23a3-4ae9-a9e0-e7a0ff268977)

[2022-09-01 15:51] MeghanStothers commented on #491
Iman to push to test and assign to Hasan to test

[2022-09-01 16:00] MeghanStothers commented on #533
Decision needed: Can you confirm at what lowest level leaders this form is for? Depending on the level, this will dictate approach in getting the DM and ADM information. It will most likely be in a separate endpoint.

Decision needed to find out if it is technically possible: We will need to check with PS BSAs for the indirect reports if/where it is stored. For direct reports, a count on the exist

[2022-09-01 16:15] iman-jamali-fw commented on #491
@HasanSifat The new fix is deployed to DEV and ready for testing. If you could, please test the links in the Telesowrk form when filling the form and when the manager sign-off as the new fix makes changes to the form. On top of that, you can test it [here](https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/630e533b1c6951caa7ca6559).

Thank you

[2022-09-01 16:20] HasanSifat opened #550 "SL Review: Make supervisor section clearly and visibly differentiated"
**User Story**
As a manager/supervisor I want to be able to clearly see the difference between sections of the form that is for me to fill out and for my employee to fill out so that i know which parts of the form is for me to fill out.

**Tasks**
TBD
- possibly different colored panel headers
- bolded panel/section labels (another option)

**Acceptance Criteria**
This can be defined as complete w

[2022-09-01 16:21] HasanSifat opened #551 "SL Review: Employee sections not fillable to supervisors and vice-versa"
**User Story**
As a user/manager I want to have parts of the form that I can fill out with editable fields. Parts of the form for my supervisor can not be fillable by me and vice versa.

**Tasks**
TBD

**Acceptance Criteria**
when parts of the form specified to the manager/employee are fillable and editable by only the assigned user.

[2022-09-01 18:44] iman-jamali-fw commented on #533
@HasanSifat The currently available fields are added to the DEV and are ready for testing.

[2022-09-01 19:06] iman-jamali-fw commented on #535
I did a quick lookup into the AOT repo and seems like they have implemented the draft feature. Below are two PRs that implement that on API and UI:
- [Draft feature API](https://github.com/AOT-Technologies/forms-flow-ai/pull/617)
- [Draft feature - UI](https://github.com/AOT-Technologies/forms-flow-ai/pull/708)

[2022-09-01 19:16] iman-jamali-fw commented on #522
@T854236 Can please help me find that API endpoint that lists all employee demographic info?

[2022-09-01 19:30] T854236 commented on #522
@iman-jamali-fw https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demo/

[2022-09-01 20:09] MeghanStothers commented on #533
4 fields for Patrick to add to ODS

[2022-09-01 20:21] MeghanStothers commented on #535
Simen suggestion to hold off on next feature update in formsflow.ai - possibly in Sept/October

[2022-09-01 20:31] MeghanStothers commented on #109
Separate ticket is required to handle sign-off and when the workflow should be editable (see Simen)

[2022-09-01 20:45] MeghanStothers commented on #522
Jodi waiting for this decision

[2022-09-01 20:59] MeghanStothers commented on #549
Simen: If it is a small number of people, can be managed by keyCloak

Jodi: People who need access 1,300 people (and 5 and 6) plus nominated band 4 SL

Restrict submissions

[2022-09-01 20:59] MeghanStothers commented on #549
merge ticket with #522

[2022-09-01 21:46] T854236 commented on #522
A few questions as we review some use cases:

- In some cases we see multiple DMs, which one should be returned first?
- Some leader positions may be vacant and there's no ability to get the top tier information when hierarchy is broken.  Is it acceptable that it remains blank?

[2022-09-01 22:57] HasanSifat commented on #533
- Personal information Panel pre-populated with correct info for my profile- ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/68c58700-d66f-45f0-9103-d5c81f8df3b0)

- Employee work relationships panel: 2 fields not pre-populated ![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/51d0d4ba-a5d8-45aa-87c8-dd9b83722bab)

[2022-09-01 23:08] Abuchana opened #553 "Update fromsflow.ai to version 5.0.0"
The Digital Journeys project is currently running on formsflow.ai v4.0.6. A need for features in the latest formsflow version has been identified, so a version upgrade is needed

**Tasks**
1.  Run Snyk on the local code base for digital journeys to identify vulnerabilities
2. Push stable version of the update to DEV

[2022-09-02 15:50] Abuchana commented on #553
Note: Major version update this time may be trickier than the last version update

[2022-09-06 15:37] #518 closed

[2022-09-06 15:37] #468 closed

[2022-09-06 15:53] Abuchana commented on #488
@simensma-fresh can you confirm this has been pushed to Prod?

[2022-09-06 15:55] T854236 commented on #533
With ADM and DM information, can you confirm leaders to be returned when there are multiple ADMs?  For example, an ADM might report to another ADM.  Should ADM return the first one and then the DM (skipping the 2nd ADM).

[2022-09-06 16:49] HasanSifat commented on #533
Tested successfully in DEV. Ready to be transferred to TEST
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/91ce91e6-450f-4ca0-8642-252fd09e4b4a
)

[2022-09-06 16:59] Abuchana opened #554 "Create a PeopleSoft certificate upon form submission"
As a form submitter, I want a certificate to be created in PeopleSoft (My Self-Serve dashboard), so I have proof of completion.

This is a technical request from Ian Hennem. The intention is to not only to create a form but also transactions that equate to a journey.

[2022-09-06 17:01] HasanSifat commented on #491
Tested successfully in DEV. Ready to be transferred to TEST.

[2022-09-06 17:27] iman-jamali-fw commented on #491
@HasanSifat Deployed to TEST and ready for the test.

[2022-09-06 17:28] iman-jamali-fw commented on #533
@HasanSifat  Deployed to TEST and ready for testing

[2022-09-06 21:23] MeghanStothers opened #555 "Telework: Add two bullets to the "Before you begin" section"
As a user, I need key information about the form up front, such as
1) the form cannot be edited after submission
2) you will need to resubmit if you make an error or if your personal information or telework request changes

A/C
Add these two new bullets
- Your agreement cannot be edited after submission
- to update your your telework request (or agreement information), you must resubmit your agree

[2022-09-06 21:24] MeghanStothers commented on #555
I propose we go ahead with the wording for the two points based on user feedback - we will need to run them by Sean/Ken first with an invitation for us to edit the bullets if required.

[2022-09-06 21:46] MeghanStothers commented on #549
We will have to review the (updated) SL authentication requirements to know which groups need access to the form (and which ones should not have access).

[2022-09-06 21:53] MeghanStothers opened #556 "DUPLICATE #130 TOOL: Non-IDIR Access to formsflow tool"
As a program area,  I want the ability to allow secure access to the form/form-building tool without requiring an IDIR .

- Formsflow has a public form option

- embedding form into a  webpage is another option

**Business requirements for this still feature needs discovery**

**Tasks**

- [ ] TBD

**Acceptance Criteria**

- [ ] TBD

To note: We (forms team) is not aware of an immediate need, alth

[2022-09-07 15:40] HasanSifat opened #558 "TELEWORK: Incomplete submissions available to managers review even after 1 month of submission"
Background: Managers have sent messages to the mailbox that they have submissions to review in the task tab that after submitting a decision, the task does not go away. Upon further investigation, it was identified that these submissions were more than a month old

Steps to Reproduce: not too sure how to reproduce this in prod

Actual Behavior: incomplete submissions for review to managers are sti

[2022-09-07 19:38] HasanSifat commented on #541
tested successfully in DEV. Ready to deployed to TEST

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/f83296cb-47bb-4cd2-9e85-3a3c0ca8c718)

[2022-09-07 19:39] HasanSifat commented on #491
Tested successfully in TEST. Ready to be transferred to PROD

[2022-09-07 19:41] HasanSifat commented on #533
Tested successfully in TEST. Ready to be transferred to PROD
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/1d2a7b15-648b-4ddf-8360-1002f8ccf5af)

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/e7740eda-25c7-4745-8a17-ea6db25621da)

[2022-09-07 20:35] HasanSifat opened #559 "TELEWORK: make attachment field not mandatory in manager's sign-off section if denied"
**User Story**
As a manager, I want to be able to deny a submission of the telework form and not have to attach a document if the submission was for more than 3+days. This will allow me to deny applications when an ADM approval was not acquired and the application needs to be denied. However, if the application needs to be approved the attachment field should be mandatory.

**Tasks**
Make the atta

[2022-09-08 15:45] iman-jamali-fw commented on #541
@HasanSifat Deployed to TEST and ready for the test.

[2022-09-08 22:35] HasanSifat opened #567 "TELEWORK: 3+ days of submissions not firing confirmation emails after review from manager/supervisor"
Background: final confirmation emails for 3+ days of telework are not firing after the supervisor has reviewed and submitted a decision

Steps to Reproduce: put in a submission for 3+ days of telework. As a manager/supervisor, review the application and put in a decision. The final confirmation emails for both supervisors and employees with pdf attachments are not received.

Actual Behavior: the f

[2022-09-09 15:29] MissionT opened #568 "Date field not carrying over from employees submission to supervisors copy => 3. Date/duration of agreement."
Background:
We have received inquiries again regarding the Date field appearing empty when the supervisor receives the employees copy.
The date is visible in the employees version but not when it reaches the supervisor/manager.

Steps to Reproduce:
Tested as a supervisor receiving both a 2 day and 3 day submission for approval.

Actual Behavior:
 Both emails request came in a timely matter and wer

[2022-09-12 15:14] MissionT commented on #567
Simen S. fixed this issue on Sept 9th re 3 plus days confirmation emails not being sent; pushed to prod - approved by Meghan.

[2022-09-12 15:48] MeghanStothers commented on #488
Has been pushed to prod

[2022-09-12 15:48] #488 closed

[2022-09-12 15:53] MeghanStothers commented on #533
Simen will deploy to prod when we have more SL tickets - ready to be tested

[2022-09-12 15:55] #533 closed

[2022-09-12 15:58] MeghanStothers commented on #109
Bhumin to move to test, after reviewing a/c especially the application tab. Bhumin to review and update ticket.

[2022-09-12 16:00] MeghanStothers commented on #568
Still under investigation - we are getting reports of some user cases where this is happening.
Date implementation is still there in service side pdf generation.

[2022-09-12 16:24] MeghanStothers commented on #522
Not relevant anymore to SL

[2022-09-12 16:24] #522 closed

[2022-09-12 16:27] MeghanStothers commented on #549
@simensma-fresh Can you set up keycloak so only ADMs can access this form?

[2022-09-12 16:43] fazil-ey opened #570 "SL Review - Post Submission Data hand-off to ODS"
**User Story**
As an ADM, once I have filled in an application I want the data to be transmitted to ODS so that the SHRs have the most updated report to present to execs

**Tasks**
- [x] confirmation message to ADMs after clicking on the button (this is now addressed in ticket#621)
- [x] Data on form submission gets transmitted to ODS

**Acceptance Criteria**
When the ADM is able to data in the SL

[2022-09-12 16:43] fazil-ey opened #571 "SL Review - Multiple Submissions"

[2022-09-12 16:44] #571 closed

[2022-09-12 16:44] fazil-ey commented on #571
Duplicate

[2022-09-12 16:50] HasanSifat opened #572 "SL Review: Ability to search within BC gov by name"
**User Story**
As an ADM filling out the SL review form, I want to be able to search for anyone in the government with his/her name so that i cant easily select the person I want to nominate for the process

**Tasks**

- [x] Hook API endpoints to ODS for idir/employee full name to a text field in the SL review form

- [x] Any input to the field will have drop-down options to select from
- [x] Acce

[2022-09-12 16:54] HasanSifat opened #573 "[NAME OF FORM]: Issue description"
**User Story**
As an ADM after selecting the employee name, I want to see the personal details section of the form for that employee to be pre-populated so that I can confirm that I have chosen the right employee for nomination.

**Tasks**

- [ ] Hook API endpoints to the personal details section

- [ ] All fields in the section get pre-populated with info from the selected employee name field.

*

[2022-09-12 17:02] HasanSifat commented on #536
With the updated process map for SL Review, this feature will not be necessary anymore. closing ticket

[2022-09-12 17:02] #536 closed

[2022-09-12 18:20] MeghanStothers commented on #109
This is a material global change that will involve looking at implications for:
-  the Telework PIA
- the Telework content (in  he tool and Careers & MyHR
- testing for Telework tool
- change management - messaging to the Policy team as well as to users who wrote earlier to say the form must be completed in one session, and there is "no ability to save" go back and edit later

[2022-09-12 18:22] HasanSifat opened #574 "TOOL: Re-introduce Applications tab and test"
**User Story**
As a user filling out any form, I want to be able to see the difference between in-progress applications, rejected ones, approved ones and etc.

**Tasks**

- [x] Reintroduce the applications tab for users for selection on the top menu bar.

- [x] Carry out end-to-end test for testing the page and how it affects the platforms/forms

**Acceptance Criteria**
When the applications tab i

[2022-09-12 18:28] HasanSifat opened #575 "TOOL: Re-introduce the Forms tab for users"
**User Story**
As a user, I want to see a place where all my forms are available for filling out or to start a new application. Enables me to make multiple forms.

**Tasks**

- [x] Reintroduce the forms tab for users for selection on the top menu bar.

- [x] Carry out end-to-end test for testing the page and how it affects the platforms/forms

**Acceptance Criteria**
When the forms tab is availabl

[2022-09-12 18:32] MeghanStothers opened #576 "Telework: Applications Tab and global changes to content, changes/change management"
As the business owner of the Telework form, I want to know about a global change to the "applications" tab and any implications requiring updates to
-  the Telework content (in the tool and Careers & MyHR
- change management - messaging to the Policy team, exec etc.
- as well as to users who wrote DJ team earlier to say the form must be completed in one session, and there is "no ability to save" g

[2022-09-12 18:37] HasanSifat commented on #551
Not reevant for SL Review form after change of process map. Closing ticket

[2022-09-12 18:37] #551 closed

[2022-09-12 18:38] HasanSifat commented on #550
Not relevant after process map update to SL review form. Closing ticket

[2022-09-12 18:38] #550 closed

[2022-09-12 18:44] MeghanStothers opened #577 "Telework PIA; Adjustments needed from Applications tab/Privacy rules in the current PIA"
As a form owner, I want to make sure my PIA is up-to date.

The SL project requires a global change to the tool that will put the "applications" tab in use and allow users to have forms in draft form and go back and edit.

This is change to the current PIA and we will need to work with the privacy office to update the current PIA/make an amendment

[2022-09-12 18:45] MeghanStothers commented on #555
@MissionT Hey, I think this change has been done, right?  If so, we can closet his ticket.

[2022-09-12 18:56] HasanSifat commented on #555
I don't see the bullets in PROD. not ready to close yet

[2022-09-12 19:17] simensma-fresh commented on #549
@MeghanStothers
Maybe! If there's only a limited number of ADMs, we could set up a KeyCloak group that we manually maintain. Otherwise we could look into and see if there's a data-point in the ODS that would give us this information so we can restrict it that way

[2022-09-12 20:01] simensma-fresh opened #578 "KeyCloak Gold Migration"
OCIO Is ending support for their KeyCloak Silver cluster in January 2023, we need to migrate to using their Gold cluster for our IDIR integration before then.

*Acceptance Criteria*
- [ ] As a new user, I'm able to log into the platform using my IDIR
- [ ] As an existing user, I'm able to log into the platform using my IDIR
- [ ] As an existing user, I'm able to see all tasks I previously had acce

[2022-09-13 05:56] bhumin-fw commented on #109
I have added a new workflow for the SL review.
It allows a user to edit the form after submission. Use can see the submitted form with the edit button under the application page.

Note: I did not enable the application link in the navigation bar(535 will allow it to once we start work on that).
Please test this ticket by redirecting to the application page manually. type <domain>/application in th

[2022-09-13 20:29] Abuchana commented on #271
OCIO resources
• OCIO  Vulnerability Patch Standard: https://www2.gov.bc.ca/assets/gov/british-columbians-our-governments/services-policies-for-government/information-management-technology/information-security/defensible-security/ocio_patch_guidelines_-_2021-02-18.pdf

• OCIO Security Standard for Application and Web Development and Deployment: security_standard_application_web_development_deploym

[2022-09-15 15:19] T854236 opened #580 "ODS: Employee record not passed with form submission to ODS/BI"
When the Telework form data is sent back to us, the EMPL_RCD is lost. This makes calculating/assigning the EMPL_RCD tricky especially in the cases where employees have multiple records.

[2022-09-15 15:38] HasanSifat commented on #541
Looking good in TEST. Ticket is ready to be closed as this feature is not required in the updated SL review form.

[2022-09-15 15:48] HasanSifat commented on #109
SL Review 2.0 version is the new form given the updated process map.

Link to new form in DEV- https://digital-journeys-dev.apps.silver.devops.gov.bc.ca/form/62f6a0e509da98bcd4d3d73c

[2022-09-15 15:54] #366 closed

[2022-09-15 20:07] JodiLittle commented on #574
Introduce as is. Look at the applications tab and the feasibility of it. Related to ticket 576.

[2022-09-15 20:46] #541 closed

[2022-09-16 11:48] bhumin-fw commented on #572
@HasanSifat @PatrickAHeath
Explore the below API to fetch employee details.
https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rst#Datamart_PECSF_employee_demo

**question: Can we apply filer on name, first/last name here?**

In this API we can apply filters as per below.
**Search** is a query param, it applies search in all the text fields. like name, supervision name, email, city, position, e

[2022-09-16 13:19] bhumin-fw commented on #573
@HasanSifat
I'm adding a field map from employee API and form data. Please correct me if it does not match.

**Form field: API field**
Employee Number: EMPLID
Employee Position Title: position_title
Employee Work City: input.office_city
Division: level2_division
Branch: level3_branch

For your reference,
We do receive below fields from the API. (I did mask few data with xxx)
Its key value may help

[2022-09-16 13:20] bhumin-fw commented on #109
@HasanSifat
Added new workflow for SL review 2.0 and that link with form in a TEST environment.

[2022-09-16 15:40] iman-jamali-fw commented on #568
The issue was that the `minDate` validation rule was triggered during the pdf generation and didn't let the date value passes to those fields. It only happened when a submission was signed off one or more days after the original employee submission.

It was fixed by in the pdf generation server by removing the `minDate` validation rule.

[2022-09-16 17:28] HasanSifat opened #584 "SL Review: Final Submission button"
**User Story**
A final submission button for January 20th so that all contents/data on the form is sent to ODS for BI to generate reports

**Tasks**

- [ ] Confirm data on the form gets transmitted to ODS

**Acceptance Criteria**
Once the users are not able to edit the form after the final submit button

(MIGHT NOT BE NEEDED AT ALL/ We are considering to not have a submit button at all)

[2022-09-16 21:43] iman-jamali-fw commented on #568
@HasanSifat Deployed to DEV, ready to be tested.

[2022-09-20 15:53] T854236 commented on #572
Using the $filter function of the API service allows better control on what fields to filter vs. the search function.  As you have discovered, it will search for all fields and return records that matches the criteria.

[2022-09-20 16:01] bhumin-fw commented on #572
@T854236 filter does not allow a LIKE kind of query on the string value. And if possible then I want to know that keyword(that search in the field as LIKE in SQL)
it works with a short form like eq (equal), or gt (greater than).
In employee search, we will have not a full name to match using eq. We have to pass a partial name and expect to autocomplete result on it(LIKE query in SQL).

[2022-09-21 15:52] Abuchana commented on #568
Simen to push to Prod

[2022-09-21 15:53] #491 closed

[2022-09-22 16:06] simensma-fresh commented on #568
@HasanSifat This has now been deployed to production

[2022-09-22 16:58] notjustinchoy commented on #572
Please try this: https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demographic?$search='insert partial name'
This endpoint has two differences in comparison to Datamart_Telework_employee_demo:
1. Only 1 row is returned per employee (even if they have concurrent positions).
2. Only the name column is searchable.  Using the $search filter function translates to a L

[2022-09-22 21:04] iman-jamali-fw commented on #553
Link to all the new features in v5:
https://github.com/AOT-Technologies/forms-flow-ai/releases/tag/v5.0.0

[2022-09-23 14:21] iman-jamali-fw commented on #553
Deployed to DEV and ready for testing

[2022-09-23 15:57] HasanSifat commented on #568
tested successfully in PROD! Ready to be closed

[2022-09-23 18:53] HasanSifat opened #592 "TELEWORK: Key Cloak mapping for users who have changed idir/email"
Background: As a manager who has recently changed my idir name/email address, i am not able to access the applications that are submitted to my new email/idir

Steps to Reproduce: somewhat complicated but here are the steps-
1. login to formsflow with the previous email/idir for the manager
2. change email/idir
3. Make new submissions to the new email/idir for the manager
4. log in to the new emai

[2022-09-23 20:03] MissionT commented on #553
Stella and I tested the telework agreement for: 2 days, 3+ days, and occasional agreements. Everything looks good; no issues were generated.

[2022-09-23 20:37] Abuchana commented on #553
That's great news, thank you for testing it and the update!
@iman-jamali-fw and @simensma-fresh, what comes next, push to Prod? Timing?

[2022-09-23 21:04] iman-jamali-fw commented on #553
Regarding the next steps, one question would be if the team wants the new draft feature enabled in PROD.

[2022-09-23 21:07] Abuchana commented on #553
@iman-jamali-fw if pushed to Prod, draft would automatically be applied to TW? If so, not yet I'd say.

[2022-09-23 21:09] iman-jamali-fw commented on #553
@Abuchana  We can disable it on PROD if you want everything in v5 except the draft (which would require some prep work).

[2022-09-23 21:23] MissionT commented on #553
UPDATE: I tested this in the test environment and realize this should have been tested in DEV. Doing that now.

[2022-09-23 21:27] Stella-Archer commented on #553
I'm not seeing the Draft test page
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/a6daef38-d4a5-4f0a-aba0-6ab8226f28b6)

[2022-09-26 15:57] MissionT commented on #553
Testing is complete  - please let me know when this can be closed.

[2022-09-26 16:17] MeghanStothers commented on #580
@T854236 Hi Patrick - can we connect about this ticket so I can understand timelines and if this can be pulled into the backlog. Thanks. Do we need Steven Jones for this if this involves the dashboard?

[2022-09-26 16:18] MeghanStothers commented on #576
Hasan has set up meeting for October 27 to review the implicatiosn of the upgrade and write new tickets as needed.

[2022-09-26 16:23] MeghanStothers commented on #559
This is a process problem missed during initial development. We need to have application logic. Chris to investigate and think about the logic and the connect with a dev.  We don't want people to upload a doc in order to deny them - this is a usability issue.

[2022-09-26 18:58] Stella-Archer commented on #572
we've got the ok signal from the PIA people to hook up the end points & test

[2022-09-26 18:59] Stella-Archer commented on #573
we have the green light to hook up the end points

[2022-09-27 15:59] iman-jamali-fw commented on #553
@Stella-Archer To have draft, you first need to start a new form (Telework), wait for a few seconds, and then a draft version of that form is saved and will be accessible under /draft page.

[2022-09-27 21:36] MeghanStothers opened #597 "TOOL: Forms Tab | Add description under title"
As someone in the form dashboard, I want a clear label (and description of the "Forms tab" to know where I am in the tool environment

**Tasks**
1_ Add a description under "Forms" headline as follows: "This is where you can complete and submit new forms

Acceptance Criteria
When the forms tab has a description under the title

[2022-09-27 21:42] MeghanStothers opened #598 "TOOL: Drafts Tab | Remove Draft ID column and change Draft name column to give more info"
As a user, the draft id column does not give me any useful information. The draft name column should also so "Telework Agreement for XXXXX"/ SL Review form for XXXXXXX", depending on a specific field in particular to that form.

Tasks

- [x] Remove Draft ID column

- [x] Change/add new cloumn to say  "Telework Agreement for XXXXX"/ Senior Leadership Review form for XXXXXXX"

For telework: field na

[2022-09-27 22:00] MeghanStothers opened #599 "Tool: Application tab | change "new" status of forms to say "pending""
As someone going into the forms tool I want to see the correct status of my forms

Dev Tasks
Change status of "new" applications to "pending"
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/b8a1b56e-04f1-43ab-8837-f999418f88dc)

[2022-09-27 23:03] HasanSifat opened #600 "TOOL: Forms Tab | Change Operations column name"
**User Story**
As a user in the forms tab, the "operations" column name needs to say "actions" so that it is clear what I can expect to do here.

**Tasks**
Change Operations column name to say "Actions"

**Acceptance Criteria**
When the column name has been changed

[2022-09-27 23:20] HasanSifat opened #601 "TOOL: Drafts Tab | Add delete drafts button under action column"
**User Story**
As a user, I want the ability to delete draft forms

**Tasks**

- [x] Add delete button in UI for Drafts tab

- [x] Make sure deleted drafts get wiped from database in back-end

- [ ] A pre-confirmation window/message after the delete button has been clicked on- "Deleting this draft will eliminate the form and all existing information on it from the database. "

- [ ] A confirmation

[2022-09-27 23:23] HasanSifat opened #602 "TOOL: Drafts Tab | Add button in top menu bar for "Draft Forms" tab"
**User Story**
Asa a user, I want the draft forms tab available in the top menu bar

**Tasks**

- [x] Add button to "Draft Forms" tab in the top menu bar

- [x] Remove drafts tab under applications

**Acceptance Criteria**
When the draft forms tab is available from the top menu bar

[2022-09-27 23:25] HasanSifat opened #603 "TOOL: Drafts Tab | Add description to Drafts tab under title"
**User Story**
Asa user i need to know the definition and purpose of the drafts tab

**Tasks**

- [x] Add description "All applications/submissions that have been started by the user but not yet submitted" under title

**Acceptance Criteria**
When the description has been added under the title

[2022-09-28 00:54] iman-jamali-fw commented on #558
**The issue**
There are a number of incompleted submissions in PROD that are older than 30 days old but have not been removed.

**Result of testing two scenarios**

I tested to see if deploying a new Camunda model cancels the timer that triggers the removal of incomplete submissions. My result shows that it **won't cancel the timer and removal works as expected**.

I also tested to see if stopping

[2022-09-28 15:53] MeghanStothers commented on #555
@MissionT Hi Chris - are we able to close this ticket?

[2022-09-28 16:23] HasanSifat commented on #555
added to DEV and TEST!

[2022-09-28 17:02] iman-jamali-fw commented on #553
@MeghanStothers @Stella-Archer
To move v5 to Prod, you need make a decision whether to have draft feature for Telework enabled or not. To help you decide, here are some steps we can take:

1. We can globally disable draft feature with no effort involved.
2. We can toggle draft per form, other words, only disable it for the Telework form. This will require some effort, I estimate it to be **3**.
3.

[2022-09-28 18:01] iman-jamali-fw commented on #570
Hi Patrick @T854236,
Can you help me with this task of sending SL Review data to ODS?

Please let me know what you need from me to have this data stored in an ODS endpoint?

I'd imagine that you need a table of the fields (name, type, require/optional) from me? Maybe in an excel sheet like the one for Telework.

And do you think, similar to Telework, two endpoints for test and prod are good enough

[2022-09-28 18:26] T854236 commented on #570
@iman-jamali-fw
Hi Iman,

yes please provide list of columns names, data types, length for each, allow nulls or not.  Excel sheet will work great.  Yes I think an endpoint to start for each environment should work.

[2022-09-28 18:37] HasanSifat opened #604 "Tool: Application Tab | Remove Application ID column and change Application name column to give more info"
As a user, the application id column does not give me any useful information. The application name column should also so "Telework Agreement for XXXXX"/ SL Review form for XXXXXXX", depending on a specific field in particular to that form.

Tasks

- [ ] Remove Application ID column

- [ ] Change/add new cloumn to say  "Telework Agreement for XXXXX"/ SL Review form for XXXXXXX"

- [ ] Change name o

[2022-09-28 18:40] HasanSifat opened #605 "TOOL: Applications Tab | change name of applications tab"
**User Story**
As a user, the name applications tab does not give me enough clarity.

**Tasks**
- [ ] change name of the applications tab to "Submitted Forms"

**Acceptance Criteria**
When the tab title name has been changed

[2022-09-28 18:41] HasanSifat opened #606 "TOOL: Applications Tab | Add description to Application tab under title"
**User Story**
Asa user i need to know the definition and purpose of the applications tab

**Tasks**

- [ ] Add description "All applications that have been submitted. Includes pending for review, approved/denied, resubmit, etc." under title

**Acceptance Criteria**
When the description has been added under the title

[2022-09-28 18:46] HasanSifat opened #607 "TOOL: Applications Tab | Remove drop-down for Application status"
**User Story**
As a user, the filtering option through application status adds more complexity and confusion.

**Tasks**

- [ ] Remove the drop-down filtering option

**Acceptance Criteria**
Once the drop-down filtering option has been removed

[2022-09-28 18:50] HasanSifat opened #608 "TOOL: Applications Tab | Remove link to drafts tab within applications tab"
**User Story**
As a user, I want all the options for the tabs on the top menu bar. The drafts tab within the applications tab is confusing

**Tasks**

- [x] Remove link to drafts tab/button from within applications tab

*Already have a separate ticket for adding the drafts tab on the top menu bar

**Acceptance Criteria**
When the drafts tab button in the applications tab has been removed

[2022-09-28 18:52] HasanSifat opened #609 "SL Review: Delete button for submitted applications"
**User Story**
As an ADM who has already submitted an SL Review form. I might want to go back to the submitted form and delete it instead of editing it.

**Tasks**

- [ ] Add delete button beside edit for all re-submit status applications

**Acceptance Criteria**
When the delete button has been added

[2022-09-28 18:54] HasanSifat opened #610 "SL Review: Change "resubmit" status name to "Submitted""
**User Story**
As an ADM, the re-submit status is confusing. The term "submitted" makes more sense

**Tasks**

- [x] Change the "resubmit" status fo SL review forms to "Submitted"

**Acceptance Criteria**
When the resubmit status has been changed to "Submitted". SL review form once submitted needs to be in "Submitted" status and the ADM can edit the form as well.

[2022-09-28 19:16] T854236 commented on #580
@MeghanStothers

Hi, I was away on vacation but will book a meeting with Aki.

[2022-09-28 21:05] HasanSifat commented on #570
Hi @iman-jamali-fw and @T854236
The requirement to send data to ODS will remain unchanged. However, there might be a change in the requirement for a hard button. We plan on discussing this with Simen tomorrow morning about the current process map and how it may be implemented in the tool before you put in too much work on this. The fields and their responses are somewhat finalized and so you can g

[2022-09-28 21:49] HasanSifat commented on #572
tested successfully in DEV. One issue I noticed, once a selection has been made, it's difficult to cut through to re-edit the field. There is a small cross button that needs to be clicked to remove that name and select a new one. Being able to press backspace would be more friendly from an accessibility point of view.

[2022-09-28 21:50] HasanSifat commented on #600
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/256c0f99-eccb-4963-8d4b-9a039f28db28)

[2022-09-28 21:51] HasanSifat commented on #597
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/2ceaa932-b3b7-4e7f-b8f4-995b932361be)

[2022-09-28 21:54] HasanSifat commented on #602
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/c71e06b9-caf1-4d28-8812-07384232f12e)

[2022-09-28 21:54] HasanSifat commented on #603
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/86492301-aeef-44db-8305-67c5c4c5b68c)

[2022-09-28 21:55] HasanSifat commented on #601
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/7b4b7992-47c7-4b45-82a7-416f4ec3f555)

[2022-09-28 21:56] HasanSifat commented on #598
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/4533fe0d-375d-47a5-8d19-6e88cde16687)

[2022-09-28 21:56] HasanSifat commented on #605
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/107a1be4-16cb-43e6-9e19-e543ad9a658e)

[2022-09-28 21:57] HasanSifat commented on #604
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/d88d41e1-97b2-4717-815a-a02cb071fd38)

[2022-09-28 21:58] HasanSifat commented on #610
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/bb836219-2837-4693-8c03-ad785d9be606)

[2022-09-28 21:58] HasanSifat commented on #609
![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/0a297988-24f8-43a2-b5a3-c40f4a2dbb1f)

[2022-09-29 02:04] iman-jamali-fw commented on #570
@T854236  Here is the initial list of SL Review fields. I wasn't sure where to create a spreadsheet and how to show nested objects, so adding the values here. Feel free to update this as the form evolves. I'm not sure about length and allowing for nulls, maybe @simensma-fresh  can comment on that.

@HasanSifat The SL Review form v2 on DEV fields (API names) were updated with these names. I updated

[2022-09-29 07:18] bhumin-fw commented on #573
@Stella-Archer @HasanSifat
It is ready to test in the DEV environment.
Ticket 572 can be tested with this one. Employee search API required authentication user with role `sl-review-adm` on a keylock.

[2022-09-29 15:50] HasanSifat commented on #573
I've done one round of tests. The work city field is somehow being populated with the wrong info.

[2022-09-29 15:58] T854236 commented on #570
@iman-jamali-fw @simensma-fresh

Please let me know what you'll allow in the application for string length or do you want us to set to 50 characters for now.  For the string yes/no, can that use boolean on the endpoint?

[2022-09-29 16:09] HasanSifat commented on #553
We have ticket 601 to address 3.2 of the above comment. 3.1 needs to be addressed after 3.1/601 has been solved. The decision from the program team is to enable the draft feature globally and make sure it's working accurately

[2022-09-29 16:23] HasanSifat opened #611 "SL Review: Final QA on content"
**User Story**
As a forms designer, I want the SL form to be consistent with web-style standards and accessibility requirements.

**Tasks**

- [x] Consult the content team

- [x] Get form reviewed

- [x] Apply final changes

**Acceptance Criteria**
When the form is consistent and standardized

[2022-09-29 16:57] Stella-Archer opened #612 "Mat/Pat: Show workflow based on eligibility using appointment status from ODS"
**User Story**
As a mat/pat applicant I want go to the appropriate workflow based on my eligibility that is decided by my appointment status

**Acceptance Criteria**
- [x] In the basic info screen, if appointment status is ~J or K~ K or L, go to the [not eligible screen](https://miro.com/app/board/uXjVOWaGSE0=/?moveToWidget=3458764536517404784&cot=14)
- [x] For all other appointment statuses go to

[2022-09-29 17:00] T854236 commented on #570
[SL_ODS Data mapping.xlsx](https://github.com/bcgov/digital-journeys/files/9677196/SL_ODS.Data.mapping.xlsx)

Please review attachment with some recommendations on the endpoint creations.

[2022-09-29 17:06] HasanSifat commented on #573
I've looked at the data fields and have the following concerns-
1. ministry fields need to be prepopulated
2. ADM/supervisor name needs to be pre-populated
3. ADM/Supervisor email field needs to be pre-populated

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/5f6450fe-b328-4b87-8c69-896ab3b3c968)

[2022-09-29 17:07] HasanSifat commented on #573
@bhumin-fw if you look at my screenshot above my peoplesoft info for work location is saved as victoria. But somehow it's showing up as vancouver.

[2022-09-29 17:20] bhumin-fw commented on #573
@HasanSifat We have discussed that we will pre-populate the ADM name and email from the logged-in user that's why it's blank. Let me update the API to populate it from the ODS data and pre-fill it for the selected employee.

Regarding the data that we are receiving from API. here is the full object. for name **Hasan Sifat**
In this object city is Victoria but the office_city is Vancouver.
Please d

[2022-09-29 17:21] HasanSifat commented on #578
- [ ] As a new user, I'm able to log into the platform using my IDIR
- [ ] As an existing user, I'm able to log into the platform using my IDIR
- [ ] As an existing user, I'm able to see all tasks I previously had access to
- [ ]  As an existing user, I'm able to see all applications I previously had access to
- [ ]  Pre-population of the Telework form still works as expected if I try to fill out

[2022-09-29 17:23] HasanSifat commented on #573
@bhumin-fw  yes lets go with "city" and for the supervisor field- lets prepopulate them so yeah you can go ahead and hook up the api endpoints

[2022-09-29 17:41] HasanSifat commented on #602
the icons and the underline can go as well

[2022-09-29 17:51] HasanSifat commented on #599
not needed at this time!

[2022-09-29 17:52] #599 closed

[2022-09-29 20:12] HasanSifat commented on #570
post submission, if the ADM goes back to the form and resubmits again, would it replace the existing data that was captured from the form?

[2022-09-29 20:17] HasanSifat commented on #584
not needed with an updated process map.

[2022-09-29 20:23] #584 closed

[2022-09-29 20:43] bhumin-fw commented on #573
@HasanSifat updated the below details in the SL review 2.0
1. **ministry** (populated with **Organization** value received from ODS)
2. ADM/supervisor name and email are populated with **supervisor_name/email** values from the ODS data.
3. work city now populates the value of "**city**" key from ODS data instead of **office_city**

[2022-09-29 21:27] iman-jamali-fw commented on #570
@T854236, The goal is to initially post the SL review submission to an endpoint. ADM can later come back to the same form submission and resubmit. The question is, how ODS can handle the subsequent edit to the original submission? Can you provide a put/patch version of the same endpint to somehow update by something like `applicationId`, or, we just post to the same endpoint, and you'll resolve th

[2022-09-29 21:31] T854236 commented on #570
@iman-jamali-fw we can allow PUT for updates by applicationID if that is the unique identifier.

[2022-09-29 22:42] simensma-fresh opened #614 "Spring4Shell Vulnerability in Camunda"
https://spring.io/blog/2022/04/13/spring-framework-data-binding-rules-vulnerability-cve-2022-22968

[2022-10-03 12:28] bhumin-fw commented on #572
@HasanSifat
For now, it enables you to start a new search without clicking on the x icon. When you click on the name again it will open a search popup and you can begin typing a new name.

The same control is not allowed in the selected name itself. It's a select component hence value cannot be changed.
To enable backspace in the name, we must introduce a new component in which we will add a text

[2022-10-03 15:48] Stella-Archer commented on #555
prod is live

[2022-10-03 15:51] #555 closed

[2022-10-03 15:53] Stella-Archer commented on #109
waiting for search function 572

[2022-10-03 15:56] T854236 opened #617 "ODS: Possibility to have a copy of the employee demographic information in formsflow"
If possible, recommendation to have a copy of the employee demographic data in formsflow to be used by all the forms used.

This should allow better performance if data is within local environments and reduce the amount of API calls to BI API servers

**Notes**
- Will caching work? @iman-jamali-fw
- What is the advantage? Is it worth it? How many calls can we reduce?
- Does it affect PIA?

[2022-10-03 16:10] HasanSifat commented on #553
Tested in DEV. Ready to be transferred to TEST and PROD

[2022-10-03 16:11] HasanSifat commented on #109
Tested successfully in DEV. Ready to be transferred to TEST.

@EduardoRamirezBC @JodiLittle please review

[2022-10-03 16:11] HasanSifat commented on #535
Ready to be closed

[2022-10-03 16:11] #535 closed

[2022-10-03 16:15] #553 closed

[2022-10-03 16:20] HasanSifat commented on #572
@bhumin-fw @simensma-fresh That makes sense. The team has agreed to stick with the drop-down field. Also I tested the feature to day this morning. It's not working right now

@EduardoRamirezBC @JodiLittle please review and confirm if this feature is working correctly and as per requirements for you.

[2022-10-03 16:47] Stella-Archer commented on #578
@iman-jamali-fw  to test the first 'New user' criteria we need to have you remove Hasan completely from KeyCloak

[2022-10-04 13:51] bhumin-fw commented on #602
@HasanSifat
Added new Draft tab. As "Admin" tab is role-based and not visible to all the users.
The new nav bar and the draft page will look like the below image. Please review and do let me know if you find any corrections or do not match the requirements.
![image.png](https://images.zenhubusercontent.com/62e98579ff9c075848ccdb67/e3d51336-ad3b-43e5-8185-a340c34d43f4)

cc: @simensma-fresh

[2022-10-04 15:48] bhumin-fw commented on #602
@HasanSifat For sure, Let me change its position and add PR.

[2022-10-04 16:19] Abuchana commented on #570
[https://app.zenhub.com/files/439477060/2ef4d92e-4909-4e5e-a7aa-a04517530b97/download]

[2022-10-04 17:20] Stella-Archer opened #620 "[TOOL]: Audit and mitigate impacts of FF5.0 upgrade on all forms in Digital Journeys"
**User Story**
As a product owner I need to audit all impacts of the FF5.0 upgrade and any global impacts of SL Review form so I can identify, mitigate, and change manage the impacts on any other forms in the system with their forms owners.

**Tasks**

- [x] - Identify tickets/issues with global impacts
- [x] - add as dependencies here
- [x] - when those tickets arrive in QA separately review for

[2022-10-04 18:30] fazil-ey commented on #570
@iman-jamali-fw I have added the required fields along with data constraints for most fields to the [doc](https://bcgov.sharepoint.com/:x:/r/teams/03991/Shared%20Documents/SL%20Review/3.%20Technical%20Requirements/sl-review-data-mapping.xlsx?d=wffb040e6134940d39508aec334c1c2fe&csf=1&web=1&e=bfQdkc). We need to confirm a couple of things, but for the most part we should be good. Will keep you poste

[2022-10-04 20:13] Abuchana commented on #576
@Stella-Archer, can you provide an estimate for this ticket?

[2022-10-04 20:16] Abuchana commented on #580
@T854236, can you provide an estimate for this ticket? And this assigned to all the people it needs to be? There are no Devs assigned...

[2022-10-04 20:18] T854236 commented on #580
@Abuchana we would need input from a forms developer for the effort.  The job record already exists in the API endpoint being consumed.

[2022-10-04 20:21] Abuchana commented on #580
@T854236, are you thinking PSA Dev or EY Dev?

[2022-10-04 20:32] T854236 commented on #580
@Abuchana I suppose that depends on who can add a new field on the form from the API endpoint.  I'm not sure if a PSA dev does that now?

[2022-10-04 20:35] Abuchana commented on #580
@HasanSifat, who would be the dev on this ticket? TES Dev or PSA Dev? we need to assign it accordingly...

[2022-10-04 20:39] HasanSifat commented on #580
For now, this would be Dev-PSA and that is because we still are looking into solutions to this particular issue. But not a priority for the next sprint or at least till SL review launch.

[2022-10-04 20:40] HasanSifat commented on #576
I put in an estimate of 5 for now but i can anticipate this to be more complex as we'll have to dig into multiple places to change the messaging.

[2022-10-04 20:44] Abuchana commented on #580
@HasanSifat thank you. So pull it into the product backlog and assign it to...?

[2022-10-04 20:46] HasanSifat commented on #580
yes product backlog and assigned to Me/Stella. I see Patrick is already tagged.

[2022-10-04 21:48] HasanSifat opened #621 "SL Review: Confirmation page after "Submit for validation" button"
**User Story**
As an ADM, I want to see a confirmation page after I have clicked on submit for validation button to give me more information about the next steps.

**Tasks**

- [ ] Currently, users are routed to the telework confirmation page after clicking button

- [ ] Clicking on submit for validation button in SL review form will take users to this page

- [ ] Copy for page-

Thank you for you

[2022-10-04 22:07] HasanSifat commented on #572
@bhumin-fw the enter name field is still not working in Dev. Did you have a chance to look at it? the pre-population fields are also not filling out with that selected person's info

[2022-10-04 22:08] HasanSifat commented on #574
tested successfully in Dev. Ready to be transferred to TEST

[2022-10-04 22:08] HasanSifat commented on #575
Tested successfully in DEV. Ready to be transferred to TEST

[2022-10-05 12:03] bhumin-fw commented on #572
@HasanSifat
I'm trying to generate the same scenario on dev or local, But no luck, It works fine for Simen, Iman, and mine login. I did check issues in the form-io library but no such issue logged so far.
I'll keep you posted if I'll find anything that we can note down or fix in the form itself.

Meanwhile, could you please check with anyone else on your side if its working fine or not?

[2022-10-05 16:39] iman-jamali-fw commented on #570
Hi @T854236 (cc @fazil-ey),
Do ODS fields support variable character length? And what is the max character length?
There is a number of fields in the SL Review form that have a word limit, looking for a safe way to capture those fields in ODS.

[2022-10-05 16:53] chriscaldwell-psa opened #624 "Manager/supervisor sign-off section not appearing in final PDF."
Background: Manager/supervisor sign-off section missing from final PDF.

Steps to Reproduce: Supervisor selects the approval link sent from the employee's confirmation email. Supervisor approves/rejects the agreement whereby a final PDF is generated.

Actual Behavior: Manager/supervisor sign-off section not appearing in final PDF

Expected Behaviour:Manager/supervisor sign-off section should appea

[2022-10-05 17:51] HasanSifat commented on #602
Tested successfully in DEV. Ready to be transferred to TEST and PROD

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/49135dcd-7b6b-47c4-bd71-03d5261ecef8)

[2022-10-05 17:53] HasanSifat commented on #603
@bhumin-fw I can see the description in the draft forms tab. But can you make the description font to be black? It's a grey color now

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/db4dd959-85c2-49fe-82dc-c06d94273e07)

[2022-10-05 17:54] HasanSifat commented on #605
Tested successfully in DEV. Ready to be transferred to TEST and PROD

[2022-10-05 17:56] HasanSifat commented on #608
Tested successfully in DEV. Ready to be transferred to TEST and PROD

![image.png](https://images.zenhubusercontent.com/61e5b78d9a5a1eb2ba7a92c3/135a8928-fb0f-49ea-b11f-a1ce6bcc95ab)

[2022-10-05 18:00] Stella-Archer commented on #597
this is complete and ready for @MeghanStothers - I'm moving it over to PO review
![image.png](https://images.zenhubusercontent.com/61e5ab4a9a5a1e4bd27a92b8/e95a9935-daf9-4ed2-b43e-20287033b019)

[2022-10-05 19:25] MeghanStothers commented on #597
Please adjust to slightly shorter:  Complete and submit new forms.

Thanks. One question: is the work "new" required? Will users be filling out a new form every time they arrive at the tab? If so, please keep the word, or remove if this isn't accurate and have Complete and submit forms.

Thanks!

[2022-10-05 19:48] T854236 commented on #570
@iman-jamali-fw yes it can support varchar.  Is 5k characters enough?  Lower the better to minimize bandwidth.

[2022-10-06 08:52] bhumin-fw commented on #603
@HasanSifat
It was default CSS, Changed the description color to black on both pages Application and Draft.

[2022-10-06 16:13] HasanSifat opened #625 "Mat/Pat: CRM ticket generated upon form approval"
Explore how to create a CRM ticket after form submission/form approval.

**To be decided**
- Method for creating CRM ticket - API vs mailbox. (API is preferred)
- Service category the ticket has to be created under
- How should the data be sent? as a pdf attached to ticket? Are any fields required?
    - How does the CRM team prefer to receive the data? PDF?
- Confirmation of submission, tracking

[2022-10-06 17:27] HasanSifat opened #626 "TOOL: Tasks Tab | Rename tab to "Review and Process Forms""
**Tasks**

- [ ] Change name of tab to : Review and Process Forms

[2022-10-06 17:28] HasanSifat opened #627 "TOOL: Add description under "Review and Process" tab"
**Tasks**

- [x] Add description under the title- Contains all forms that need to be reviewed.

[2022-10-06 17:32] HasanSifat opened #628 "SL Review: Rename tasks for SL Review in Tasks tab"
**User Story**
As an ADM, I want to see more information in the tasks tab related to the submissions I made through the SL Review form

**Tasks**

- [ ] Rename entries of SL review from in tasks tab to say "Senior Leadership Review Form for XXXXXX"

**Acceptance Criteria**
When entries in the task tab for SL review form has the information mentioned above.

[2022-10-06 17:48] HasanSifat commented on #549
new group added in keycloak- SL Review ADM. This group will have access to form pre population and also access to the form

Simen setting up meeting with Eddie to get the list and manage the handling of updating this list by the program team.

[2022-10-06 18:23] MeghanStothers commented on #628
As per decision with Jodi SL team:

1) Preferred name is Senior Leadership Review
2) Second choice is Sr Leadership Review

[2022-10-06 18:41] HasanSifat commented on #598
Update: Rename SL review form entries to say "Senior Leadership Review Form for XXXXX"

[2022-10-06 21:28] iman-jamali-fw commented on #570
@fazil-ey How long do you want the text length to be based on the 5k limit @T854236 mentioned? Can you specify them on the Excel sheet?

[2022-10-06 21:32] iman-jamali-fw commented on #570
@HasanSifat This is ready for testing on DEV. You should be able to edit your submissions under the `applications` tab. Please note, for now, the data is sent to the Telework endpoint, once we have the data mapping confirmed, @T854236 can help us have an endpoint for SL Review.

[2022-10-11 16:18] HasanSifat commented on #597
@bhumin-fw updated description: "Start a new form"

[2022-10-11 16:18] HasanSifat commented on #575
ready to be transferred to be to TEST

[2022-10-11 16:19] HasanSifat commented on #574
ready to be transferred to test

[2022-10-11 16:20] HasanSifat commented on #602
ready to be transferred to TEST

[2022-10-11 16:22] HasanSifat commented on #603
@bhumin-fw Update to description: All forms that have been started but not yet submitted

[2022-10-11 16:25] HasanSifat commented on #605
ready to be transferred to TEST

[2022-10-11 16:27] HasanSifat commented on #606
@bhumin-fw update to description: All forms that have been submitted

[2022-10-11 16:28] HasanSifat commented on #608
ready to be transferred to TEST

[2022-10-11 17:07] T854236 commented on #612
@Stella-Archer
I believe you are looking for appointment status and category based on the values you shared.  That is available in the existing endpoint used by the Telework forms: https://analytics-testapi.psa.gov.bc.ca/apiserver/api.rsc/Datamart_Telework_employee_demographic/

Column names: appointment_status and empl_ctg

[2022-10-11 19:41] HasanSifat opened #630 "TOOL: DEV environment not allowing data input"
Background: All forms in DEV do not allow for any input on any fields. Specifically or gov.bc.ca users

Steps to Reproduce:
1. Go into DEV with a gov.bc.ca user credential
2. Open the telework/sl review form
3. try to input info into the fields

Actual Behavior:
 1. The fields all revert back to default even after inputting data.

Expected Behaviour:
1. The fields should hold the data being input

[2022-10-11 19:46] HasanSifat opened #631 "SL Review: Custom button "Submit for Validation""
**User Story**
As an ADM, I want to be able to submit information on the SL Review form before the validation process fir reporting purposes.

**Tasks**

- [x] Create "Submit for validation" button in SL Review 2.0 form

- [x] Ensure data gets passed onto ODS endpoint once button is clicked

- [x] the validation checks for final sign-off panel does not trigger when clicking on this button

- [x] U

[2022-10-11 22:43] HasanSifat opened #632 "SL Review: Confirmation page after "Final Submit" button"
**User Story**
A confirmation window after the final submit button is pressed.

**Tasks**

- [ ] Currently a green popup with telework messaging shows up

- [ ] Copy:

Thank you for your commitment to supporting career development of your Senior Leadership team and for your contribution to executive succession.

- The information you’ve provided will be shared with Executive Talent Management, Cor

[2022-10-11 23:20] HasanSifat commented on #570
tested fine in the SL review form for me. I could search for a particular user by typing. I think we can keep this in review till we get confirmation from Patrick that the endpoint for SL review has been made in ODS

[2022-10-11 23:21] HasanSifat commented on #598
Tested successfully in DEV. Ready to be transferred to TEST and PROD

[2022-10-11 23:21] HasanSifat commented on #607
tested successfully in DEV. Ready to be transferred to TEST

[2022-10-11 23:21] HasanSifat commented on #572
Tested successfully in DEV. Ready to be transferred to PROD

[2022-10-11 23:23] HasanSifat commented on #573
tested successfully in DEV. Ready to be transferred to TEST/PROD

[2022-10-11 23:57] T854236 commented on #570
@HasanSifat can you confirm you are ok with the size limits on the data structure?  It appears maximum length for comments/text fields are 255 characters long as per the spreadsheet.

[2022-10-12 00:01] HasanSifat commented on #572
One bug I noticed, the search field does not refresh if someone made a typo. The search feature does not give out any options if i remove anything i typed before

[2022-10-12 00:51] HasanSifat commented on #570
@T854236 I have reviewed the spreadsheet with Fazila and the data constraints for all the fields look okay to me. Although for the fields we are pre-populating in the personal information section, it would be good to know the constraints on the ODS side. I've put in a comment in the spreadsheet beside those fields and you can find it here- https://bcgov.sharepoint.com/:x:/t/03991/EeZAsP9JE9NAlQiuw